{% extends "base.html" %}
{% block body %}

<div id="main">
  <div class="header">
      <h1>be動詞(I am~, I was~)</h1>
  </div>

  <div class="content">

  	<p>be動詞を使った現在形は非常に頻繁に出て来ます。</p>

    <h2>肯定文</h2>

    <div class="grammar">
    	<p align="center">名詞　＋　am/is/are　＋　名詞</p>
    </div>

	  <p class="example">I am Mike.</p>
		<p class="translation">私はマイクです。</p>
	  <p class="example">He is a student.</p>
		<p class="translation">彼は生徒です。</p>
	  <p class="example">We are designers.</p>
		<p class="translation">私たちはデザイナーです。</p>

    <div class="grammar">
    	<p align="center">名詞　＋　am/is/are　＋　形容詞</p>
    </div>

	  <p class="example">I am busy.</p>
		<p class="translation">私は忙しいです。</p>
	  <p class="example">You are funny.</p>
		<p class="translation">あなたは面白いです。</p>
	  <p class="example">She is beautiful.</p>
		<p class="translation">彼女は美しいです。</p>

    <div class="grammar">
    	<p align="center">名詞　＋　am/is/are　＋　副詞</p>
    </div>

	  <p class="example">I am at home.</p>
		<p class="translation">私は家にいます。</p>
	  <p class="example">He is here.</p>
		<p class="translation">彼はここにいます。</p>
	  <p class="example">They are in a room.</p>
		<p class="translation">彼らは部屋の中にいます。</p>

		<h2>否定文</h2>

    <div class="grammar">
    	<p align="center">名詞　＋　am/is/are　＋　not　＋　名詞/形容詞/副詞</p>
    </div>

	  <p class="example">He is not a student.</p>
		<p class="translation">彼は生徒ではありません。</p>
	  <p class="example">I am not busy.</p>
		<p class="translation">私は忙しくありません。</p>
	  <p class="example">He is not there.</p>
		<p class="translation">彼はそこにいません。</p>

		<h2>疑問文</h2>

    <div class="grammar">
    	<p align="center">am/is/are　＋　名詞　＋　名詞/形容詞/副詞 ?</p>
    </div>

	  <p class="example">Are you a student?</p>
		<p class="translation">あなたは生徒ですか？</p>
	  <p class="example">Are you busy?</p>
		<p class="translation">あなたは忙しいですか？</p>
	  <p class="example">Are you at home?</p>
		<p class="translation">あなたは家にいますか？</p>

		<h2>他の疑問文の形</h2>

	  <p class="example">Where are you?</p>
		<p class="translation">あなたはどこですか？</p>
	  <p class="example">Who are they?</p>
		<p class="translation">彼らは誰ですか？</p>
	  <p class="example">What is that?</p>
		<p class="translation">あれは何ですか？</p>

		<h2>過去形</h2>

		<p>過去の事を表す時には過去形を使います。<span class="inline">am/is</span>を<span class="inline">was</span>に、<span class="inline">are</span>を<span class="inline">were</span>に変えるだけで、上記の例は全て過去形になります。</p>

	  <p class="example">He was a student.</p>
		<p class="translation">彼は生徒でした。</p>
	  <p class="example">I was not busy.</p>
		<p class="translation">私は忙しくありませんでした。</p>
	  <p class="example">Were you at home last night?</p>
		<p class="translation">昨夜家にいましたか？</p>


  </div>
</div>

{% endblock %}