{% extends "base.html" %}
{% block body %}

<div id="main">
  <div class="header">
      <h1>both, neither, either</h1>
  </div>

  <div class="content">

  	<p><span class="inline">both</span>/<span class="inline">neither</span>/<span class="inline">either</span>は、それぞれ<span class="inline">all</span>/<span class="inline">no</span>/<span class="inline">any</span>と同じ意味ですが、２つのものに対して使う代名詞です。</p>

  	<p>例</p>

	  
  	<div class="set">
	  <p class="example">Both problems are important.</p>
		<p class="translation">どちらの問題も重要です。</p>
	  </div>
		<div class="set">
	  <p class="example">Neither problem is important.</p>
		<p class="translation">どちらの問題も重要ではないです。</p>
	  </div>
		<div class="set">
	  <p class="example">Either way is fine.</p>
		<p class="translation">どちらの方法でも構いません。</p>
		</div>

		<h2>both/neither/either of　＋　名詞</h2>

		<p><span class="inline">both/neither/either of　＋　名詞</span>の形はよくあります。</p>

		<p>例</p>

	  
		<div class="set">
	  <p class="example">Both of my parents are from San Diego.</p>
		<p class="translation">私の両親は両方共サンディエゴ出身です。</p>
	  </div>
		<div class="set">
	  <p class="example">Neither of us speaks French.</p>
		<p class="translation">私達は両方フランス語を話しません。</p>
	  </div>
		<div class="set">
	  <p class="example">Does either of you have a driver's licence?</p>
		<p class="translation">どちらか運転免許証を持っていますか？</p>
		</div>

		<h2>否定文</h2>

		<p><span class="inline">both</span>と<span class="inline">neither</span>は逆の意味を持つので、否定文は必要ありません。<span class="inline">either</span>の否定文は<span class="inline">any</span>と似ていて「どちらも〜ない」という意味です。</p>

		<p>例</p>

	  
		<div class="set">
	  <p class="example">(Jack) I've been to Singapore and Germany. Have you been to either of them?</p>
		<p class="translation">私はシンガポールとドイツに行ったことがあります。どちらかに行ったことはありますか？</p>
	  </div>
		<div class="set">
	  <p class="example">(Kate) No, I haven't been to either of them.</p>
		<p class="translation">いいえ、私はどちらにも行ったことがありません。</p>
		<p class="explanation"><i class="fa fa-info-circle"></i><span class="inline">× I haven't been to both of them</span>ではないので注意しましょう。<span class="inline">I've been to neither of them.</span>でも同じ意味ですが、<span class="inline">neither</span>は主に主語として使われるのでこの場合は否定文に<span class="inline">either</span>を使う方が自然です。</p>
		</div>

		<h2>相関接続詞</h2>

		<p>接続詞のユニットで<span class="inline">and</span>と<span class="inline">or</span>を学びましたが、<span class="inline">both</span>や<span class="inline">either</span>を一緒に使う場合がよくあります。</p>

    <div class="grammar"><p align="center">both　~　and　~<br>neither　~　nor　~<br>either　~　or　~</p></div>

		<p>例</p>

	  
		<div class="set">
	  <p class="example">Both Ryan and his girlfriend went to Canada.</p>
		<p class="translation">Ryanと彼の彼女は両方カナダに行きました。</p>
	  </div>
		<div class="set">
	  <p class="example">Neither Ross nor Beth is available.</p>
		<p class="translation">RossとBethはどちらも手が空いていません。</p>
	  </div>
		<div class="set">
	  <p class="example">Either Ross or Beth should be available.</p>
		<p class="translation">RossかBethどちらかは手が空いているはずです。</p>
		</div>
  </div>
</div>

{% endblock %}