{% extends "base.html" %}
{% block body %}

<div id="main">
  <div class="header">
      <h1>can</h1>
  </div>

  <div class="content">

  	<p><span class="inline">can</span>は「〜出来る」という意味です。一口に「出来る」と言っても、様々なシチュエーションで使うことが出来ます。</p>

    <h2>肯定文</h2>

    <div class="grammar"><p align="center">名詞　＋　can　＋　動詞原形</p></div>

    <p>例</p>

	  
    <div class="set">
	  <p class="example">I can play guitar.</p>
		<p class="translation">私はギターを弾くことが出来ます。</p>
		<p class="explanation"><i class="fa fa-info-circle"></i>この<span class="inline">can</span>は「〜をするスキルがある」という意味です。</p>
		</div>
	  
		<div class="set">
	  <p class="example">You can play guitar outside.</p>
		<p class="translation">外ではギターを弾いていいですよ。</p>
		<p class="explanation"><i class="fa fa-info-circle"></i>この<span class="inline">can</span>は先ほどと違い「〜することが許される」という意味です。</p>
		</div>
	  
		<div class="set">
	  <p class="example">I can see the stars.</p>
		<p class="translation">星が見えます。</p>
		<p class="explanation"><i class="fa fa-info-circle"></i>この<span class="inline">can</span>は「〜することが可能である」という意味です。</p>
		</div>

		<h2>否定文</h2>

    <div class="grammar"><p align="center">名詞　＋　can not　＋　動詞原形</p></div>

    <p><span class="inline">can not</span>は<span class="inline">can't</span>に省略出来ます。</p>

    <p>例</p>

	  
    <div class="set">
	  <p class="example">I can't swim.</p>
		<p class="translation">私は泳げません。</p>
	  </div>
		<div class="set">
	  <p class="example">You can't go to his office. He is in the meeting.</p>
		<p class="translation">彼のオフィスには行ってはいけません。彼はミーティング中です。</p>
	  </div>
		<div class="set">
	  <p class="example">I can't remember her phone number.</p>
		<p class="translation">彼女の電話番号を思い出せません。</p>
		</div>

		<h2>疑問文</h2>

    <div class="grammar"><p align="center">Can　＋　名詞　＋　動詞原形 ?</p></div>

		<p>例</p>

	  
		<div class="set">
	  <p class="example">Can I talk to you for a second?</p>
		<p class="translation">ちょっと話してもいいですか？（ちょっと話しがあるのですが？）</p>
	  </div>
		<div class="set">
	  <p class="example">Can you solve this problem?</p>
		<p class="translation">この問題を解けますか？</p>
	  </div>
		<div class="set">
	  <p class="example">Can you open the window?</p>
		<p class="translation">窓を開けてもらっていいですか？</p>
	  </div>
		<div class="set">
	  <p class="example">Can I borrow your pen?</p>
		<p class="translation">あなたのペンを借りてもいいですか？</p>
		</div>
  </div>
</div>

{% endblock %}