{% extends "base.html" %}
{% block body %}

<div id="main">
  <div class="header">
      <h1>could</h1>
  </div>

  <div class="content">

  	<p><span class="inline">could</span>は<span class="inline">can</span>の過去形として「〜出来た」という意味で使う人が沢山いますが、大抵それは間違いです。「〜出来た」という時は<span class="inline">was able to ~</span>や<span class="inline">managed to ~</span>という表現が使えますが、ただの過去形だけでOKな場合が多いです。</p>

    <h2>肯定文</h2>

    <div class="grammar"><p align="center">名詞　＋　could　＋　動詞原形</p></div>

    <div class="set">
	  <p class="example">(Riley) I think I'm underpaid.</p>
		<p class="translation">給料が少ないと思う。</p>
		<p class="explanation"><i class="fa fa-info-circle"></i><span class="inline">underpaid</span>というのは自分の能力に対して給料が低いことを指します。</p>		
		</div>

    <div class="set">
	  <p class="example">(Josh) You could ask for a raise.</p>
		<p class="translation">給料を上げてもらうよう頼んだらいいじゃん。</p>
		</div>
	  
		<div class="set">
	  <p class="example">I could stay home and relax, but I would rather go out.</p>
		<p class="translation">家でリラックスすることは出来るが、それよりは外に出かけたい。</p>
<!-- 		<p class="explanation"><i class="fa fa-info-circle"></i>ここでの<span class="inline">could</span>は”選択肢”や”可能性”という意味で使われています。</p> -->
		</div>

		<h2>否定文</h2>

		<div class="grammar"><p align="center">名詞　＋　could not　＋　動詞原形</p></div>

		<p><span class="inline">could not</span>は<span class="inline">couldn't</span>に省略出来ます。</p>

		<p>例</p>

	  
		<div class="set">
	  <p class="example">I could not sleep last night.</p>
		<p class="translation">昨夜寝れませんでした。</p>
		</div>

		<h2>過去形、完了形</h2>

		<div class="grammar"><p align="center">名詞　＋　could (not) have　＋　過去分詞</p></div>

		<p><span class="inline">could have</span>は<span class="inline">could've</span>に省略出来ます。</p>

		<p>例</p>

	  
		<div class="set">
	  <p class="example">We could have gone to a different restaurant.</p>
		<p class="translation">私たちは違うレストランに行く事も出来た。</p>
	  </div>
		<div class="set">
	  <p class="example">You were so lucky. You could have died.</p>
		<p class="translation">あなたは本当にラッキーでした。死ぬことになったかもしれませんでした。</p>
		</div>

		<h2>疑問文</h2>

		<div class="grammar"><p align="center">Could　＋　名詞　＋　動詞原形</p></div>

		<p><span class="inline">could</span>の疑問文は<span class="inline">can</span>とほぼ同じで、お願いする時に使われます。<span class="inline">can</span>は”〜出来ますか”という使い方も出来ますが、<span class="inline">could</span>で”〜を出来ましたか”という使い方は出来ないので注意しましょう。</p>

		<p>例</p>

	  
		<div class="set">
	  <p class="example">Could you wait a moment?</p>
		<p class="translation">少々お待ち頂けますか？</p>
	  </div>
		<div class="set">
	  <p class="example">Could you open the window, please?</p>
		<p class="translation">窓を開けてもらっていいですか？</p>
	  </div>
		<div class="set">
	  <p class="example">Could I borrow your pen?</p>
		<p class="translation">あなたのペンを借りてもいいですか？</p>
		</div>
  </div>
</div>

{% endblock %}