<template name="could">
{{#markdown}}

#could
<br>

couldはcanの過去形ですが、それ以外の使い方の方が多いです。

###肯定文

	主語　＋　could　＋　動詞原形

例

I could see the stars an hour ago.

１時間前に星が見えました。

<hr>

(Julia) What are you doing this weekend?

今週末何してるの？

(Travis) I could stay home and relax.

家でリラックスすることは出来るな。

ここでのcouldは”選択肢”や”可能性”という意味で使われています。

<hr>

###否定文

	主語　＋　could not　＋　動詞原形

could notはcouldn'tに省略出来ます。

例

I could not sleep last night.

昨夜寝れませんでした。

<hr>

###過去形、完了形

	主語　＋　could (not) have　＋　動詞過去完了形

例

We could have gone to a different restaurant.

私たちは違うレストランに行く事も出来た。

You were so lucky. You could have died.

あなたは本当にラッキーでした。死ぬことになったかもしれませんでした。

<hr>

###疑問文

	　Could　＋　I/you　＋　動詞原形

couldの疑問文はcanとほぼ同じで、お願いする時に使われます。canは”〜出来ますか”という使い方も出来ますが、couldで”〜を出来ましたか”という使い方は出来ないので注意しましょう。

例

Could you wait a moment?

少々お待ち頂けますか？

Could you open the window, please?

窓を開けてもらっていいですか？

Could I borrow your pen?

あなたのペンを借りてもいいですか？


{{/markdown}}
</template>