{% extends "base.html" %}
{% block body %}

<div id="main">
  <div class="header">
      <h1>(I'm) going to (do)</h1>
  </div>

  <div class="content">

  	<p><span class="inline">going to~</span>は、「何かすることを決めてそれをする予定」という意味です。</p>

    <h2>肯定文</h2>

    <div class="grammar"><p align="center">名詞　＋　am/are/is　＋　going to　＋　動詞原型</p></div>

    <p><span class="inline">going to</span>は<span class="inline">gonna</span>と省略出来ますが、文語で使ってはいけません。</p>

    <p>例</p>

	  
    <div class="set">
	  <p class="example">I'm going to play porker with my friends tonight.</p>
		<p class="translation">私は今夜友達とポーカーをする予定です。</p>
	  </div>
		<div class="set">
	  <p class="example">I'm going to find my sister.</p>
		<p class="translation">私は姉を探す予定です。</p>
		</div>

		<p><span class="inline">going to~</span>は、何かが起こるという意味でも使われます。</p>

	  
		<div class="set">
	  <p class="example">She is going to be late for the class.</p>
		<p class="translation">彼女は講義に遅刻してくる。</p>
		<p class="explanation"><i class="fa fa-info-circle"></i>これは彼女が自ら率先して遅刻しようとしているのではなく、話し手の目線から、彼女が遅刻してくることが明らかであるということを表現しています。</p>
		</div>
	  
		<div class="set">
	  <p class="example">I'm going to fail this class.</p>
		<p class="translation">私はこのクラスを落とすだろう。</p>
	  </div>
		<div class="set">
	  <p class="example">It's going to rain soon.</p>
		<p class="translation">もうすぐ雨が降るだろう。</p>
		</div>

		<p>「〜に行く予定」と言う時は<span class="inline">going to go to ~</span>と言っても良いですが、<span class="inline">going to ~</span>と省略することも出来ます。</p>
		
		<div class="set">
	  <p class="example">I'm going to (go to) the hospital next Tuesday.</p>
		<p class="translation">私は来週の火曜日に病院に行く予定です。</p>
	  </div>
	  <div class="set">
	  <p class="example">I'm going to (go to) the bathroom.</p>
		<p class="translation">お手洗いに行ってきます。</p>
		</div>


		<h2>否定文</h2>

    <div class="grammar"><p align="center">名詞　＋　am/are/is　＋　not going to　＋　動詞原型</p></div>

		<p>例</p>

	  
		<div class="set">
	  <p class="example">He is not going to make it.</p>
		<p class="translation">彼は上手くいかないだろう。</p>
	  </div>
		<div class="set">
	  <p class="example">I'm not going to play porker with my friends tonight.</p>
		<p class="translation">私は今夜友達とポーカーをするつもりではありません。</p>
	  </div>
		<div class="set">
	  <p class="example">We are not going to give up.</p>
		<p class="translation">私たちは諦めるつもりはありません。</p>
		</div>
		
		<h2>疑問文</h2>

    <div class="grammar"><p align="center">Am/Are/Is　＋　名詞　＋　going to　＋　動詞原型 ?</p></div>

    <p>例</p>

	  
    <div class="set">
	  <p class="example">Are you going to study tonight?</p>
		<p class="translation">あなたは今夜勉強する予定ですか？</p>
	  </div>
		<div class="set">
	  <p class="example">Are you going to give up?</p>
		<p class="translation">あなたは諦めるつもりですか？</p>
		</div>

		<h2>他の疑問文の形</h2>

	  
		<div class="set">
	  <p class="example">We missed the flight! What are we going to do?</p>
		<p class="translation">飛行機を逃しちゃった！どうしよう？（何をする予定ですか？）</p>
		</div>

		<h2>過去形</h2>

		<p><span class="inline">going to</span>の過去形は「〜をするつもりだった」という意味です。</p>

		<div class="grammar"><p align="center">名詞　＋　was/were　＋　going to　＋　動詞原型</p></div>

		<p>例</p>

	  
		<div class="set">
	  <p class="example">I was going to play poker tonight. (but I decided not to do it.)</p>
		<p class="translation">私は今夜ポーカーをする予定だった。（でもしないことにした。）</p>
	  </div>
		<div class="set">
	  <p class="example">I was going to quit my job last week. (but I didn't.)</p>
		<p class="translation">先週私は仕事を辞める予定だった。（でも辞めなかった。)</p>		
		</div>
  </div>
</div>

{% endblock %}