{% extends "base.html" %}
{% block body %}

<div id="main">
  <div class="header">
      <h1>If (I do)</h1>
  </div>

  <div class="content">

  	<p><span class="inline">If</span>は「もし」という意味です。<span class="inline">when</span>と同じで必然的に２つの節が必要です。</p>

    <div class="grammar"><p align="center">If　＋　節(ifパート)　＋　, (then)　＋　節(メインパート)<br>
    																			 節(メインパート)　＋　if　＋　節(ifパート) </p></div>

    <p>どの時制を使うかで当然意味は変わってきますが、本来の時制の意味と若干違うので注意が必要です。<span class="inline">then</span>は入れても入れなくても大丈夫です。</p>

    <h2>ifパート - 現在形、 メインパート - 現在形/未来形/命令形</h2>

    <p>これが基本的な形になります。</p>

    <p>例</p>

	  
    <div class="set">
	  <p class="example">If I get an email from Fred, I will let you know.<br>
	  I will let you know if I get an email from Fred.</p>
		<p class="translation">もしFredからメールが来たら知らせるよ。</p>
		<p class="explanation"><i class="fa fa-info-circle"></i><span class="inline">When</span>を<span class="inline">if</span>に変えた以外は<a href="{{url_for('post', name='When_I_do', _external=True)}}">when の時に紹介した文</a>と全く同じです。この文は、Fredからメールが来るかどうか分からないということを暗示しています。</p>
		</div>
	  
		<div class="set">
	  <p class="example">If you want to start a business, don't wait.</p>
		<p class="translation">もし起業したいなら、待つな。</p>
		</div>

		<div class="set">
	  <p class="example">If you can’t explain it simply, you don’t understand it well enough.</p>
		<p class="translation">簡潔に説明出来ないのは十分に理解していないからだ。 - Albert Einstein</p>
		</div>

	

		<h2>ifパート - 過去形、メインパート - would</h2>

		<p>ifパートが過去形になると、「もし仮に起こったら」という意味になります。メインパートには<span class="inline">would</span>を使います。過去形を使っているからといって過去の事を話しているわけではありません。</p>

		<p>例</p>

	  
		<div class="set">
	  <p class="example">I don't have money. If I <strong>had</strong> money, I would buy a house.</p>
		<p class="translation">私はお金が無い。もしお金があったら私は家を買うだろう。</p>
	  </div>
		<div class="set">
	  <p class="example">I am not American. If I <strong>were</strong> American, I would not have to learn English.</p>
		<p class="translation">私はアメリカ人ではない。もし私がアメリカ人なら英語を学ばなくていいだろう。</p>
		<p class="explanation"><i class="fa fa-info-circle"></i><span class="inline">If</span>を使う時はbe動詞に<span class="inline">were</span>を使うことが出来ます。普段通り<span class="inline">was</span>を使うことも出来ます。</p>
		</div>
		<div class="set">
	  <p class="example">What would you do if you <strong>won</strong> the lottery?</p>
		<p class="translation">もし宝くじに当たったらどうしますか？</p>
	  </div>

		<h2>ifパート - 過去完了形、メインパート - would (not) have　＋　過去分詞 </h2>

		<span class="inline">would have</span>は<span class="inline">would've</span>に省略出来ます。

		<p>これは過去の事を表現する時に使われます。</p>

		<p>例</p>

	  
		<div class="set">
	  <p class="example">I did not have money. If I had had money, I would have bought a house.</p>
		<p class="translation">私はお金がなかった。もしお金があったら私は家を買っただろう。</p>
		<p>これは先ほどの例と違い、過去の事を話しています。</p>
	  </div>
		<div class="set">
	  <p class="example">I was not busy. If I'd been busy, then I wouldn't have been able to help you.</p>
		<p class="translation">私は忙しくなかった。もし忙しかったら、あなたの事を手伝う事が出来なかった。</p>
		</div>
  </div>
</div>

{% endblock %}