<template name="If_I_do">
{{#markdown}}

#If I do
<br>

Ifは”もし”という意味です。whenと同じで必然的に２つの節が必要です。

	If　＋　ifパート　＋　,　＋　メインパート
	メインパート　＋　if　＋　ifパート 

どの自制を使うかで当然意味は変わってきますが、本来の自制の意味と若干違うので注意が必要です。
<br>
<hr>
####ifパート - 現在形、 メインパート - 未来形/命令形

これが基本的な形になります。

例

If I get an email from Fred, I will let you know.

I will let you know if I get an email from Fred.

もしフレッドからメールが来たら知らせるよ。

Whenをifに変えた以外はwhenの時に紹介した文と全く同じです。この文は、フレッドからメールが来るかどうか分からないということを暗示しています。

<hr>

If you want to start a business, don't wait.

もし起業したいなら、待つな。

<hr>

####ifパート - 過去形、メインパート - would

ifパートが過去形になると、”もし仮に起こったら”という意味になります。メインパートにはwouldを使います。注意しなければならないのは、過去形を使っているからといって過去の事を話しているわけではありません。


例

I don't have money. If I had money, I would buy a house.

私はお金が無い。もしお金があったら私は家を買うだろう。

If I were American, I would not have to learn English.

I am not American. もし私がアメリカ人なら英語を学ばなくていいだろう。 

Ifを使う時はbe動詞にwereを使うことが出来ます。普段通りwasを使うことも出来ます。

<hr>

####ifパート - 過去完了形、メインパート - would (not) have　＋　動詞過去完了形 

これは過去の事を表現する時に使われます。

例

I did not have money. If I had had money, I would have bought a house.

私はお金がなかった。もしお金があったら私は家を買っただろう。

これは先ほどの例と違い、過去の事を話しています。

I was not busy. If I had been busy, I would not have been able to help you.

私は忙しくなかった。もし忙しかったら、あなたの事を手伝う事が出来なかった。



{{/markdown}}
</template>