{% extends "base.html" %}
{% block body %}

<div id="main">
  <div class="header">
      <h1>ingとedで終わる形容詞</h1>
  </div>

  <div class="content">

  	<p>形容詞には<span class="inline">ing</span>と<span class="inline">ed</span>で終わるものが沢山あります。それぞれの違いを理解しましょう。</p>


	  <p class="example">I'm <strong>confused</strong> about this user manual.</p>
		<p class="translation">私はこの説明書に混乱しています。</p>
	  <p class="example">This user manual is <strong>confusing</strong>.</p>
		<p class="translation">この説明書は紛らわしいです。（混乱させる）</p>
		<hr>
	  <p class="example">I'm <strong>excited</strong> about my new role in the company.</p>
		<p class="translation">私は会社での新しい職務にワクワクしています。</p>
	  <p class="example">My new role in the company is <strong>exciting</strong>.</p>
		<p class="translation">私の会社での新しい職務はワクワクさせます。</p>
		<hr>
	  <p class="example">I'm <strong>bored</strong> with my boyfrind.</p>
		<p class="translation">私は彼氏に退屈しています。</p>
	  <p class="example">My boyfriend is <strong>boring</strong>.</p>
		<p class="translation">私の彼氏は退屈です。</p>
		<hr>
	  <p class="example">I was <strong>surprised</strong> (that) I passed the exam.</p>
		<p class="translation">考査に受かったことに驚きました。</p>
	  <p class="example">It was <strong>surprising</strong> that I passed the exam.</p>
		<p class="translation">考査に受かったことは驚きでした。</p>

  </div>
</div>

{% endblock %}