{% extends "base.html" %}
{% block body %}

<div id="main">
  <div class="header">
      <h1>may</h1>
  </div>

  <div class="content">

  	<p><span class="inline">may</span>は<span class="inline">might</span>と似た意味を持つので、<span class="inline">might</span>を使える場面では大抵<span class="inline">may</span>も使えます。<span class="inline">may</span>は<span class="inline">can</span>と似た使い方をすることも出来ます。<span class="inline">can</span>よりも少し固い表現になります。</p>

    <p>例</p>

	  <p class="example">You may leave now.</p>
		<p class="translation">もう出て大丈夫です。</p>
	  <p class="example">You may not call in the hospital.</p>
		<p class="translation">この病院の中では電話してはいけません。</p>

		<p><span class="inline">May I/we ~</span>は”〜してもいいですか？”という意味です。<span class="inline">may</span>を疑問文で使う時は<span class="inline">I</span>と<span class="inline">we</span>しか使えないので注意しましょう。<span class="inline">can</span>のように<span class="inline">May you ~</span>などの表現をすることは出来ません。</p>

	  <p class="example">May I come in?</p>
		<p class="translation">入ってもよろしいでしょうか？</p>

  </div>
</div>

{% endblock %}