{% extends "base.html" %}
{% block body %}

<div id="main">
  <div class="header">
      <h1>might</h1>
  </div>

  <div class="content">

  	<p><span class="inline">might</span>は「〜かもしれない」という意味です。</p>

    <h2>肯定文、否定文</h2>

    <div class="grammar"><p align="center">名詞　＋　might (not)　＋　動詞原形</p></div>

    <p>例</p>

	  
    <div class="set">
	  <p class="example">I might go to the office tomorrow.</p>
		<p class="translation">私は明日オフィスに行くかもしれない。</p>
	  </div>
		<div class="set">
	  <p class="example">She might be working.</p>
		<p class="translation">彼女は働いているかもしれない。</p>
	  </div>
		<div class="set">
	  <p class="example">Joe might not be in his office.</p>
		<p class="translation">Joeは彼のオフィスにいないかもしれない。</p>
		</div>
	  
		<div class="set">
	  <p class="example">You might want to bring your laptop to the class.</p>
		<p class="translation">授業にラップトップ（ノートパソコン）を持って行った方がいいかもしれない。</p>
		<p class="explanation"><i class="fa fa-info-circle"></i><span class="inline">You might want to ~</span>は〜した方がいいかもしれないという意味になります。軽いアドバイスをする時によく使われます。</p>		
		</div>

		<h2>過去形、完了形</h2>

		<div class="grammar"><p align="center">名詞　＋　might (not) have　＋　過去分詞</p></div>

		<p>例</p>

	  
		<div class="set">
	  <p class="example">She might have been working.</p>
		<p class="translation">彼女は働いていたかもしれない。</p>
	  </div>
		<div class="set">
	  <p class="example">Joe might not have been in his office.</p>
		<p class="translation">Joeは彼のオフィスにいなかったかもしれない。</p>
	  </div>
		<div class="set">
	  <p class="example">He might have left early.</p>
		<p class="translation">彼は先に出たのかもしれない。</p>
		</div>
  </div>
</div>

{% endblock %}