{% extends "base.html" %}
{% block body %}

<div id="main">
  <div class="header">
      <h1>mustとhave toの違い</h1>
  </div>

  <div class="content">

  	<p><span class="inline">must</span>と<span class="inline">have to</span>は両方とも「〜しなければならない」という意味ですが、使い方に違いがあります。文を沢山読んで感覚を身につけましょう。
</p>

    <h2>have to</h2>

    <p><span class="inline">have to</span>は<span class="inline">must</span>よりもよく使われます。「やりたくないけど、やらなきゃいけない」というニュアンスが強いです。</p>

    <p>例</p>

    <div class="set">
		  <p class="example">I <strong>have to</strong> do my homework.</p>
			<p class="translation">宿題をしなければいけないです。</p>
		</div>
    <div class="set">
		  <p class="example">He <strong>has to</strong> work part-time to pay his tuition.</p>
			<p class="translation">彼は学費を払うためにパートタイムで働かないといけないです。</p>
		</div>
    <div class="set">
		  <p class="example">Do you <strong>have to</strong> work on Saturday?</p>
			<p class="translation">土曜日に働かなきゃいけないの？</p>
		</div>

		<h2>must</h2>

		<p><span class="inline">must</span>はもっとフォーマルなので、文語で使われることが多いです。</p>

		<p>例</p>

    <div class="set">
		  <p class="example">You <strong>must</strong> be 15 or over to watch the movie.</p>
			<p class="translation">この映画を見るには１５歳以上である必要があります。</p>
		</div>
    <div class="set">
		  <p class="example">You <strong>must</strong> have a google account to sign in to YouTube.</p>
			<p class="translation">YouTubeにサインインするにはGoogleのアカウントを持っている必要があります。</p>
		</div>

		<h2>過去形</h2>

		<p>「〜しなければならなかった」という表現に<span class="inline">must</span>を使うことは出来ません。<span class="inline">had to</span>を使いましょう。</p>

		<p>例</p>

    <div class="set">
		  <p class="example">I <strong>had to</strong> call the police.</p>
			<p class="translation">警察を呼ばなければいけませんでした。</p>
		</div>

		<h2>否定文</h2>

		<p>否定文では<span class="inline">must</span>と<span class="inline">have to</span>は全く違った意味になります。</p>

		<h2>must not</h2>

		<p><span class="inline">must not</span>は「してはいけない」という意味です。</p>

		<p>例</p>

    <div class="set">
		  <p class="example">Most characters in Harry Potter call Voldemort "He-Who-<strong>Must-Not</strong>-Be-Named".</p>
			<p class="translation">ハリーポッターのほとんどのキャラクターがVoldemortを「名前を口に出してはいけない人」と呼びます。</p>
		</div>
    <div class="set">
		  <p class="example">You <strong>must not</strong> watch TVs more than 3 hours a day.</p>
			<p class="translation">1日３時間以上テレビを見てはいけません。</p>
		</div>

		<h2>don't have to</h2>

		<p><span class="inline">don't have to</span>は「〜する必要はない」という意味です。</p>

		<p>例</p>

    <div class="set">
		  <p class="example">You <strong>don't have to</strong> bring your laptop.</p>
			<p class="translation">ノートパソコンを持ってくる必要はありません。</p>
		</div>
    <div class="set">
		  <p class="example">I <strong>didn't have to</strong> help them.</p>
			<p class="translation">彼らを助ける必要は無かった。</p>
		</div>

		<h2>疑問文</h2>

		<p>「〜しなければいけませんか？」という時に「Must I ~ ?」と言う人がいますが、「Do I have to ~ ?」の方が自然です。</p>

		<div class="set">
	  <p class="example">Do I have to come to the office this Saturday?</p>
		<p class="translation">今週の土曜日にオフィスに来なければいけませんか？</p>
		</div>

  </div>
</div>

{% endblock %}





