{% extends "base.html" %}
{% block body %}

<div id="main">
  <div class="header">
      <h1>must</h1>
  </div>

  <div class="content">

  	<p><span class="inline">must</span>は”〜に違いない”という意味です。</p>

    <h2>肯定文、否定文</h2>

    <div class="grammar"><p align="center">名詞　＋　must (not)　＋　	動詞原型</p></div>

    <p>be動詞の形と現在進行形を使う時は、原形<span class="inline">be</span>を使います。</p>

    <p>例</p>

	  <p class="example">You haven't eaten anything today. You must be hungry.</p>
		<p class="translation">あなたは今日何も食べていない。あなたはお腹が減っているに違いない。</p>
	  <p class="example">you must be Emily. Fred has told me about you.</p>
		<p class="translation">あなたはEmilyに違いない。Fredがあなたの事を私に伝えてくれたことがあります。（あなたのことはFredから聞いています。）</p>
	  <p class="example">She must not be at home.</p>
		<p class="translation">彼女は家にいないに違いない。</p>

		<h2>過去形、完了形</h2>

		<div class="grammar"><p align="center">名詞　＋　must (not) have　＋　動詞過去完了形</p></div>

		<p>例</p>

	  <p class="example">She looks great. She must have lost her weight.</p>
		<p class="translation">彼女は素晴らしく見える。（彼女は美しい。）彼女は痩せたに違いない。</p>
	  <p class="example">You must have been busy.</p>
		<p class="translation">あなたは忙しかったに違いない。</p>

  </div>
</div>

{% endblock %}