<template name="must">
{{#markdown}}

#must
<br>

mustは２つの意味があります。１つは、”〜に違いない”という強い確信を表す時です。
もう１つは”〜しなければならない”という意味ですが、普段は”have to (do)”を使う事がほとんどです。

###肯定文、否定文

	主語　＋　must (not)　＋　	動詞原型

be動詞の形/現在進行形

	主語　＋　must (not) be　＋　名詞フレーズ/形容詞/動詞+ing

be動詞の形と現在進行形を使う時は、be動詞にbeを使います。

例

You haven't eaten anything today. You must be hungry.

あなたは今日何も食べていない。あなたはお腹が減っているに違いない。

you must be Emily. Fred has told me about you.

あなたはエミリーに違いない。フレッドがあなたの事を私に伝えてくれたことがあります。（あなたのことはフレッドから聞いています。）

She must not be at home.

彼女は家にいないに違いない。

<hr>

###過去形、完了形

	主語　＋　must (not) have　＋　動詞過去完了形

例

She looks great. She must have lost her weight.

彼女は素晴らしく見える。（彼女は美しい。）彼女は痩せたに違いない。

You must have been busy.

あなたは忙しかったに違いない。


{{/markdown}}
</template>