{% extends "base.html" %}
{% block body %}

<div id="main">
  <header class="header">
      <h1>no, none</h1>
  </header>

  <div class="content">

  	<p><span class="inline">no</span>は質問に対して答える時に使われますが、それ以外には代名詞として<span class="inline">some</span>や<span class="inline">any</span>と同じように使われます。</p>

  	<p>例</p>

	  
  	<div class="set">
	  <p class="example">We have no time. (We don't have any time.)</p>
		<p class="translation">私達には時間がない。</p>
	  </div>
		<div class="set">
	  <p class="example">I had no choice. (I didn't have any choice.)</p>
		<p class="translation">私には選択肢が無かった。</p>
	  </div>
		<div class="set">
	  <p class="example">Nothing is impossible.</p>
		<p class="translation">不可能なことは何もない。</p>
		</div>

		<p>否定文の文には<span class="inline">no</span>は使いません。</p>
	  
		<div class="set">
	  <p class="example">I didn't do anything.</p>
		<p class="translation">私は何もしていません。</p>
	  </div>
		<div class="set">
	  <p class="example"><span class="cross">×</span> I didn't do nothing.</p>
	  <p class="explanation"><i class="fa fa-info-circle"></i>これを<span class="inline">double negative</span>と呼びます。スラングでよく使われますが（<a href="http://en.wikipedia.org/wiki/Harry_Potter" target="_blank">Harry Potter</a>の<a href="http://en.wikipedia.org/wiki/Rubeus_Hagrid" target="_blank">Hagrid</a>や<a href="http://en.wikipedia.org/wiki/Lost_%28TV_series%29" target="_blank">Lost</a>の<a href="http://en.wikipedia.org/wiki/James_%22Sawyer%22_Ford" target="_blank">Sawyer</a>など）、きれいな英語ではないので使わないようにしましょう。</p>
	  </div>

	  <P><span class="inline">none of　＋　名詞</span>で「〜のうち誰も」という意味になります。<span class="inline">of</span>の後の名詞には目的格を使います。</P>

	  
	  <div class="set">
	  <p class="example">None of us lives in Chicago.</p>
		<p class="translation">私たちの中で誰もシカゴに住んでる人はいません。</p>
		</div>
  </div>
</div>

{% endblock %}