{% extends "base.html" %}
{% block body %}

<div id="main">
  <div class="header">
      <h1>should</h1>
  </div>

  <div class="content">

  	<p><span class="inline">should</span>は「〜すべき」という意味と「〜なはず」という意味があります。</p>

    <h2>肯定文、否定文</h2>

    <div class="grammar"><p align="center">名詞　＋　should (not)　＋　動詞原形</p></div>

    <p><span class="inline">should not</span>は<span class="inline">shouldn't</span>に省略することが出来ます。</p>

    <p>例</p>
    
	  
    <div class="set">
	  <p class="example">You should talk to your mom.</p>
		<p class="translation">あなたはあなたのお母さんと話すべきです。</p>
	  </div>
		<div class="set">
	  <p class="example">You should wake up early.</p>
		<p class="translation">あなたは早起きするべきです。</p>
	  </div>
		<div class="set">
	  <p class="example">He should be here at 9am.</p>
		<p class="translation">彼は朝９時にここにいるはずです。</p>
	  </div>
		<div class="set">
	  <p class="example">We should hang out sometime.</p>
		<p class="translation">いつか遊ぶべきです。（いつか遊ぼうよ。）</p>
	  </div>
		<div class="set">
	  <p class="example">I should not be here.</p>
		<p class="translation">私はここにいるべきではありません。</p>
		</div>
		
		<h2>過去形、完了形</h2>

		<div class="grammar"><p align="center">名詞　＋　should (not) have　＋　過去分詞</p></div>

		<p><span class="inline">should have</span>は<span class="inline">should've</span>に省略することが出来ます。</p>

		<p>例</p>

	  
		<div class="set">
	  <p class="example">I should've gone to the party.</p>
		<p class="translation">私はパーティに行くべきでした。</p>
	  </div>
		<div class="set">
	  <p class="example">I shouldn't have watched this movie. It was so boring.</p>
		<p class="translation">私はこの映画を見るべきではなかったです。とてもつまらなかったです。</p>
		</div>
		<div class="set">
	  <p class="example">You shouldn't have said that.</p>
		<p class="translation">あなたはそれを言うべきではなかったです。</p>
		</div>

		<h2>疑問文</h2>

		<div class="grammar"><p align="center">should　＋　名詞　＋　動詞原形 ?</p></div>

		<p>例</p>

	  
		<div class="set">
	  <p class="example">Should I call him?</p>
		<p class="translation">私は彼に電話するべきですか？</p>
	  </div>

		<h2>他の疑問文の形</h2>

	  
		<div class="set">
	  <p class="example">What should I do?</p>
		<p class="translation">どうするべきですか？</p>
	  </div>
		<div class="set">
	  <p class="example">Who should I talk to?</p>
		<p class="translation">私は誰と話すべきですか？</p>
		</div>
		
		<h2>ought to</h2>

		<p><span class="inline">should</span>の代わりに<span class="inline">ought to</span>を使うことも出来ます。</p>

	  
		<div class="set">
	  <p class="example">You ought to talk to your mom.</p>
	  </div>
  </div>
</div>

{% endblock %}