<template name="should">
{{#markdown}}

#should
<br>

shouldは”〜すべき”という意味と”〜なはず”という意味があります。

###肯定文、否定文

	主語　＋　should (not)　＋　動詞原型

should notはshouldn'tに省略することが出来ます。

例

You should talk to your mom.

あなたはあなたのお母さんと話すべきです。

You should wake up early.

あなたは早起きするべきです。

He should be here at 9am.

彼は朝９時にここにいるはずです。

We should hang out sometime.

いつか遊ぶべきです。（いつか遊ぼうよ。）

I should not be here.

私はここにいるべきではありません。

<hr>

###過去形、完了形

	主語　＋　should (not) have　＋　動詞過去完了形

should haveはshould'veに省略することが出来ます。

例

I should've gone to the party.

私はパーティに行くべきでした。

I should not have watched this movie. It was so boring.

私はこの映画を見るべきではなかったです。とてもつまらなかったです。

<hr>

###疑問文

	should　＋　主語　＋　動詞原型 ?

例

Should I call him?

私は彼に電話するべきですか？

Should I quit my job?

私は仕事を辞めるべきですか？

<hr>

###他の疑問文の形

What should I do today?

私は今日どうするべきですか？

Who should I talk to?

私は誰と話すべきですか？

<hr>

###ought to

shouldnの代わりにought toを使うことも出来ます。

{{/markdown}}
</template>