<template name="some,any">
{{#markdown}}

#some, any


基本的に、some(又はsomeone/somebody/something/somewhere)は肯定文で、any(又はanyone/anybody/anything/anywhere)は否定文で使われます。


例

I need some advice.

私は何かアドバイスが必要です。

I don't need any advice.

私は何のアドバイスも要りません。

<hr>

I have something to do.

私はやることがあります。

I don't have anything to do.

私はやることが何もありません。

<hr>


Let me know if you have any questions.

何か質問があれば教えて下さい。

Anyone can cook.

誰でも料理出来ます。

<hr>

somebody/someone/something/anybody/anyone/anythingは単数ですが、所有格にtheirを使うことが出来ます。

Someone dropped their phone. (= Someone dropped his or her phone.)

誰かが携帯を落とした。

Somebody has to be a leader.

誰かがリーダーにならなければならない。










{{/markdown}}
</template>