{% extends "base.html" %}
{% block body %}

<div id="main">
  <div class="header">
      <h1>some, any</h1>
  </div>

  <div class="content">

  	<p><span class="inline">some</span>と<span class="inline">any</span>は代名詞です。<span class="inline">some</span>と<span class="inline">any</span>は<span class="inline">a</span>や<span class="inline">the</span>のように他の名詞に付きますが、<span class="inline">someone</span>のように他の単語とくっ付いて一つの単語になっているものもあります。</p>

  	<p>例</p>

	  
  	<div class="set">
	  <p class="example">Let me know if you have any questions.</p>
		<p class="translation">何か質問があれば教えて下さい。</p>
	  </div>
		<div class="set">
	  <p class="example">Anyone can cook.</p>
		<p class="translation">誰でも料理出来ます。</p>
	  </div>
		<div class="set">
	  <p class="example">Ask me anything.</p>
		<p class="translation">何でも聞いて。</p>
	  </div>
		<div class="set">
	  <p class="example">Somebody has to be a leader.</p>
		<p class="translation">誰かがリーダーにならなければならない。</p>
	  </div>
		<div class="set">
	  <p class="example">Let's go somewhere.</p>
		<p class="translation">どこかへ行こう。</p>
	  </div>

		<p><span class="inline">somebody</span>/<span class="inline">someone</span>/<span class="inline">something</span>/<span class="inline">anybody</span>/<span class="inline">anyone</span>/<span class="inline">anything</span>は単数ですが、<span class="inline">they</span>/<span class="inline">them</span>/<span class="inline">their</span>を使うことが出来ます。</p>

		<div class="set">
	  <p class="example">Someone dropped their phone. (= Someone dropped his or her phone.)</p>
		<p class="translation">誰かが携帯を落とした。</p>
		</div>

		<h2>someとanyの使い分け</h2>

		<p>肯定文で<span class="inline">some</span>、否定文で<span class="inline">any</span>を使う場合はよくあります。</p>

	  
		<div class="set">
	  <p class="example">I need some advice.</p>
		<p class="translation">私は何かアドバイスが必要です。</p>
	  </div>
		<div class="set">
	  <p class="example">I don't need any advice.</p>
		<p class="translation">私は何のアドバイスも要りません。</p>
		</div>

	  
		<div class="set">
	  <p class="example">I have something to do.</p>
		<p class="translation">私はやることがあります。</p>
		</div>  
		<div class="set">
	  <p class="example">I don't have anything to do.</p>
		<p class="translation">私はやることが何もありません。</p>
		</div>
  </div>
</div>

{% endblock %}