{% extends "base.html" %}
{% block body %}

<div id="main">
  <div class="header">
      <h1>There (is)</h1>
  </div>

  <div class="content">

  	<p><span class="inline">There is ~</span>の形は”〜がある”という意味で、通常の名詞のようにどんな時制にも使えます。<span class="inline">There is/are</span>の後の名詞が主語になるので、その主語が単数か複数かによって何のbe動詞を使うかが決まります。</p>

    <h2>現在形</h2>

    <div class="grammar"><p align="center">There is/are　＋　(not)　＋　名詞</p></div>

    <p>後に続く名詞が複数の場合は<span class="inline">There are</span>になります。</p>

    <p>例</p>

	  <p class="example">There is a coffee shop on campus.</p>
		<p class="translation">大学の構内に喫茶店があります。</p>
	  <p class="example">There are many people in this room.</p>
		<p class="translation">この部屋には人がいっぱいいます。</p>
	  <p class="example">There are not many people in this room.</p>
		<p class="translation">この部屋にはそんなに人がいません。</p>

		<h2>過去形</h2>

    <div class="grammar"><p align="center">There　＋　was/were　＋　(not)　＋　名詞</p></div>

    <p>例</p>

	  <p class="example">There were 10 people at the party.</p>
		<p class="translation">パーティには１０人いました。</p>

		<h2>疑問文</h2>

    <div class="grammar"><p align="center">Is/Are/Was/Were　＋　there　＋　名詞</p></div>

    <p>例</p>

	  <p class="example">Is there a coffee shop on campus?</p>
		<p class="translation">大学の構内に喫茶店はありますか？</p>

		<h2>助動詞</h2>

    <div class="grammar"><p align="center">There　＋　助動詞　＋　(not)　＋　be　＋　名詞</p></div>

    <p>例</p>

	  <p class="example">There might be a coffee shop on campus.</p>
		<p class="translation">大学の構内に喫茶店があるかもしれない。</p>

  </div>
</div>

{% endblock %}
