<template name="there_is">
{{#markdown}}

#There (is)
<br>

**There is ~**の形は”〜がある”という意味で、通常の名詞のようにどんな時制にも使えます。
通常be動詞は主語によって変わりますが、この場合は"There is/are"の後の名詞が単数か複数かによって何のbe動詞を使うかが決まります。


<hr>

####現在形

	There is/are　＋　(not)　＋　名詞フレーズ

後に続く名詞フレーズが複数の場合はThere areになります。

例

There is a coffee shop on campus.

大学の構内に喫茶店があります。

There are many people in this room.

この部屋には人がいっぱいいます。

There are not many people in this room.

この部屋にはそんなに人がいません。

<hr>

####過去形

	There　＋　was/were　＋　(not)　＋　名詞フレーズ

例

There were 10 people at the party.

パーティには１０人いました。


<hr>

####疑問文

	Is/Are/Was/Were　＋　there　＋　名詞フレーズ

例

Is there a coffee shop on campus?

大学の構内に喫茶店はありますか？

<hr>

####助動詞

	There　＋　助動詞　＋　(not)　＋　be　＋　名詞フレーズ

例

There might be a coffee shop on campus.

大学の構内に喫茶店があるかもしれない。


{{/markdown}}
</template>