{% extends "base.html" %}
{% block body %}

<div id="main">
  <div class="header">
      <h1>Used to (do)</h1>
  </div>

  <div class="content">

  	<p><span class="inline">Used to ~</span> の表現は「昔は〜をしていた」という意味です。現在はもうしていないという意味が含まれているので、今もしていることに対して<span class="inline">Used to</span>を使うことは出来ません。<span class="inline">use(使う)</span>の過去形が<span class="inline">used</span>なので混乱するかもしれませんが、全く別の意味です。</p>

    <h2>肯定文</h2>

    <div class="grammar"><p align="center">名詞　＋　used to　＋　動詞原型</p></div>

    <p>例</p>

	  
    <div class="set">
	  <p class="example">We used to hang out together. (but we don't hang out anymore.)</p>
		<p class="translation">私達は昔よく一緒に遊んでいました。</p>
	  </div>
		<div class="set">
	  <p class="example">I used to study in the library. Now I usually study in my room.</p>
		<p class="translation">私は昔図書館で勉強していました。今は普段は自分の部屋で勉強しています。</p>
	  </div>
		<div class="set">
	  <p class="example">He used to go out often, but these days, he is busy.</p>
		<p class="translation">彼は昔よく外に出かけていましたが、最近彼は忙しいです。</p>
	  </div>
		<div class="set">
	  <p class="example">I used to be business major. I am now economics major.</p>
		<p class="translation">私は昔ビジネス専攻でした。今は経済学専攻です。</p>
		</div>

		<p>現在形の質問に答える時に<span class="inline">Used to</span>を使うことがあります。</p>

	  
		<div class="set">
	  <p class="example">(Tom) Do you play basketball?</p>
		<p class="translation">バスケをしますか？</p>
	  </div>
		<div class="set">
	  <p class="example">(Dan) Not anymore, but I used to (play).</p>
		<p class="translation">今はもうしていません。でも昔はしていました。</p>
	  </div>

	  <h2>否定文</h2>

    <div class="grammar"><p align="center">名詞　＋　did not use to　＋　動詞原型<br>
    																			 名詞　＋　used not to　＋　動詞原型</p></div>

    <p>例</p>

	  
    <div class="set">
	  <p class="example">I didn't use to read novels.</p>
		<p class="translation">私は昔は小説を読みませんでした。</p>
	  </div>
		<div class="set">
	  <p class="example">She used not to like bananas.</p>
		<p class="translation">彼女は昔はバナナが好きではありませんでした。</p>		
		</div>
		
		<h2>疑問文</h2>

    <div class="grammar"><p align="center">Did ＋　名詞　＋ use to　＋　動詞原型 ?</p></div>

    <p><span class="inline">Used to~</span>は過去形なので質問する時、答える時共に<span class="inline">did</span>を使います。</p>

    <p>例</p>

	  
    <div class="set">
	  <p class="example">Did you use to study in the library?</p>
		<p class="translation">あなたは昔図書館で勉強していましたか？</p>
	  </div>
		<div class="set">
	  <p class="example">Yes, I did.</p>
		<p class="translation">はい。</p>
	  </div>
		<div class="set">
	  <p class="example">No, I didn't.</p>
		<p class="translation">いいえ。</p>
	  </div>
		<div class="set">
	  <p class="example">Did you use to play basketball?</p>
		<p class="translation">あなたは昔バスケをしていましたか？</p>
		</div>
  </div>
</div>

{% endblock %}