{% extends "base.html" %}
{% block body %}

<div id="main">
  <div class="header">
      <h1>When (I do)</h1>
  </div>

  <div class="content">

  	<p>Whenは「〜をする時に」という意味で使われます。必然的に２つの節が必要です。</p>

    <h2></h2>

    <div class="grammar">
    	<p align="center">When　＋　節(whenパート)　＋　,　＋　節(メインパート)　　または<br>
    	節(メインパート)　＋　when　＋　節(whenパート)</p>
    </div>

    <p>whenパートが先に来る場合と後に来る場合がありますが、意味は同じです。書く場合、whenパートが先に来る時にはコンマで区切る必要があります。whenパートとメインパートが同じ自制である必要はありません。色んな組み合わせがあります。</p>

    <br>

	  
    <div class="set">
	  <p class="example">When I get an email from Fred, I will let you know. <strong>or</strong><br>
	  I will let you know when I get an email from Fred.</p>
		<p class="translation">Fredからメールが来たら知らせるよ。</p>
		<p class="explanation"><i class="fa fa-info-circle"></i>When パート - 現在形、メインパート - 未来形<br>未来のことを話す時はWhenパートは現在形です。未来形を使わないように注意しましょう。</p>
		</div>

	  
		<div class="set">
	  <p class="example">When you finish your homework, text me. <strong>or</strong><br>Text me when you finish your homework.</p>
		<p class="translation">宿題が終わったらメッセージ(SMS)送って。</p>

		<p class="explanation"><i class="fa fa-info-circle"></i>When パート - 現在形、メインパート - 命令形</p>
		</div>

	  
		<div class="set">
	  <p class="example">When I was a child, I used to play baseball. <strong>or</strong><br>I used to play baseball when I was a child.</p>
		<p class="translation">私が子供の時は野球をしていました。</p>

		<p class="explanation"><i class="fa fa-info-circle"></i>When パート - 過去形、メインパート - Used to</p>
		</div>

	  
		<div class="set">
	  <p class="example">When Jessica called me, I was working. <strong>or</strong><br>I was working when Jessica called me.</p>
		<p class="translation">Jessicaが私に電話した時、私は働いていました。</p>

		<p class="explanation"><i class="fa fa-info-circle"></i>When パート - 過去形、メインパート - 過去進行形</p>
		</div>
  </div>
</div>

{% endblock %}
