{% extends "base.html" %}
{% block body %}

<div id="main">
  <div class="header">
      <h1>will</h1>
  </div>

  <div class="content">

  	<p><span class="inline">will</span>は<span class="inline">going to</span>と同じく未来のことを表現するのに使われますが、<span class="inline">going to</span>と違い、その時に決めたことを話す時に使います。</p>

    <h2>肯定文</h2>

    <div class="grammar"><p align="center">名詞　＋　will　＋　動詞原形</p></div>

    <p><span class="inline">代名詞　＋　will</span>は省略することが出来ます。</p>

    <table class="pure-table pure-table-bordered">
    	<thead>
    		<tr>
    			<th>基本形</th>
    			<th>省略形</th>
    		</tr>
    	</thead>
      <tbody>
		    <tr>
		      <td>I will</td>
		      <td>I'll</td>
		    </tr>
		    <tr>
		      <td>we will</td>
		      <td>we'll</td>
		    </tr>
		    <tr>
		      <td>you will</td>
		      <td>you'll</td>
		    </tr>
		    <tr>
		      <td>she will</td>
		      <td>she'll</td>
		    </tr>
		    <tr>
		      <td>he will</td>
		      <td>he'll</td>
		    </tr>
		    <tr>
		      <td>it will</td>
		      <td>it'll</td>
		    </tr>
      </tbody>
    </table>

    <p>例</p>

	  
    <div class="set">
	  <p class="example">(Ben) Oh my god. I left my wallet at home.</p>
		<p class="translation">財布を家に置いてきてしまった。</p>
	  </div>
		<div class="set">
	  <p class="example">(Tom) I will lend you some money.</p>
		<p class="translation">少しお金を貸すよ。</p>
		<p>この場面ではTomがBenにお金を貸すことをその時に決めたので、willを使います。</p>
		</div>
	  
		<div class="set">
	  <p class="example">(Bob) Let's meet at the library at 7pm.</p>
		<p class="translation">図書館に夜７時に会おう。</p>
	  </div>
		<div class="set">
	  <p class="example">(Tom) Sounds good. I will see you.</p>
		<p class="translation">いいね。またね。</p>
		</div>

		<div class="set">
	  <p class="example">I'll try my best.</p>
		<p class="translation">ベストを尽くします。</p>
		</div>		

		<h2>否定文</h2>

    <div class="grammar"><p align="center">名詞　＋　will not　＋　動詞原形</p></div>

    <p><span class="inline">will not</span>は<span class="inline">won't</span>に省略することが出来ます。</p>

    <p>例</p>

	  
<!--     <div class="set">
	  <p class="example">(Bob) I'm going to quit my job.</p>
		<p class="translation">仕事を辞めるつもりです。</p>
	  </div>
		<div class="set">
	  <p class="example">(Tom) I will not stop you.</p>
		<p class="translation">止めはしません。</p>
		</div> -->

		<p><span class="inline">never</span>を使うこともできます。</p>

		<div class="set">
	  <p class="example">I will never watch a horror movie again.</p>
		<p class="translation">私は２度とホラー映画を見ません。</p>
		</div>	

		<h2>疑問文</h2>

		<div class="grammar"><p align="center">Will you　＋　動詞原形 ?</p></div>

		<p><span class="inline">will</span>の疑問文は「〜をするつもりですか？」という意味ではありません。予定を聞く時は<span class="inline">going to</span>を使います。<span class="inline">will</span>の疑問文は「〜してくれませんか？」というお願いの意味になります。</p>

		<p>例</p>

	  
		<div class="set">
	  <p class="example">Will you help me?</p>
		<p class="translation">手伝ってくれませんか？</p>
	  </div>
		<div class="set">
	  <p class="example">Will you close the door?</p>
		<p class="translation">ドアを閉めてもらえますか？</p>
		</div>
  </div>
</div>

{% endblock %}