{% extends "base.html" %}
{% block body %}

<div id="main">
  <div class="header">
      <h1>would</h1>
  </div>

  <div class="content">

  	<p><span class="inline">would</span>は日本語に略し辛いのであまり日本人に使われませんが、日常会話で<span class="inline">can</span>と同じくらい頻繁に出てくる助動詞です。</p>

    <h2>肯定文、否定文</h2>

    <div class="grammar"><p align="center">名詞　＋　would (not)　＋　動詞原型</p></div>

    <p><span class="inline">would not</span>は<span class="inline">wouldn't</span>に省略することが出来ます。</p>

    <p>代名詞　＋　<span class="inline">would</span>は省略出来ます。</p>

		<p class="vocabulary">I would - I'd</p>
		<p class="vocabulary">It would - it'd</p>

		<p>代名詞　＋　<span class="inline">had</span>も同じ省略形なので注意が必要です。</p>

		<p>例</p>

	  <p class="example">(Emily) You can stay in my apartment tonight.</p>
		<p class="translation">今夜私のアパートに泊まっていいよ。</p>
	  <p class="example">(Elizabeth) Really? That would be great.</p>
		<p class="translation">本当に？それはいいね。</p>
		<hr>

	  <p class="example">(Bob) I'm taking history class.</p>
		<p class="translation">私は歴史の講義を取っているよ。</p>
	  <p class="example">(John) I would not take that class. It sounds boring.</p>
		<p class="translation">私ならその講義は取らないね。つまらなそう。</p>
		<p>ここでの<span class="inline">I would</span>は”私があなたなら”という意味です。</p>
		<hr>

	  <p class="example">I would like to make an appoinment with Ms. Houston, please.</p>
		<p class="translation">Houstonさんとのアポを取りたいのですが。</p>
		<p><span class="inline">I would like to ~</span>は”〜がしたい”という意味です。<span class="inline">I want to</span>と似てますが、フォーマルな表現になります。</p>

		<h2>疑問文</h2>

		<div class="grammar"><p align="center">Would　＋　名詞　＋　動詞原型 ?</p></div>

		<p><span class="inline">Would</span>の疑問文で一番多い形が<span class="inline">Would you like ~ ?</span>です。</p>

		<p>例</p>

	  <p class="example">Would you like to go for a walk?</p>
		<p class="translation">散歩に行きませんか？</p>

  </div>
</div>

{% endblock %}