<template name="">
{{#markdown}}

#動詞　＋　不定詞
<br>

to + 動詞原形の形を不定詞と呼びます。色んな使われ方がありますが、今回は動詞　＋　不定詞の形を紹介します。


例

I want to sell my cloths.

私は服を売りたいです。

I have to go.

行かなきゃいけないです。

You need to go to a doctor.

お医者さんに行く必要があります。

She likes to watch the moon.

彼女は月を見るのが好きです。

I tried to help him.

私は彼を助けようとしました。

I decided to go to law school.

私は法学の大学院に行くことに決めました。

<hr>

toの後の動詞を否定したい場合はtoの前にnotを入れます。普通の否定文とは意味が異なるので注意しましょう。


I tried not to laugh.

私は笑いをこらえました。（笑わないように努めた）

*I did not try to laugh* とは意味が違います。

<hr>

I decided not to go to law school.

私は法学の大学院に行かないことに決めました。


{{/markdown}}
</template>