{% extends "base.html" %}
{% block body %}

<div id="main">
  <div class="header">
      <h1>不定詞(to do)</h1>
  </div>

  <div class="content">

  	<p><span class="inline">to + 動詞原形</span>の形を不定詞と呼びます。


  	<h2>動詞　＋　不定詞</h2>

  	<p>多くの動詞が不定詞を伴います。</p>

  	<p>例</p>

	  <div class="set">
	  <p class="example">I want <strong>to sell my cloths</strong>.</p>
		<p class="translation">私は服を売りたいです。</p>
	  </div>
	  <div class="set">
	  <p class="example">I have <strong>to go</strong>.</p>
		<p class="translation">行かなきゃいけないです。</p>
	  </div>
	  <div class="set">
	  <p class="example">You need <strong>to go to a doctor</strong>.</p>
		<p class="translation">お医者さんに行く必要があります。</p>
	  </div>
	  <div class="set">
	  <p class="example">She likes <strong>to watch the moon</strong>.</p>
		<p class="translation">彼女は月を見るのが好きです。</p>
	  </div>
	  <div class="set">
	  <p class="example">I tried <strong>to help him</strong>.</p>
		<p class="translation">私は彼を助けようとしました。</p>
	  </div>
	  <div class="set">
	  <p class="example">I decided <strong>to go to law school</strong>.</p>
		<p class="translation">私は法学の大学院に行くことに決めました。</p>
		</div>

		<p><span class="inline">to</span>の後の動詞を否定したい場合は<span class="inline">to</span>の前に<span class="inline">not</span>を入れます。普通の否定文とは意味が異なるので注意しましょう。</p>

	  <div class="set">
	  <p class="example">I tried <strong>not to laugh</strong>.</p>
		<p class="translation">私は笑いをこらえました。（笑わないように努めた）</p>
		<p class="explanation"><i class="fa fa-info-circle"></i><span class="inline">I did not try to laugh.</span>とは意味が違います。</p>
		</div>

	  <div class="set">
	  <p class="example">I decided <strong>not to go to law school</strong>.</p>
		<p class="translation">私は法学の大学院に行かないことに決めました。</p>
		</div>

		<h2>〜をする為に</h2>

		<p>不定詞は「〜をする為に」という意味でも使われます。</p>

		<p>例</p>

    <div class="set">
		  <p class="example">I came here <strong>to see you</strong>.</p>
			<p class="translation">私はあなたに会う為にここに来ました。</p>
		</div>
    <div class="set">
		  <p class="example">I went to the library <strong>to study</strong>.</p>
			<p class="translation">私は勉強する為に図書館に行きました。</p>
		</div>

		<p>不定詞を文の前に持ってくることも出来ます。</p>

    <div class="set">
		  <p class="example"><strong>To be successful</strong>, you have to be different.</p>
			<p class="translation">成功する為には、他人と違っていなければならない。</p>
		</div>

		<p>不定詞は補語にもなります。</p>

    <div class="set">
		  <p class="example">My new year's resolution is <strong>to lose weight</strong>.</p>
			<p class="translation">私の今年の目標は痩せることです。</p>
			<p class="explanation"><i class="fa fa-info-circle"></i><span class="inline">new year's resolution</span>というのは主に西洋の文化で、年の始めに何か目標を立てます。</p>
		</div>

		<h2>wh　＋　不定詞</h2>

		<p><span class="inline">wh</span>の後の不定詞が来ることがよくあります。<span class="inline">how to</span>と<span class="inline">what to</span>は特によく使われます。</p>

		<p>例</p>

    <div class="set">
		  <p class="example">I don't know <strong>what to do</strong>.</p>
			<p class="translation">何をしていいか分かりません。</p>
		</div>
    <div class="set">
		  <p class="example">I teach <strong>how to use Excel</strong>.</p>
			<p class="translation">私はExcelの使い方を教えます。</p>
		</div>

		<p>ブログのタイトルなどによく見られるのが<span class="inline">How to ~</span>の形です。タイトルにはよく文でなくフレーズが使われます。</p>

		<p>例</p>

    <div class="set">
		  <p class="example">How to use Excel.</p>
			<p class="translation">Excelの使い方。</p>
		</div>
    <div class="set">
		  <p class="example">How to boil eggs.</p>
			<p class="translation">卵のゆで方。</p>
		</div>
    <div class="set">
		  <p class="example">How to quit smoking.</p>
			<p class="translation">タバコのやめ方。</p>
		</div>

  </div>
</div>

{% endblock %}