{% extends "base.html" %}
{% block body %}

<div id="main">
  <div class="header">
      <h1>前置詞</h1>
  </div>

  <div class="content">

  	<p>前置詞は名詞の前に付き場所や時間などを説明する単語です。</p>

		<p class="vocabulary"><strong>at</strong> 9a.m.(朝９時に)</p>
		<p class="vocabulary"><strong>on</strong> Monday(月曜日に)</p>
		<p class="vocabulary"><strong>in</strong> 2010(2010年に)</p>
		<p class="vocabulary"><strong>at</strong> home(家で)</p>
		<p class="vocabulary"><strong>in</strong> the library(図書館で)</p>
		<p class="vocabulary"><strong>in</strong> Japan(日本で)</p>
		<p class="vocabulary"><strong>to</strong> the office(オフィスに)</p>

    <h2>フレーズ</h2>

    <p>前置詞は必ずフレーズとして使われます。複数の単語から成り立ち、主語と動詞を含まないものの事をフレーズと呼びます。フレーズは文の中で一つの品詞としての働きをします。前置詞は、ほとんどの場合名詞か動詞か形容詞を修飾します。つまり、形容詞か副詞として使われます。</p><br>

	  <p class="example">A man on the right is my brother.</p>
		<p class="translation">右側の男性が私の兄です。</p>

		<p><span class="inline">on the right</span>が形容詞として<span class="inline">A man</span>を修飾しています。</p>

	  <p class="example">I am at home.</p>
		<p class="translation">私は家にいます。</p>

		<p><span class="inline">at home</span>が副詞として使われています。”名詞＋状態を表す動詞＋副詞”の形ですね。</p>

	  <p class="example">I go to the office.</p>
		<p class="translation">私はオフィスに行きます。</p>

		<p><span class="inline">to the office</span>が副詞として動詞の<span class="inline">go</span>を修飾しています。</p>

	  <p class="example">I am interested in rock climbing.</p>
		<p class="translation">私はロッククライミングに興味があります。</p>

		<p><span class="inline">in rock climbing</span>が副詞として形容詞の<span class="inline">interested</span>を修飾しています。</p>

	  <p class="example">I am good at math.</p>
		<p class="translation">私は数学が得意です。</p>

		<p><span class="inline">at math</span>が副詞として形容詞の<span class="inline">good</span>を修飾しています。<span class="inline">good at ~</span>は”〜が得意”という意味です。</p>

  </div>
</div>

{% endblock %}