{% extends "base.html" %}
{% block body %}

<div id="main">
  <div class="header">
      <h1>副詞</h1>
  </div>

  <div class="content">

  	<p>副詞は、動詞、形容詞、そして他の副詞を修飾する単語です。</p>

    <h2>動詞の修飾</h2>

		<p class="vocabulary">well(良く、上手く)</p>
		<p class="vocabulary">sometimes(時々)</p>
		<p class="vocabulary">everyday(毎日)</p>

		<p>動詞を修飾する副詞は色んな場所で使えます。副詞によってどこで使えるかが違います。文を沢山読んで感覚を養っていくしかありません。</p>


		<h4>動詞の後</h4>


	  <div class="set">
	  <p class="example">He sings <strong>well</strong>.</p>
		<p class="translation">彼は上手く歌います。</p>
		</div>

		<h4>動詞の前</h4>

	  <div class="set">
	  <p class="example">I <strong>sometimes</strong> read books.</p>
		<p class="translation">私は時々本を読みます。</p>
		</div>

		<h4>文頭</h4>

	  <div class="set">
	  <p class="example"><strong>Sometimes</strong> I read books.</p>
		<p class="translation">時々私は本を読みます。</p>
		</div>

		<h4>動詞の後（目的語あり）</h4>
		<p>動詞が目的語を取る時は、副詞は絶対に動詞と目的語の間には入りません。</p>

	  <div class="set">
	  <p class="example">I eat breakfast <strong>everyday</strong>.</p>
		<p class="translation">私は毎日朝食を食べます。</p>
		</div>

	  <div class="set">
	  <p class="example"><span class="cross">×</span> I eat <strong>everyday</strong> breakfast.</p>
		</div>


		<h2>形容詞の修飾</h2>

		<p>形容詞を修飾する副詞は形容詞の直前に来ます。</p>

		<p class="vocabulary">very(とても)</p>
		<p class="vocabulary">so(とても)</p>

	  <div class="set">
	  <p class="example">This house is <strong>very</strong> old.</p>
		<p class="translation">この家はとても古いです。</p>
	  </div>
	  <div class="set">	
	  <p class="example">You are <strong>so</strong> young.</p>
		<p class="translation">あなたはとても若いです。</p>
		</div>

		<h2>他の副詞の修飾</h2>

		<p>他の副詞を修飾する副詞も副詞の直前に来ます。veryなど多くの副詞が形容詞と副詞を両方修飾出来ます。</p>

		<p class="vocabulary">very(とても)</p>
		<p class="vocabulary">almost(ほとんど、ほぼ)</p>

	  <div class="set">
	  <p class="example">He sings <strong>very</strong> well.</p>
		<p class="translation">彼はとても上手く歌います。</p>
	  </div>
	  <div class="set">	
	  <p class="example">I eat breakfast <strong>almost</strong> everyday.</p>
		<p class="translation">私はほぼ毎日朝食を食べます。</p>
		</div>

		<h2>状態を表す動詞と副詞</h2>

		<p>be動詞などの状態を表す動詞は名詞や形容詞と一緒に使えると言いましたが、実は副詞とも一緒に使えます。</p>

		<div class="grammar"><p align="center">動詞　＝　動詞　＋　副詞</p></div>

		<p class="vocabulary">here(ここ)</p>
		<p class="vocabulary">tommorow(明日)</p>

		<div class="set">
	  <p class="example">I am <strong>here</strong>.</p>
		<p class="translation">私はここにいます。</p>
		</div>
		<div class="set">
	  <p class="example">My birthday is <strong>tommorow</strong>.</p>
		<p class="translation">私の誕生日は明日です。</p>
		</div>

  </div>
</div>

{% endblock %}
