
{% extends "base.html" %}
{% block body %}

<div id="main">
  <div class="header">
      <h1>動名詞</h1>
  </div>

  <div class="content">

  	<p>現在進行形で<span class="inline">動詞+ing</span>の形を勉強しました。他にも<span class="inline">動詞+ing</span>の使い方があります。その中の一つが動名詞です。動名詞は、文の中で名詞の役割を果たします。</p>

    <p>例</p>

    <div class="set">
		  <p class="example">Keep <strong>going</strong>.</p>
			<p class="translation">続けて。</p>
		</div>
    <div class="set">
		  <p class="example">I hate <strong>running</strong>.</p>
			<p class="translation">私は走るのが嫌いです。</p>
		</div>
    <div class="set">
		  <p class="example">Stop <strong>chasing me</strong>.</p>
			<p class="translation">追うのを止めてくれ。 -Frank Abagnale, <a href="https://en.wikipedia.org/wiki/Catch_Me_If_You_Can" target="_blank">Catch Me If You Can</a></p>
		</div>
		<div class="set">
		  <p class="example">I like <strong>talking to people</strong>.</p>
			<p class="translation">私は人と話すのが好きです。</p>
		</div>
    <div class="set">
		  <p class="example">The definition of insanity is <strong>doing the same thing over and over again</strong> and <strong>expecting different results</strong>.</p>
			<p class="translation">狂気の定義は同じ事を何度も何度も繰り返し違う結果を期待することである。 - Albert Einstein</p>
		</div>

		<p>動名詞は三人称単数なので動詞の変化に気を付けましょう。</p>

		<p>例</p>

    <div class="set">
		  <p class="example"><strong>building good relationships</strong> takes time.</p>
			<p class="translation">良い人間関係を気付くのは時間がかかる。</p>
		</div>
    <div class="set">
		  <p class="example"><strong>Working hard</strong> is not the same as <strong>working long</strong>.</p>
			<p class="translation">一生懸命働くことと長時間働くことは同じではない。</p>
		</div>

		<h2>to　＋　動名詞</h2>

		<p>不定詞のユニットで<span class="inline">to　＋　動詞原形</span>の形を勉強しましたが、稀に<span class="inline">to</span>の後に動名詞が来る場合があります。非常に間違えやすいので気を付けましょう。</p>

		<p>例</p>

    <div class="set">
		  <p class="example">I look forward to <strong>meeting you</strong>.</p>
			<p class="translation">あなたにお会い出来るのを楽しみにしています。</p>
		</div>
    <div class="set">
		  <p class="example">I am not used to <strong>living in a city</strong>.</p>
			<p class="translation">都会に住むのに慣れていません。</p>
			<p class="explanation"><i class="fa fa-info-circle"></i><span class="inline">be動詞　＋　used to ~</span>は「〜に慣れる」という意味です。<a href="{{url_for('post', name='used_to', _external=True)}}">I used to ~</a>と間違えやすいので注意しましょう。</p>
		</div>

  </div>
</div>

{% endblock %}

