{% extends "base.html" %}
{% block body %}

<div id="main">
  <div class="header">
      <h1>状態を表す動詞</h1>
  </div>

  <div class="content">

  	<p>状態を表す動詞はアクションを表す動詞に比べ数は少ないですが、最も頻繁に使われる動詞であるbe動詞が含まれます。be動詞は簡単に言えばイコールという意味です。動詞は主語が３人称単数の時に変化するという話をしましたが、be動詞は更に細かく分かれます。</p>

    <table class="pure-table pure-table-bordered">
      <tbody>
        <tr>
          <td>原形</td>
          <td>be</td>
        </tr>
        <tr>
          <td>I</td>
          <td>am</td>
        </tr>
        <tr>
          <td>３人称単数</td>
          <td>is</td>
        </tr>
        <tr>
          <td>それ以外</td>
          <td>are</td>
        </tr>
      </tbody>
    </table>

    <h2>動詞　＋　名詞</h2>

		<p>下記が基本的なルールです。２つの名詞がイコールの関係であると考えると分かり易いです。</p>

    <div class="grammar">
    	<p align="center">名詞　＋　動詞　＋　名詞</p>
    </div>

	  <p class="example">I am Tom.</p>
		<p class="translation">私はトムです。(I = Tom)</p>
	  <p class="example">My name is Tom.</p>
		<p class="translation">私の名前はトムです。(My name = Tom)</p>
	  <p class="example">We are students.</p>
		<p class="translation">私たちは生徒です。(We = students)</p>
	  <p class="example">She is a good teacher.</p>
		<p class="translation">彼女は良い先生です。(She = a good teacher)</p>

		<h2>動詞 ＋　形容詞</h2>

		<p>形容詞のセクションで、形容詞は名詞の前に付いて新しい名詞を形成すると言いましたが、形容詞は状態を表す動詞と一緒に使うことも出来ます。</p>

    <div class="grammar">
    	<p align="center">名詞　＋　動詞　＋　形容詞</p>
    </div>

	  <p class="example">This house is big.</p>
		<p class="translation">この家は大きいです。(This house = big)</p>
	  <p class="example">I am full.</p>
		<p class="translation">私はお腹いっぱいです。(I = full)</p>

		<p>動詞の後に形容詞が来るのか名詞が来るのかを意識しないと非文法的な文を作ってしまいがちです。</p>

	  <p class="example">She is great.(形容詞)</p>
		<p class="translation">彼女は素晴らしいです。</p>
	  <p class="example">She is a great teacher.(名詞)</p>
		<p class="translation"彼女は素晴らしい先生です。></p>
		<p class="example">× She is great teacher.(非文法的)</p>

		<h2>be動詞以外の動詞</h2>

		<p>be動詞以外には、状態を表す動詞は１３個しかありません。</p>

		<p class="vocabulary">appear</p>
		<p class="vocabulary">become</p>
		<p class="vocabulary">feel</p>
		<p class="vocabulary">grow</p>
		<p class="vocabulary">look</p>		
		<p class="vocabulary">seem</p>
		<p class="vocabulary">remain</p>
		<p class="vocabulary">smell</p>
		<p class="vocabulary">sound</p>
		<p class="vocabulary">stay</p>
		<p class="vocabulary">taste</p>
		<p class="vocabulary">turn</p>

		<p>どれもそれなりに使われますが、全て覚える必要は全くありません。ほとんどの単語は、アクションを表す単語としても使われます。</p>

	  <p class="example">I feel great.</p>
		<p class="translation">私は気分が良いです。</p>
	  <p class="example">He looks tired.</p>
		<p class="translation">彼は疲れて見える。</p>

  </div>
</div>

{% endblock %}
