{% extends "base.html" %}
{% block body %}

<div id="main">
  <div class="header">
      <h1>動詞</h1>
  </div>

  <div class="content">

  	<p>動詞はアクションや状態を表現する単語です。</p>

    <h2 class="content-subhead">アクションを表す動詞</h2>

    <p>動詞の殆どがアクションを表す動詞です。</p>

		<p class="vocabulary">have(持つ)</p>
		<p class="vocabulary">say(言う)</p>
		<p class="vocabulary">go(行く)</p>
		<p class="vocabulary">know(知る)</p>
		<p class="vocabulary">eat(食べる)</p>
		<p class="vocabulary">walk(歩く)</p>
		<p class="vocabulary">move(動く)</p>
		<p class="vocabulary">talk(話す)</p>

    <h2 class="content-subhead">文を作ってみよう</h2>

    <p>それでは今まで習った名詞と動詞を使って文を作ってみましょう。下記が最も簡単な文のルールです。</p>

    <div class="grammar"><p align="center">文　＝　名詞　＋　動詞</p></div>

    <p>文の始めは大文字で書きます。</p>

	  <div class="set">
	  <p class="example">I eat.</p>
		<p class="translation">私は食べます。</p>
		</div>
	  <div class="set">
	  <p class="example">You eat.</p>
		<p class="translation">あなたは食べます。</p>
		</div>
	  <div class="set">
	  <p class="example">They walk.</p>
		<p class="translation">彼らは歩きます。</p>
		</div>
	  <div class="set">
	  <p class="example">We move.</p>
		<p class="translation">私達は動きます。</p>
		</div>
	  <div class="set">
	  <p class="example">My friends walk.</p>
		<p class="translation">私の友達は歩きます。</p>
		</div>

		<p>文の主人公にあたる名詞のことを主語と呼びます。例えば<span class="inline">My friends walk.</span>の文では、歩いているのは<span class="inline">My friends</span>なので<span class="inline">My friends</span>が主語になります。後々重要になってくるので頭に入れておいて下さい。</p>
		
		<h2 class="content-subhead">３人称単数</h2>

		<p>代名詞のセクションで３人称というのが出てきました。３人称というのは話し手でも聞き手でもない第３者のことです。
話し手を指す名詞は<span class="inline">I</span>と<span class="inline">we</span>、聞き手を表す名詞は<span class="inline">you</span>しかないので、それ以外の全ての名詞は３人称ということになります。
その中で単数のものを３人称単数と呼びます。可算名詞の単数形(e.g. <span class="inline">friend</span>, <span class="inline">Bill Gates</span>)、全ての不可算名詞(e.g. <span class="inline">water</span>, <span class="inline">money</span>)、そして代名詞<span class="inline">he</span>, <span class="inline">she</span>, <span class="inline">it</span>, <span class="inline">this</span>, <span class="inline">that</span>が３人称単数です。</p>


		<h2 class="content-subhead">主語が３人称単数の時の動詞の変形</h2>

		<p>主語が３人称単数の時は動詞が変形します。名詞と似て、基本的には動詞の語尾に<span class="inline">s</span>を付けます。</p>

    <table class="pure-table pure-table-bordered">
      <thead>
      <tr>
        <th>動詞</th>
        <th>３人称単数</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>eat</td>
        <td>eat<strong>s</strong></td>
      </tr>
      <tr>
        <td>walk</td>
        <td>walk<strong>s</strong></td>
      </tr>
      <tr>
        <td>move</td>
        <td>move<strong>s</strong></td>
      </tr>
      </tbody>
    </table>		

		<p>中には例外も存在します。</p>

		<p>1. 語尾が<span class="inline">ss</span>、<span class="inline">x</span>、<span class="inline">ch</span>、<span class="inline">sh</span>、<span class="inline">o</span>の場合は<span class="inline">es</span>を付けます。</p>

    <table class="pure-table pure-table-bordered">
      <thead>
      <tr>
        <th>動詞</th>
        <th>３人称単数</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>miss</td>
        <td>miss<strong>es</strong></td>
      </tr>
      <tr>
        <td>fix</td>
        <td>fix<strong>es</strong></td>
      </tr>
      <tr>
        <td>catch</td>
        <td>catch<strong>es</strong></td>
      </tr>
      <tr>
        <td>wash</td>
        <td>wash<strong>es</strong></td>
      </tr>
      <tr>
        <td>go</td>
        <td>go<strong>es</strong></td>
      </tr>
      </tbody>
    </table>

    <p>2. 語尾が<span class="inline">子音　＋　y</span>の場合は、<span class="inline">y</span>を除き<span class="inline">ies</span>を付けます。</p>

    <table class="pure-table pure-table-bordered">
      <thead>
      <tr>
        <th>動詞</th>
        <th>３人称単数</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>study</td>
        <td>stud<strong>ies</strong></td>
      </tr>
      <tr>
        <td>cry</td>
        <td>cr<strong>ies</strong></td>
      </tr>
      <tr>
        <td>carry</td>
        <td>carr<strong>ies</strong></td>
      </tr>
      </tbody>
    </table>

    <p>3. <span class="inline">have</span>だけは特別で、<span class="inline">has</span>になります。</p>
    <table class="pure-table pure-table-bordered">
      <thead>
      <tr>
        <th>動詞</th>
        <th>３人称単数</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>have</td>
        <td>ha<strong>s</strong></td>
      </tr>
    </table>

    <br>


		<p>それでは３人称単数を使って文を作ってみましょう。</p>

	  <div class="set">
	  <p class="example">He walk<strong>s</strong>.</p>
		<p class="translation">彼は歩きます。</p>
		</div>
	  <div class="set">
	  <p class="example">She talk<strong>s</strong>.</p>
		<p class="translation">彼女は話します。</p>
		</div>
	  <div class="set">
	  <p class="example">It move<strong>s</strong>.</p>
		<p class="translation">それは動きます。</p>
		</div>
	  <div class="set">
	  <p class="example">My friend walk<strong>s</strong>.</p>
		<p class="translation">私の友達は歩きます。</p>
		</div>

		<h2 class="content-subhead">目的語</h2>

		<p>多くの動詞は名詞を伴います。</p>

		<div class="grammar"><p align="center">動詞　＝　動詞　＋　名詞（目的語）</p></div>

		<p>動詞の後に来る名詞を目的語と呼びます。代名詞のセクションで主格と目的格というのを学びましたよね？主格は主語に使われ、目的格は目的語に使われます。主格と目的格で変化するのは人称代名詞だけです。</p>

	  <div class="set">
	  <p class="example">I love <strong>you</strong>.</p>
		<p class="translation">私はあなたを愛しています。</p>
		</div>
	  <div class="set">
	  <p class="example">She loves <strong>them</strong>.</p>
		<p class="translation">彼女は彼らのことを愛しています。</p>
		</div>
	  <div class="set">
	  <p class="example">We know <strong>him</strong>.</p>
		<p class="translation">私達は彼のことを知っています。</p>
		</div>
	  <div class="set">
	  <p class="example">He knows <strong>me</strong>.</p>
		<p class="translation">彼は私のことを知っています。</p>
		</div>
	  <div class="set">
	  <p class="example">They like <strong>me</strong>.</p>
		<p class="translation">彼らは私のことが好きです。</p>
		</div>
	  <div class="set">
	  <p class="example">He likes <strong>her</strong>.</p>
		<p class="translation">彼は彼女のことが好きです。</p>
		</div>

		<h2 class="content-subhead">自動詞と他動詞</h2>

		<p>アクションを表す動詞には自動詞と他動詞というものがあります。自動詞は目的語をとらない動詞で、他動詞は目的語をとる動詞です。
動詞によっては、自動詞にも他動詞にも成りえます。</p>

		<p><span class="inline">like</span>は他動詞としてしか使えません。<span class="inline">I like.</span>という表現は出来ません。必ず「〜は〜のことが好きです」という形になります。</p>

		<p><span class="inline">drink</span>は自動詞としても他動詞としても使えます。自動詞だと「お酒を飲む」という意味で、他動詞だと「〜を飲む」という意味です。</p>

	  <div class="set">
	  <p class="example">I drink.</p>
		<p class="translation">私はお酒を飲みます。</p>
		</div>
	  <div class="set">
	  <p class="example">He drinks water.</p>
		<p class="translation">彼は水を飲みます。</p>
		</div>

  </div>
</div>


{% endblock %}