{% extends "base.html" %}
{% block body %}

<div id="main">
  <div class="header">
      <h1>動詞の形容詞的活用</h1>
  </div>

  <div class="content">

  	<p>形容詞の働きをする動詞を分詞と呼びます。<span class="inline">動詞+ing</span>か過去分詞を名詞の前に付けることによって名詞を修飾します。</p>

  	<p>例</p>

		<p class="vocabulary">standing desk（スタンディングデスク）</p>
		<p class="vocabulary">winning game（勝ち試合）</p>
		<p class="vocabulary">breaking news（ニュース速報）</p>
		<br>
		<p class="vocabulary">used car（中古車）</p>
		<p class="vocabulary">imported food（輸入食品）</p>
		<p class="vocabulary">chosen one（選ばれし者）</p>
		<p class="vocabulary">cut fruit（カットフルーツ）</p>
		<p class="vocabulary">spoken language（話し言葉）</p>


		<h2>分詞フレーズ</h2>

		分詞が他の単語を伴う場合は名詞の後ろに付きます。形容詞節の省略版と考えると分かり易いかもしれません。

		<p>例</p>

    <div class="set">
		  <p class="example">I'm late. I have to call my friends <strong>waiting for me</strong>. (friends who are waiting for me)</p>
			<p class="translation">遅刻だ。私のことを待ってる友達に電話しなきゃ。</p>
		</div>
    <div class="set">
		  <p class="example">The number of people <strong>living in poverty</strong> remains high. (people who are living in poverty)</p>
			<p class="translation">貧しい暮らしをしている人は未だに沢山います。</p>
		</div>
    <div class="set">
		  <p class="example">I have many clothes <strong>made in USA</strong>. (clothes that were made in USA)</p>
			<p class="translation">私はアメリカ製の服を沢山持っています。</p>
		</div>
    <div class="set">
		  <p class="example">My little sister has a dog <strong>called Alex</strong>. (a dog that is called Alex)</p>
			<p class="translation">私の妹はAlexという犬を飼っています。</p>
		</div>

  </div>
</div>

{% endblock %}