{% extends "base.html" %}
{% block body %}

<div id="main">
  <div class="header">
      <h1>動詞</h1>
  </div>

  <div class="content">

  	<p>動詞はアクションや状態を表現する単語です。</p>

    <h2 class="content-subhead">アクションを表す動詞</h2>

    <p>動詞の殆どがアクションを表す動詞です。</p>

		<p class="vocabulary">have(持つ)</p>
		<p class="vocabulary">say(言う)</p>
		<p class="vocabulary">go(行く)</p>
		<p class="vocabulary">know(知る)</p>
		<p class="vocabulary">eat(食べる)</p>
		<p class="vocabulary">walk(歩く)</p>
		<p class="vocabulary">move(動く)</p>
		<p class="vocabulary">talk(話す)</p>

    <h2 class="content-subhead">文を作ってみよう</h2>

    <p>それでは今まで習った名詞と動詞を使って文を作ってみましょう。下記が最も簡単な文のルールです。</p>

    <div class="grammar"><p align="center">名詞　＋　動詞</p></div>

    <p>文の始めは大文字で書きます。</p>

	  <p class="example">I eat.</p>
		<p class="translation">私は食べます。</p>
	  <p class="example">You eat.</p>
		<p class="translation">あなたは食べます。</p>
	  <p class="example">They walk.</p>
		<p class="translation">彼らは歩きます。</p>
	  <p class="example">We move.</p>
		<p class="translation">私達は動きます。</p>
	  <p class="example">My friends walk.</p>
		<p class="translation">私の友達は歩きます。</p>

		<p>文の主人公にあたる名詞のことを主語と呼びます。例えば<span class="inline">My friends walk.</span>の文では、歩いているのは<span class="inline">My friends</span>なので<span class="inline">My friends</span>が主語になります。後々重要になってくるので頭に入れておいて下さい。</p>
		
		<h2 class="content-subhead">３人称単数</h2>

		<p>代名詞のセクションで３人称というのが出てきました。３人称というのは話し手でも聞き手でもない第３者のことです。
話し手を指す名詞は<span class="inline">I</span>と<span class="inline">we</span>、聞き手を表す名詞は<span class="inline">you</span>しかないので、それ以外の全ての名詞は３人称ということになります。
その中で単数のものを３人称単数と呼びます。可算名詞の単数形(e.g. <span class="inline">friend</span>, <span class="inline">Bill Gates</span>)、全ての不可算名詞(e.g. <span class="inline">water</span>, <span class="inline">money</span>)、そして代名詞<span class="inline">he</span>, <span class="inline">she</span>, <span class="inline">it</span>, <span class="inline">this</span>, <span class="inline">that</span>が３人称単数です。</p>


		<p>主語が３人称単数の時は動詞が変形します。名詞と似て、基本的には動詞の語尾にsを付けます。</p>

		<p class="vocabulary">eat/eats</p>
		<p class="vocabulary">walk/walks</p>
		<p class="vocabulary">move/moves</p>

		<p>中には例外も存在します。</p>

		<p class="vocabulary">have/has</p>
		<p class="vocabulary">catch/catches(キャッチする)</p>
		<p class="vocabulary">study/studies(勉強する)</p>

		<p>それでは３人称単数を使って文を作ってみましょう。</p>

	  <p class="example">He walks.</p>
		<p class="translation">彼は歩きます。</p>
	  <p class="example">She talks.</p>
		<p class="translation">彼女は話します。</p>
	  <p class="example">It moves.</p>
		<p class="translation">それは動きます。</p>
	  <p class="example">My friend walks.</p>
		<p class="translation">私の友達は歩きます。</p>

		<h2 class="content-subhead">目的語</h2>

		<p>新しい文のルールを紹介します。</p>

		<div class="grammar"><p align="center">名詞　＋　動詞　＋　名詞</p></div>

		<p>動詞の後に来る名詞を目的語と呼びます。代名詞のセクションで主格と目的格というのを学びましたよね？主格は主語に使われ、目的格は目的語に使われます。主格と目的格で変化するのは人称代名詞だけです。</p>

	  <p class="example">I love you.</p>
		<p class="translation">私はあなたを愛しています。</p>
	  <p class="example">She loves them.</p>
		<p class="translation">彼女は彼らのことを愛しています。</p>
	  <p class="example">We know him.</p>
		<p class="translation">私達は彼のことを知っています。</p>
	  <p class="example">He knows me.</p>
		<p class="translation">彼は私のことを知っています。</p>
	  <p class="example">They like me.</p>
		<p class="translation">彼らは私のことが好きです。</p>
	  <p class="example">He likes her.</p>
		<p class="translation">彼は彼女のことが好きです。</p>

		<h2 class="content-subhead">自動詞と他動詞</h2>

		<p>アクションを表す動詞には自動詞と他動詞というものがあります。自動詞は目的語をとらない動詞で、他動詞は目的語をとる動詞です。
動詞によっては、自動詞にも他動詞にも成りえます。</p>

		<p><span class="inline">like</span>は他動詞としてしか使えません。<span class="inline">I like.</span>という表現は出来ません。必ず「〜は〜のことが好きです」という形になります。</p>

		<p><span class="inline">drink</span>は自動詞としても他動詞としても使えます。自動詞だと「お酒を飲む」という意味で、他動詞だと「〜を飲む」という意味です。</p>

	  <p class="example">I drink.</p>
		<p class="translation">私はお酒を飲みます。</p>
	  <p class="example">He drinks water.</p>
		<p class="translation">彼は水を飲みます。</p>

  </div>
</div>


{% endblock %}