{% extends "base.html" %}
{% block body %}

<div id="main">
  <div class="header">
      <h1>受動態</h1>
  </div>

  <div class="content">

  	<p>受動態は”〜された”という意味です。全ての自制で受動態を使うことが出来ます。</p>

    <h2>現在形</h2>

    <div class="grammar"><p align="center">名詞　＋　is/am/are　＋　(not)　＋　動詞過去完了形</p></div>

    <p>例</p>

    <p>まずは能動態から。</p>

	  <p class="example">Fred teaches my English class.</p>
		<p class="translation">Fredが私の英語のクラスを教えています。</p>
		<p>これを受動態に直すとこうなります。</p>
	  <p class="example">My English class is taught by Fred.</p>
		<p class="translation">私の英語のクラスはFredによって教えられています。</p>
		<p>能動態が”Fredが何を教えているか”を強調しているのに対し受動態は”私の英語のクラスが誰によって教えられているのか”を強調しています。</p>

		<h2>過去形</h2>
		<div class="grammar"><p align="center">名詞　＋　was/were　＋　(not)　＋　動詞過去完了形</p></div>

	  <p>例</p>

	  <p class="example">I was invited to the party.</p>
		<p class="translation">私はパーティに招待された。</p>

		<h2>助動詞</h2>

		<div class="grammar"><p align="center">名詞　＋　助動詞　＋　(not)　＋　be　＋　動詞過去完了形</p></div>

		<p>例</p>

	  <p class="example">He should be taken to the hospital.</p>
		<p class="translation">彼は病院に連れていかれるべきだ。</p>

		<h2>完了形</h2>

		<div class="grammar"><p align="center">名詞　＋　have/has/had　＋　(not)　＋　been　＋　動詞過去完了形</p></div>

		<p>例</p>

	  <p class="example">I have been asked a lot of questions about business lately.</p>
		<p class="translation">最近私はビジネスについて多くの質問を受ける。</p>

		<h2>進行形</h2>

		<div class="grammar"><p align="center">名詞　＋　am/is/are/was/were　＋　(not)　＋　being　＋　動詞過去完了形</p></div>

		<p>例</p>

	  <p class="example">The classroom is being used at the moment.</p>
		<p class="translation">教室は現在使われています。</p>

  </div>
</div>

{% endblock %}