{% extends "base.html" %}
{% block body %}

<div id="main">
  <div class="header">
      <h1></h1>
  </div>

  <div class="content">

  	<p></p>

    <h2></h2>

    <div class="grammar"><p align="center"></p></div>

	  <p class="example"></p>
		<p class="translation"></p>
	  <p class="example"></p>
		<p class="translation"></p>
	  <p class="example"></p>
		<p class="translation"></p>
	  <p class="example"></p>
		<p class="translation"></p>

		<p class="vocabulary"></p>
		<p class="vocabulary"></p>
		<p class="vocabulary"></p>
		<p class="vocabulary"></p>
		<p class="vocabulary"></p>

		<span class="inline">

  </div>
</div>

{% endblock %}

受動態
<br>

受動態は”〜された”という意味です。全ての自制で受動態を使うことが出来ます。

現在形

	主語　＋　is/am/are　＋　(not)　＋　動詞過去完了形

例

まずは能動態から。

Fred teaches my English class.

フレッドが私の英語のクラスを教えています。

これを受動態に直すとこうなります。

My English class is taught by Fred.

私の英語のクラスはフレッドによって教えられています。

能動態が”フレッドが何を教えているか”を強調しているのに対し受動態は”私の英語のクラスが誰によって教えられているのか”を強調しています。

<hr>

過去形

	主語　＋　was/were　＋　(not)　＋　動詞過去完了形

例

I was invited to the party.

私はパーティに招待された。

<hr>

助動詞

	主語　＋　助動詞　＋　(not)　＋　be　＋　動詞過去完了形

例

He should be taken to the hospital.

彼は病院に連れていかれるべきだ。

<hr>

完了形

	主語　＋　have/has/had　＋　(not)　＋　been　＋　動詞過去完了形

例

I have been asked a lot of questions about business lately.

最近私はビジネスについて多くの質問を受ける。

<hr>

進行形

	主語　＋　am/is/are/was/were　＋　(not)　＋　being　＋　動詞過去完了形

例

The classroom is being used at the moment.

教室は現在使われています。