{% extends "base.html" %}
{% block body %}

<div id="main">
  <div class="header">
      <h1>名詞節</h1>
  </div>

  <div class="content">

  	<p>名詞の役割を果たす節を名詞節と呼びます。</p>

    <h2>動詞　＋　節</h2>

    <p>多くの動詞の後に節が来ます。動詞と節の間に<span class="inline">that</span>を入れることもあります。</p>

    <p>例</p>

	  <p class="example">He said (that) <strong>he's going to be late for dinner</strong>.</p>
		<p class="translation">彼は夕食に遅れると言いました。</p>
	  <p class="example">I didn't know (that) <strong>I was pregnant</strong>.</p>
		<p class="translation">妊娠しているとは知らなかった。</p>
	  <p class="example">I think (that) <strong>he is right</strong>.</p>
		<p class="translation">私は彼が正しいと思います。</p>
	  <p class="example">I told you (that) <strong>it's spicy</strong>.</p>
		<p class="translation">だから辛いって言ったじゃん。</p>

		<h2>wh　＋　節</h2>

		<p><span class="inline">wh　＋　節</span>で名詞の役割をします。</p>

	  <p class="example">You are <strong>what you eat</strong>.</p>
		<p class="translation">あなたは何を食べるかによって決まる。(直訳し辛いです。)</p>
	  <p class="example">It doesn't matter <strong>what your parents think</strong>.</p>
		<p class="translation">親がどう考えるかは関係ない。</p>
	  <p class="example">(Paul) What should I study in college?</p>
		<p class="translation">大学で何を勉強すべきですか？</p>
	  <p class="example">(Lisa) It depends on <strong>what you want to do</strong>.</p>
		<p class="translation">あなたが何をしたいかによります。</p>
	  <p class="example">I don't know <strong>who she is</strong>.</p>
		<p class="translation">彼女が誰なのか分かりません。</p>
	  <p class="example">I'm going to ask him <strong>why he doesn't like horror movies</strong>.</p>
		<p class="translation">彼が何でホラー映画が好きじゃないのか聞いてみます。</p>
	  <p class="example">I don't remember <strong>how I got here</strong>.</p>
		<p class="translation">ここにどうやって着いたか覚えていません。</p>
		<p>名詞節は当然主語にもなります。</p>
	  <p class="example"><strong>Where you work</strong> is totally up to you.</p>
		<p class="translation">どこで働くかは完全にあなたにお任せします。</p>
		<p><span class="inline">wh</span>が主語として使われる場合は疑問文と全く同じ形で使います。</p>
	  <p class="example">I don't know <strong>what happened to him</strong>.</p>
		<p class="translation">彼に何が起こったか知りません。</p>
		<h2>wh　＋　ever</h2>
		<p><span class="inline">wh　＋　ever</span>は”〜でも”という意味です。</p>
	  <p class="example">You can order <strong>whatever you want</strong>.</p>
		<p class="translation">何でも好きなものを注文していいよ。</p>
	  <p class="example">Just write down <strong>whatever comes to your mind</strong>.</p>
		<p class="translation">思い浮かんだことを何でも書き出して下さい。</p>

  </div>
</div>

{% endblock %}

