{% extends "base.html" %}
{% block body %}

<div id="main">
  <div class="header">
      <h1>~self</h1>
  </div>

  <div class="content">

  	<p>~selfは”〜自身”という意味です。</p>

		<p class="vocabulary"></p>
		<p class="vocabulary"></p>
		<p class="vocabulary"></p>
		<p class="vocabulary"></p>
		<p class="vocabulary"></p>
		<p class="vocabulary"></p>
		<p class="vocabulary"></p>
		<p class="vocabulary"></p>
		<p class="vocabulary"></p>
		<p class="vocabulary"></p>


	  <p class="example"></p>
		<p class="translation"></p>
	  <p class="example"></p>
		<p class="translation"></p>
	  <p class="example"></p>
		<p class="translation"></p>
	  <p class="example"></p>
		<p class="translation"></p>

		<p class="vocabulary"></p>
		<p class="vocabulary"></p>
		<p class="vocabulary"></p>
		<p class="vocabulary"></p>
		<p class="vocabulary"></p>

		<span class="inline">

  </div>
</div>

{% endblock %}

I(myself)

we(ourselves)

you(yourself)

you(複数)(yourselves)

he(himself)

she(herself)

they(themselves)

it(itself)

例

Please introduce yourself.

自己紹介をして下さい。

I sometimes talk to myself.

私は時々自分自身と話します。（一人言を言う）

She taught herself web design.

彼女はウェブデザインを独学で学びました。

Money itself has no value.

お金自身に価値は無い。

<hr>

byを~selfに付けると”一人で”という意味になります。

例

I live in Tokyo by myself.

私は東京に一人で住んでいます。

She traveld around the world by herself.

彼女は世界中を一人で旅した。
