{% extends "base.html" %}
{% block body %}

<div id="main">
  <div class="header">
      <h1>名詞３(mine, myself)</h1>
  </div>

  <div class="content">

  	<h2>所有代名詞と再起代名詞</h2>

  	<p>今回は残りの人称代名詞である所有代名詞と再起代名詞を紹介します。まずは人称代名詞の表の完成版を見てみましょう。</p>

  	<p>まずは単数形です。</p>

    <table class="pure-table pure-table-bordered">
      <thead>
      <tr>
        <th colspan="2"> </th>
        <th>主格</th>
        <th>所有格</th>
        <th>目的格</th>
        <th>所有代名詞</th>
        <th>再起代名詞</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>１人称</td>
        <td>私</td>
        <td>I</td>
        <td>my</td>
        <td>me</td>
        <td>mine</td>
        <td>myself</td>
      </tr>
      <tr>
        <td>２人称</td>
        <td>あなた</td>
        <td>you</td>
        <td>your</td>
        <td>you</td>
        <td>yours</td>
        <td>yourself</td>
      </tr>
      <tr>
        <td rowspan="3">３人称</td>
        <td>彼</td>
        <td>he</td>
        <td>his</td>
        <td>him</td>
        <td>his</td>
        <td>himself</td>
      </tr>
      <tr>
        <td>彼女</td>
        <td>she</td>
        <td>her</td>
        <td>her</td>
        <td>hers</td>
        <td>herself</td>
      </tr>
      <tr>
        <td>それ</td>
        <td>it</td>
        <td>its</td>
        <td>it</td>
        <td align="center"> - </td>
        <td>itself</td>
      </tr>
      <tr>
        <td colspan="2">他名詞</td>
        <td>student</td>
        <td>student's</td>
        <td>student</td>
        <td>student's</td>
        <td align="center"> - </td>
      </tr>
      </tbody>
    </table>  	

   <p>次に複数形です。</p>

    <table class="pure-table pure-table-bordered">
      <thead>
      <tr>
        <th colspan="2"> </th>
        <th>主格</th>
        <th>所有格</th>
        <th>目的格</th>
        <th>所有代名詞</th>
        <th>再起代名詞</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>１人称</td>
        <td>私達</td>
        <td>we</td>
        <td>our</td>
        <td>us</td>
        <td>ours</td>
        <td>ourselves</td>
      </tr>
      <tr>
        <td>２人称</td>
        <td>あなた達</td>
        <td>you</td>
        <td>your</td>
        <td>you</td>
        <td>yours</td>
        <td>yourselves</td>
      </tr>
      <tr>
        <td>３人称</td>
        <td>彼ら</td>
        <td>they</td>
        <td>their</td>
        <td>them</td>
        <td>theirs</td>
        <td>themselves</td>
      </tr>
      <tr>
        <td colspan="2">他名詞</td>
        <td>students</td>
        <td>students'</td>
        <td>students</td>
        <td>students'</td>
        <td align="center"> - </td>
      </tr>
      </tbody>
    </table>

    <h2>所有代名詞</h2>

    <p>所有代名詞は「〜のもの」という意味です。<span class="inline">所有格　＋　名詞</span>を所有代名詞に置き換えることが可能です。所有代名詞は主語にも目的語にもなり得ます。</p>

	  <div class="set">
    <p class="example">This is my idea. Not <strong>yours</strong>. (yours = your idea)</p>
		<p class="translation">これは私のアイディアです。あなたのではありません。</p>
    </div>
	  <div class="set">
    <p class="example">(Ben) I found a pen. Is this <strong>yours</strong>?</p>
		<p class="translation">ペンを見つけました。これはあなたのものですか？(yours = your pen)</p>
    </div>
	  <div class="set">
    <p class="example">(Matt) Yes, that's <strong>mine</strong>.</p>
		<p class="translation">はい、それは私のものです。(mine = my pen)</p>
    </div>

    <h2>再起代名詞</h2>

  	<p>再起代名詞は「〜自身」という意味です。</p>

  	<p>例</p>

	  <div class="set">
    <p class="example">Please introduce <strong>yourself</strong>.</p>
		<p class="translation">自己紹介をして下さい。</p>
	  </div>
    <div class="set">
    <p class="example">I sometimes talk to <strong>myself</strong>.</p>
		<p class="translation">私は時々自分自身と話します。（一人言を言う）</p>
	  </div>
    <div class="set">
    <p class="example">She taught <strong>herself</strong> web design.</p>
		<p class="translation">彼女はウェブデザインを独学で学びました。</p>
	  </div>
    <div class="set">
    <p class="example">Money <strong>itself</strong> has no value.</p>
		<p class="translation">お金自身に価値は無い。</p>
    </div>

		<p><span class="inline">by</span>を<span class="inline">~self</span>に付けると「一人で」という意味になります。</p>

		<p>例</p>

	  <div class="set">
    <p class="example">I live in Tokyo <strong>by myself</strong>.</p>
		<p class="translation">私は東京に一人で住んでいます。</p>
	  </div>
    <div class="set">
    <p class="example">She traveled around the world <strong>by herself</strong>.</p>
		<p class="translation">彼女は世界中を一人で旅した。</p>
    </div>
    
  </div>
</div>

{% endblock %}