{% extends "base.html" %}
{% block body %}

<div id="main">
  <div class="header">
      <h1>名詞２ - 冠詞</h1>
  </div>

  <div class="content">

  	<p>冠詞は代名詞の一つで、<span class="inline">a</span>, <span class="inline">an</span>, <span class="inline">the</span>の３つしかありません。冠詞は所有格や指示代名詞のように名詞の前に付き、一つの名詞を形成します。</p>

  	<p>まずは例を見てみましょう。</p>

	  <div class="set">
	  <p class="example">I want a car.</p>
		<p class="translation">私は車が欲しいです。</p>
		</div>

		<p><!-- <span class="inline">a car</span>で一つの名詞なので、<span class="inline">名詞　＋　動詞　＋　名詞</span>の形ですね。 -->この文は漠然と「どの車を買うか決めてないけど車が欲しいなあ」という意味です。</p>

		<p>次はtheを使った例です。</p>

	  <div class="set">
	  <p class="example">I want the car.</p>
		<p class="translation">私はその車が欲しいです。</p>
		</div>

		<p>この場合は、どの車のことを話しているのか、話し手にとっても聞き手にとっても明らかであるということを暗示しています。例えば、友達とディーラーに行って、トヨタのプリウスを試乗したとします。試乗後に、友達に<span class="inline">I want the car.</span>と言えば、聞き手である友達は、試乗したプリウスのことを言っているんだなということが分かります。</p>

		<p>可算名詞を単数形で使う場合は必ず代名詞が必要です。<span class="inline">× I want car</span>という文は非文法的です。複数形で使う場合は代名詞を取らない場合もあります。</p>

	  <div class="set">
	  <p class="example">I like cars.</p>
		<p class="translation">私は車が好きです。</p>
		</div>

		<p><span class="inline">an</span>は<span class="inline">a</span>と同じ意味です。名詞が母音の発音で始まる場合は<span class="inline">an</span>を使います。スペルが<span class="inline">a</span>, <span class="inline">e</span>, <span class="inline">i</span>, <span class="inline">o</span>, <span class="inline">u</span>で始まるという意味ではないので注意して下さい。あくまでも発音の問題です。</p>

		<p class="vocabulary">an apple(一つのりんご)</p>
		<p class="vocabulary">an hour(１時間)</p>

		<p>以下の表は、それぞれの名詞にどの冠詞が使えるかをまとめたものです。</p>

    <table class="pure-table pure-table-bordered">
      <tbody>
      <tr>
        <td></td>
        <td>a/an</td>
        <td>the</td>
        <td>冠詞なし</td>
      </tr>
      <tr>
        <td>加算名詞　単数</td>
        <td>a car</td>
        <td>the car</td>
        <td>×</td>
      </tr>
      <tr>
        <td>加算名詞　複数</td>
        <td>×</td>
        <td>the cars</td>
        <td>cars</td>
      </tr>
      <tr>
        <td>不加算名詞</td>
        <td>×</td>
        <td>the money</td>
        <td>money</td>
      </tr>
      <tr>
        <td>固有名詞</td>
        <td>×</td>
        <td>×</td>
        <td>Japan</td>
      </tr>
      </tbody>
    </table>

		<p>冠詞は日本語にない概念なので理解するのに時間がかかると思います。英語を沢山読んで聞く中で徐々に感覚を養っていくと良いでしょう。今は、聞き手が特定出来るものは<span class="inline">the</span>,特定出来ないものは<span class="inline">a</span>, <span class="inline">an</span>と覚えておけば大丈夫です。</p>

		<h2>Frozenで学ぶ冠詞（上級者向き）</h2>

		<p>映画Frozen(アナ雪)のセリフを使って冠詞を解説していきます。これは上級者向きなので飛ばしても大丈夫です。
		映画を見たことがあると理解し易いでしょう。スクリプトはこちらで見れます。</p>
		<p><a href="http://www.springfieldspringfield.co.uk/movie_script.php?movie=frozen-2013" target="_blank">Frozen (2013) Movie Script | SS</a></p>

		<h3>the の使用例</h3>

		<div class="set">
		<p class="example">The sky's awake.</p>
		<p class="translation">skyは世の中に一つしかないので the.</p>
		</div>
		<div class="set">
		<p class="example">Do the magic!</p>
		<p class="translation">AnnaがElsaのmagicについて話してるのでtheが適切。</p>
		</div>
		<div class="set">
		<p class="example">He is the King!</p>
		<p class="translation">世界全体で見ればkingは沢山いますが、このシーンはArendelle国の中での出来事なので国に一人しかいないkingにtheを使うのが正解。</p>
		</div>
		<div class="set">
		<p class="example">Born with the powers or cursed?</p>
		<p class="translation">Elsaのpowerについて話しているのが背景から分かるのでthe.</p>
		</div>
		<div class="set">
		<p class="example">The heart is not so easily changed, but the head can be persuaded.</p>
		<p class="translation">ここもElsaのことについて話してるのでtheを使ってます。</p>
		</div>
		<div class="set">
		<p class="example">But don't worry, I'll leave the fun.</p>
		<p class="translation">funはここでは”楽しい思い出”という意味で使われています。Annaの思い出というのが分かるのでthe.</p>
		</div>
		<div class="set">
		<p class="example">we'll lock the gates. We'll reduce the staff.</p>
		<p class="translation">城のgatesとstaffということが明確なのでthe.</p>
		</div>
		<div class="set">
		<p class="example">The gloves will help.</p>
		<p class="translation">この場面ではどのGlovesについて話してるか明確なのでthe.</p>
		</div>
		<div class="set">
		<p class="example">For the first time in forever</p>
		<p class="translation">first timeは一回しかないのでthe</p>
		</div>
		<div class="set">
		<p class="example">Prince Hans of the Southern Isles</p>
		<p class="translation">Southern Islesは一つしかないのでthe</p>
		<div class="set">
		</div>
		<p class="example">Why did they shut them in the first place? Do you know the reason?</p>
		<p class="translation">始めの疑問文に対してのreasonなのでthe.</p>
		</div>
		<div class="set">
		<p class="example">We'll need a few days to plan the ceremony.</p>
		<p class="translation">二人のceremonyについて話しているのが明確なのでthe.</p>
		</div>
		<div class="set">
		<p class="example">I've always loved the idea of summer.</p>
		<p class="translation">the idea of ~ ていうのは”〜というもの”っていう意味です。フレーズ毎覚えるといいでしょう。</p>
		</div>
		<div class="set">
		<p class="example">I'm not alone...I have friends, remember?<br>You mean the love experts?</p>
		<p class="translation">以前love expertsについて２人は話してるので今回はtheを使います。</p>
		</div>
		<div class="set">
		<p class="example">I, on the other hand, am the hero who is going to save Arendelle from destruction.</p>
		<p class="translation">whoやthatといった<a href="{{ url_for('post', name='形容詞節', _external=True)}}">形容詞節</a>を使って直前の名詞を修飾する場合はtheを使います。ちょっとここでのtheは意外かもしれませんが、形容詞節はよく使われるので覚えておきましょう。</p>
		</div>

		<h3>a の使用例</h3>

		<div class="set">
		<p class="example">Do you want to build a snowman?</p>
		<p class="translation">showmanはまだ作られてないのでa.</p>
		</div>
		<div class="set">
		<p class="example">Give me a snack!</p>
		<p class="translation">Svenは人参しか食わないのでここでのsnackは人参のことだと思いますが、何本かあるのでそのうちの一つをここでは示しています。</p>
		</div>
		<div class="set">
		<p class="example">I can't believe they're finally opening up the gates! And for a whole day!</p>
		<p class="translation">ここではどれくらいの時間ゲートを開けているかということなのでaを使います。つまりここでのdayはいつということではなく時間の長さを示す使われ方をしています。</p>
		</div>
		<div class="set">
		<p class="example">So, this is what a party looks like?</p>
		<p class="translation">ここではどのpartyと特定していません。ここでaでなくtheを使うと、ElsaがQueenになったこの日の特別なpartyを示すことになります。</p>
		</div>
		<div class="set">
		<p class="example">You can't marry a man you just met.</p>
		<p class="translation">これはmanとyouの間にwho/whomが隠れてるので形容詞節です。上記に形容詞節の時はtheと書きましたが、この場合はHansと結婚しちゃダメと言ってるのではなく、一般的な男について話してるので a を使います。難しいですね。</p>
		</div>
		<div class="set">
		<p class="example">And my sister's not a monster.</p>
		<p class="translation">monsterは抽象的なものなのでどのmonsterかこの場面では特定出来ません。</p>
		</div>
		<div class="set">
		<p class="example">But I did find us a place to sleep.</p>
		<p class="translation">新たに見つけたものなのでa.</p>
		</div>
		<div class="set">
		<p class="example">No, I was raised in a castle.</p>
		<p class="translation">実際theでも悪くないのですが、ここでは特定の場所について話してるわけでなく環境について話してるのでaの方が適切。</p>
		</div>

		<p>普段そんなに気にしなくても何となく文章を理解出来てしまう冠詞ですが、いざ話したり書いたりする時にどっちを使えばいいのか分からないとう状態に陥ることが多いです。なので普段から意識的に分析することをお勧めします。</p>



  </div>
</div>

{% endblock %}