{% extends "base.html" %}
{% block body %}

<div id="main">
  <div class="header">
      <h1>名詞２ - 冠詞</h1>
  </div>

  <div class="content">

  	<p>冠詞は代名詞の一つで、<span class="inline">a</span>, <span class="inline">an</span>, <span class="inline">the</span>の３つしかありません。冠詞は名詞の前に付き、一つの名詞を形成します。</p>

  	<p>まずは例を見てみましょう。</p>

	  <p class="example">I want a car.</p>
		<p class="translation">私は車が欲しいです。</p>

		<p><span class="inline">a car</span>で一つの名詞なので、”名詞＋動詞＋名詞”の形ですね。この文は漠然と”どの車を買うか決めてないけど車が欲しいなあ”という意味です。</p>

		<p>次はtheを使った例です。</p>

	  <p class="example">I want the car.</p>
		<p class="translation">私はその車が欲しいです。</p>

		<p>この場合は、どの車のことを話しているのか、話し手にとっても聞き手にとっても明らかであるということを暗示しています。例えば、友達とディーラーに行って、トヨタのプリウスを試乗したとします。試乗後に、友達に<span class="inline">I want the car.</span>と言えば、聞き手である友達は、試乗したプリウスのことを言っているんだなということが分かります。</p>

		<p>可算名詞を単数形で使う場合は必ず代名詞が必要です。<span class="inline">× I want car</span>という文は非文法的です。複数形で使う場合は代名詞を取らない場合もあります。</p>

	  <p class="example">I like cars.</p>
		<p class="translation">私は車が好きです。</p>

		<p><span class="inline">an</span>は<span class="inline">a</span>と同じ意味です。名詞が母音の発音で始まる場合は<span class="inline">an</span>を使います。スペルが<span class="inline">a</span>, <span class="inline">e</span>, <span class="inline">i</span>, <span class="inline">o</span>, <span class="inline">u</span>で始まるという意味ではないので注意して下さい。あくまでも発音の問題です。</p>

		<p class="vocabulary">an apple(一つのりんご)</p>
		<p class="vocabulary">an hour(１時間)</p>

		<p>冠詞は日本語にない概念なので理解するのに時間がかかると思います。英語を沢山読んで聞く中で徐々に感覚を養っていくと良いでしょう。今は、聞き手が特定出来るものは<span class="inline">the</span>,特定出来ないものは<span class="inline">a</span>, <span class="inline">an</span>と覚えておけば大丈夫です。</p>

  </div>
</div>

{% endblock %}