{% extends "base.html" %}
{% block body %}

<div id="main">
  <div class="header">
      <h1>名詞</h1>
  </div>

  <div class="content">

    <p>名詞は人、場所、物、概念などを表す単語です。</p>

    <h2>普通名詞</h2>

    <p>普通名詞は一般的なものを表す名詞です。</p>

    <p>例</p>

    <p class="vocabulary">time(時間)</p>
    <p class="vocabulary">year(年)</p>
    <p class="vocabulary">school(学校)</p>
    <p class="vocabulary">man(男)</p>
    <p class="vocabulary">friend(友達)</p>

    <h2>固有名詞</h2>

    <p>固有名詞は特定のものを指す名詞です。固有名詞の語頭は大文字で書きます。</p>

    <p>例</p>

    <p class="vocabulary">Japan(日本)</p>
    <p class="vocabulary">Bill Gates(ビルゲイツ)</p>
    <p class="vocabulary">Google(グーグル)</p>

    <h2>可算名詞</h2>

    <p>名詞には数えられるものと数えられないものがあります。</p>
    
    <p>例</p>

    <p class="vocabulary">student(生徒)</p>
    <p class="vocabulary">problem(問題、課題)</p>
    <p class="vocabulary">question(質問)</p>

    <p>可算名詞には単数形と複数形が存在します。単数形は一つのものを表す時に使います。単数形は原形と同じです。名詞を複数形にするには、単語の後にsを付けます。</p>

    <p class="vocabulary">students</p>
    <p class="vocabulary">problems</p>
    <p class="vocabulary">questions</p>

    <p>不規則な複数形も多数存在するので、名詞を覚える際に複数形も一緒に覚えましょう。</p>

    <p class="vocabulary">woman/women(女)</p>
    <p class="vocabulary">person/people(人)</p>
    <p class="vocabulary">child/children(子供)</p>

    <h2>不可算名詞</h2>

    <p>不可算名詞は数えられない名詞です。不可算名詞に複数形は存在しません。</p>

    <p>例</p>

    <p class="vocabulary">water(水)</p>
    <p class="vocabulary">money(お金)</p>
    <p class="vocabulary">information(情報)</p>

    <h2>代名詞</h2>

    <p>代名詞は名詞の一種です。代名詞にも幾つか種類がありますが、今回は２種類だけ紹介します。</p>

    <h2>人称代名詞</h2>

    <p>人称代名詞は人を表す代名詞です。</p>

    <p>まずは単数形です。</p>

    <table class="pure-table pure-table-bordered">
      <thead>
      <tr>
        <th colspan="2"> </th>
        <th>主格</th>
        <th>所有格</th>
        <th>目的格</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>１人称</td>
        <td>私</td>
        <td>I</td>
        <td>my</td>
        <td>me</td>
      </tr>
      <tr>
        <td>２人称</td>
        <td>あなた</td>
        <td>you</td>
        <td>your</td>
        <td>you</td>
      </tr>
      <tr>
        <td rowspan="3">３人称</td>
        <td>彼</td>
        <td>he</td>
        <td>his</td>
        <td>him</td>
      </tr>
      <tr>
        <td>彼女</td>
        <td>she</td>
        <td>her</td>
        <td>her</td>
      </tr>
      <tr>
        <td>それ</td>
        <td>it</td>
        <td>its</td>
        <td>it</td>
      </tr>
      <tr>
        <td colspan="2">他名詞</td>
        <td>student</td>
        <td>student's</td>
        <td>student</td>
      </tr>
      </tbody>
    </table>

    <p>次に複数形です。</p>

    <table class="pure-table pure-table-bordered">
      <thead>
      <tr>
        <th colspan="2"> </th>
        <th>主格</th>
        <th>所有格</th>
        <th>目的格</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>１人称</td>
        <td>私達</td>
        <td>we</td>
        <td>our</td>
        <td>us</td>
      </tr>
      <tr>
        <td>２人称</td>
        <td>あなた達</td>
        <td>you</td>
        <td>your</td>
        <td>you</td>
      </tr>
      <tr>
        <td>３人称</td>
        <td>彼ら</td>
        <td>they</td>
        <td>their</td>
        <td>them</td>
      </tr>
      <tr>
        <td colspan="2">他名詞</td>
        <td>students</td>
        <td>students'</td>
        <td>students</td>
      </tr>
      </tbody>
    </table>

    <p>他に所有代名詞と再帰代名詞がありますが、後で紹介します。それぞれの各をどう使い分けるかは後々説明します。</p>

    <h2>指示代名詞</h2>

    <p>指示代名詞は４つしかないのですぐ覚えられます。</p>

    <p class="vocabulary">this(これ)</p>
    <p class="vocabulary">that(あれ)</p>
    <p class="vocabulary">these(これら)</p>
    <p class="vocabulary">those(それら、あれら)</p>

    <h2>名詞の成り立ち</h2>

    <p>複数の名詞を使って一つの名詞を作ることが可能です。</p>

    <p>例</p>

    <p class="vocabulary">my car(私の車)</p>    
    <p class="vocabulary">his car(彼の車)</p>
    <p class="vocabulary">our car(私達の車)</p>
    <p class="vocabulary">their car(彼らの車)</p>
    <p class="vocabulary">this car(この車)</p>
    <p class="vocabulary">that car(あの車)</p>
    <p class="vocabulary">these cars(これらの車)</p>
    <p class="vocabulary">those cars(それらの車)</p>
    <p class="vocabulary">English teacher(英語の先生)</p>
    <p class="vocabulary">Math teacher(数学の先生)</p>
    <p>３つ以上の名詞を繋げる事も可能です。</p>
    <p class="vocabulary">my friend's teacher(私の友達の先生)</p>    
    <p class="vocabulary">my friend's English teacher(私の友達の英語の先生)</p>

  </div>
</div>

{% endblock %}