{% extends "base.html" %}
{% block body %}

<div id="main">
  <div class="header">
      <h1>命令形</h1>
  </div>

  <div class="content">

  	<p>命令形は人に何かを命令したり、注意する時に使います。</p>

    <h2>肯定文</h2>

    <div class="grammar"><p align="center">動詞原形</p></div>

    <p>例</p>

	  <p class="example">Join us!</p>
		<p class="translation">参加しなよ！</p>
	  <p class="example">Give me a hand.</p>
		<p class="translation">手を貸して。</p>
	  <p class="example">Wait a minute.</p>
		<p class="translation">ちょっと待って。</p>
	  <p class="example">Calm down.</p>
		<p class="translation">落ち着いて。</p>

		<p>文頭に<span class="inline">You</span>を置くと”あなたが〜してよ”という意味になります。形は現在形と変わりませんんが、文脈で命令形というのがはっきり分かる場合がほとんどです。この場合は<span class="inline">You</span>を強調して発音します。</p>

	  <p class="example">(Amy) Thank you for the tissue.</p>
		<p class="translation">ティッシュありがとう。</p>
	  <p class="example">(Sarah) No, you keep the pack.</p>
		<p class="translation">いや、あなたが持ってていいよ。</p>
		<p>AmyがSarahからポケットティッシュを借りて、使った残りを返そうとするという場面です。Sarahは、”いや、返さなくていいよ”という意味で<span class="inline">You keep the pack.</span>と言っています。</p>

		<h2>否定文</h2>

		<div class="grammar"><p align="center">Do not　＋　動詞原形</p></div>

		<p><span class="inline">Do not</span>は<span class="inline">Don't</span>と略すことが多いです。</p>

		<p>例</p>

	  <p class="example">Do not touch it!</p>
		<p class="translation">それに触るな！</p>
	  <p class="example">Don't move!</p>
		<p class="translation">動かないで！</p>
	  <p class="example">Don't be late.</p>
		<p class="translation">遅刻しないでね。</p>
	 
		<h2>Pleaseを使った命令形</h2>	 

		<p><span class="inline">Please</span>を文頭に置いて、”お願いだから”という意味を付けることがあります。</p>

		<div class="grammar"><p align="center">Please  ＋　命令形</p></div>

		<p>例</p>

	  <p class="example">Please come here early tomorrow.</p>
		<p class="translation">お願いだから明日ここに早く来て。</p>
	  <p class="example">Please don't tell anyone.</p>
		<p class="translation">お願いだから誰にも言わないで。</p>

		<p>命令形の後に<span class="inline">please</span>を付けることもあります。</p>
	  <p class="example">Don't tell anyone, please.</p>
		<p class="translation">誰にも言わないで。お願い。</p>

		<h2>Make sure, Be sure</h2>

		<div class="grammar"><p align="center">Make sure　＋　現在形<br>Be sure to　＋　動詞原形</p></div>

		<p>どちらも同じ意味で、”必ず”とか”忘れずに”という意味を加えることが出来ます。<span class="inline">Make sure</span>は口語で、<span class="inline">Be sure</span>は文語で使われることが多いです。</p>

		<p>例</p>

	  <p class="example">Make sure you come here early tommorow.</p>
		<p class="translation">必ず明日ここに早く来て下さい。</p>
	  <p class="example">Be sure to check your email everyday.</p>
		<p class="translation">必ずメールを毎日チェックして下さい。</p>

  </div>
</div>

{% endblock %}