{% extends "base.html" %}
{% block body %}

<div id="main">
  <div class="header">
      <h1>形容詞</h1>
  </div>

  <div class="content">

  	<p>形容詞は名詞を詳しく説明する単語です。</p>

		<p class="vocabulary">new(新しい)</p>
		<p class="vocabulary">old(古い)</p>
		<p class="vocabulary">high(高い)</p>
		<p class="vocabulary">good(良い)</p>
		<p class="vocabulary">young(若い)</p>

		<p>形容詞は名詞の前に付いて、新しい名詞を形成します。</p>

		<p class="vocabulary">new car(新しい車)</p>
		<p class="vocabulary">old house(古い家)</p>
		<p class="vocabulary">young people(若い人達)</p>

		<p>形容詞は代名詞の後に来ます。</p>

		<p class="vocabulary">my new car</p>
		<p class="vocabulary">these good people</p>	

		<p>代名詞の直後の形容詞が母音で始まる場合は<span class="inline">an</span>を使います。</p>

		<p class="vocabulary">an old house</p>

		<p>今まで習ったことを含め文を作ってみましょう。</p>

	  <p class="example">I like old houses.</p>
		<p class="translation">私は古い家が好きです。</p>
	  <p class="example">We need young people.</p>
		<p class="translation">私たちは若者を必要としています。</p>

  </div>
</div>

{% endblock %}
