{% extends "base.html" %}
{% block body %}

<div id="main">
  <div class="header">
      <h1>形容詞節３</h1>
  </div>

  <div class="content">

  	<p>形容詞節に使われるキーワードは他にもあります。</p>

    <h2>whose</h2>

    <p><span class="inline">whose</span>は形容詞節の中で所有格の役割を果たします。<span class="inline">whose</span>は主に人に対して使われますが、ものに対しても使えます。</p>

    <div class="set">
		  <p class="example">I met a woman. Her husband is a teacher.</p>
			<p class="translation">私は女性に会いました。彼女の夫は先生です。</p>
		</div>

		<p><span class="inline">whose</span>を使うとこれを一文で表現することが出来ます。</p>
    
    <div class="set">
		  <p class="example">I met a woman <strong>whose husband is a teacher</strong>.</p>
			<p class="translation">私は夫が先生をやっている女性に会いました。</p>
		</div>

    <p>例</p>
    
    <div class="set">
		  <p class="example">I know someone <strong>whose parents own a restaurant</strong>.</p>
			<p class="translation">私は、親がレストランを所有（経営）している人を知っています。</p>
		</div>

		<h2>where</h2>

		<p><span class="inline">where</span>は主に場所について説明する時に使います。<span class="inline">where</span>の後には節が来ます。</p>

    <div class="set">
		  <p class="example">My wife and I went to the bar <strong>where we met for the first time</strong>.</p>
			<p class="translation">妻と私は私達が初めて会ったバーに行きました。</p>
		</div>

		<p><span class="inline">where</span>は場所以外にも使えます。</p>

    <div class="set">
		  <p class="example">He has a portfolio website <strong>where he shows his past projects</strong>.</p>
			<p class="translation">彼は過去のプロジェクトを載せたポートフォリオサイトを持っています。</p>
		</div>

		<h2>why</h2>

		<p><span class="inline">The reason</span>の後だけは例外として<span class="inline">why</span>をキーワードとして使います。<span class="inline">why</span>でなく<span class="inline">that</span>を使うことも出来ますし、省略することも出来ます。<span class="inline">why</span>の後には節が来ます。</p>

    <div class="set">
		  <p class="example">The reason <strong>(why/that) I'm calling you</strong> is to make sure everything is OK.</p>
			<p class="translation">あなたに電話しているのは何も問題がないか確認する為です。</p>
		</div>

  </div>
</div>

{% endblock %}














