{% extends "base.html" %}
{% block body %}

<div id="main">
  <div class="header">
      <h1>形容詞節４</h1>
  </div>

  <div class="content">

    <h2>付加情報</h2>

    <p>今まで習った形容詞節は、全て名詞を限定する働きをしていました。</p>

    <div class="set">
		  <p class="example">Julie works for a company that makes mobile games.</p>
			<p class="translation">Julieはモバイルゲームを作っている会社で働いています。</p>
		</div>

		<p>この文は、形容詞節がないと何の会社でJulieが働いているのか分かりません。形容詞節を使うことによって、モバイルゲームを作る会社に限定しています。</p>

		<p>それでは次の文はどうでしょうか？</p>

    <div class="set">
		  <p class="example">Julie works for DeNA, which makes mobile games.</p>
			<p class="translation">JulieはDeNAというモバイルゲームを作っている会社で働いています。</p>
		</div>

		<p>形容詞節が無くても、どの会社でJulieが働いているかは明らかです。<span class="inline">which makes mobile games</span>は、DeNAについてもっと詳しく説明しているだけです。このように形容詞節を付加情報として使う場合は、形容詞節の前にコンマを付けます。そしてキーワードに<span class="inline">that</span>を使うことは出来ませんし、キーワードを省略することも出来ません。なので人には<span class="inline">who</span>,ものには<span class="inline">which</span>を使いましょう。</p>

		<p>例</p>

    <div class="set">
		  <p class="example">Let me introduce you to Kate, who is a project manager at IBM.</p>
			<p class="translation">IBMのプロジェクトマネージャーのKateをご紹介します。</p>
		</div>

		<h2>節の修飾</h2>

		<p>今まで習った形容詞節は、全て名詞を修飾していましたが、実は節を修飾する方法があります。</p>

    <div class="set">
		  <p class="example">We played frisbee yesterday. It was fun.</p>
			<p class="translation">私達は昨日フリスビーをしました。それは楽しかったです。</p>
		</div>

		<p>形容詞節を使うとこれを一文で表現出来ます。</p>

    <div class="set">
		  <p class="example">We played frisbee yesterday, which was fun.</p>
			<p class="translation">私達は昨日フリスビーをしました - それは楽しかったです。</p>
		</div>

		<p>ここでの<span class="inline">which</span>は名詞ではなく節全体を修飾しています。節を修飾する場合は<span class="inline">which</span>を使い、直前にコンマを入れます。</p>

		<p>例</p>

    <div class="set">
		  <p class="example">I've been promoted to manager, which I didn't expect.</p>
			<p class="translation">私はマネージャーに昇格されました - 私はそれを予想（期待）していませんでした。</p>
		</div>
    <div class="set">
		  <p class="example">My boyfriend talks while eating, which drives me crazy.</p>
			<p class="translation">私の彼氏は食べながら話します - それは私をイライラさせます。</p>
		</div>

  </div>
</div>

{% endblock %}