{% extends "base.html" %}
{% block body %}

<div id="main">
  <div class="header">
      <h1>形容詞節２</h1>
  </div>

  <div class="content">

  	<p>前回学んだ形容詞節では、<span class="inline">who</span>/<span class="inline">which</span>/<span class="inline">that</span>が全て主語として働いていました。</p>

    <div class="set">
		  <p class="example">I bought a T-shirt <strong>that is made in China</strong>.</p>
			<p class="translation">私が中国製のTシャツを買いました。</p>
		</div>

		<p>この文は「私がTシャツを買った」というのを主に伝えています。ではTシャツに焦点を当てたい場合はどうすればいいでしょう？</p>

    <div class="set">
		  <p class="example">The T-shirt <strong>that I bought</strong> is made in China.</p>
			<p class="translation">私が買ったTシャツは中国製です。</p>
		</div>

		<p>この形容詞節では、<span class="inline">that</span>が目的語で<span class="inline">I</span>が主語です。<span class="inline">that</span>を<span class="inline">the T-shirt</span>に変えて<span class="inline">I bought the T-shirt</span>とすると分かりやすいかもしれません。このように、<span class="inline">who</span>/<span class="inline">which</span>/<span class="inline">that</span>が目的語として働く場合があります。</p>

		<p>動詞に前置詞が付いてもパターンは一緒です。</p>

    <div class="set">
		  <p class="example">The people <strong>who I work with</strong> are very smart. (I work with the people who are very smart.)</p>
			<p class="translation">私と仕事をしている人達はとても頭が良いです。</p>
		</div>

		<p><span class="inline">who</span>が目的語として使われる場合、<span class="inline">whom</span>を使うことも出来ます。</p>

    <div class="set">
		  <p class="example">The people <strong>whom I work with</strong> are very smart.</p>
		</div>

		<!-- <p>昔は<span class="inline">whom</span>を使える場面では<span class="inline">whom</span>を使わないと間違いだと言われていましたが、<span class="inline">who</span>や<span class="inline">that</span>を使っても大抵混乱することはないため、徐々に<span class="inline">whom</span>を使う人が減っています。今では<span class="inline">who</span>や<span class="inline">that</span>を使っても間違いではないので心配しないで下さい。</p> -->


		<p><span class="inline">who</span>/<span class="inline">which</span>/<span class="inline">that</span>が目的語として働く場合、省略することが出来ます。</p>

    <div class="set">
		  <p class="example">Have you seen the email <strong>(that) I sent you yesterday</strong>? (I sent you the email yesterday)</p>
			<p class="translation">昨日送ったメール見ましたか？</p>
		</div>
    <div class="set">
		  <p class="example">Everything <strong>(that) we know about you guys</strong> is wrong. (We know everything about you guys)</p>
			<p class="translation">俺たちがお前たちについて知ってることは全て間違いじゃないか。 - Hiccup, <a href="https://en.wikipedia.org/wiki/How_to_Train_Your_Dragon_(film)" target="_blank">How to Train Your Dragon</a></p>
			<p class="explanation"><i class="fa fa-info-circle"></i><span class="inline">you guys</span>は<span class="inline">you</span>の複数形です。<span class="inline">you</span>は単数形も複数形も一緒なので、会話の時に不便なことが多々あります。なので「あなた達」というのを明確にしたい時によく<span class="inline">you guys</span>と言います。<span class="inline">guy</span>は「男」という意味ですが、<span class="inline">guys</span>は性別関係なく使えるので、女性だけに向かって<span class="inline">you guys</span>と言っても間違いではありません。又、<span class="inline">you guys</span>はカジュアルな表現なので、目上の人に対しては使わない方がいいでしょう。</p>
		</div>

  </div>
</div>

{% endblock %}






I want to work on things that I care.





ここで混乱して欲しくないのですが、この文の形容詞節は主語を修飾しています。







    <div class="set">
		  <p class="example">I bought the T-shirt. It's made in China.</p>
			<p class="translation">私はTシャツを買いました。それは中国製です。</p>
		</div>

		<p>これを前回習ったように一文に直すとこうなります。</p>

    <div class="set">
		  <p class="example">I bought the T-shirt that is made in China.</p>
			<p class="translation">私は中国製のTシャツを買いました。</p>
		</div>

		<p>ではT-shirtを主語にしたい場合はどうすればいいでしょうか？</p>


















