{% extends "base.html" %}
{% block body %}

<div id="main">
  <div class="header">
      <h1>接続詞</h1>
  </div>

  <div class="content">

  	<p>接続詞は複数の単語、フレーズ、または節を繋げる単語です。繋げるものは同じ品詞である必要があります。</p>

    <h2>節とは</h2>

    <p>複数の単語から成り立ち、主語と動詞を両方含むものを節と呼びます。</p>

		<p class="vocabulary">I was tired.</p>
		<p class="vocabulary">We had dinner.</p>
		<p class="vocabulary">Ryan went to Canada.</p>

		<p>これらは全て節です。今まで勉強してきた文は全て一つの節から成り立っていましたが、接続詞を使うことによって、複数の節を繋げて一つの文を作ることが可能になります。</p>

		<h2>主な接続詞</h2>

		<p>頻繁に使われる接続詞が以下の４つです。</p>

		<p class="vocabulary">and(〜と、そして)</p>
		<p class="vocabulary">but(しかし)</p>
		<p class="vocabulary">or(または)</p>
		<p class="vocabulary">so(だから)</p>

		<p>例</p>

	  <div class="set">
	  <p class="example">Ryan and his girlfriend went to Canada.</p>
		<p class="translation">Ryanと彼の彼女はカナダに行きました。</p>
		</div>
	  <div class="set">
	  <p class="example">We had dinner and watched a movie.</p>
		<p class="translation">私たちは夕食を食べて映画を見ました。</p>
		</div>
	  <div class="set">
	  <p class="example">On weekends, I listen to music or read books.</p>
		<p class="translation">週末私は音楽を聴くか本を読みます。</p>
		</div>
	  <div class="set">
	  <p class="example">I was tired, so I went to bed early last night.</p>
		<p class="translation">私は疲れていたので、昨夜早く寝ました。</p>
		</div>
	  <div class="set">
	  <p class="example">I was tired, but I stayed up late last night.</p>
		<p class="translation">私は疲れていましたが、昨夜遅くまで起きていました。</p>
		</div>

		<p３つ以上のものを接続する場合は２種類の方法があります。></p>

	  <div class="set">
	  <p class="example">I like apples, bananas, oranges, and grapes.<br>I like apples and bananas and oranges and grapes.</p>
		<p class="translation">私はりんごとバナナとオレンジとグレープが好きです。</p>
		<p class="explanation"><i class="fa fa-info-circle"></i>前者の文は最後にだけandを付け、それ以外はコンマを付けます。後者の文は全てandで繋げています。</p>
		</div>

  </div>
</div>

{% endblock %}
