{% extends "base.html" %}
{% block body %}

<div id="main">
  <div class="header">
      <h1>数や量を表す代名詞</h1>
  </div>

  <div class="content">

  	<p>数や量を表す代名詞はよく出て来ます。</p>

  	<h2>many</h2>

  	<p><span class="inline">many</span>は可算名詞の複数形に使います。</p>

  	<p>例</p>

	  <p class="example">There were many people in the bathroom. </p>
		<p class="translation">トイレには沢山の人がいました。</p>
	  <p class="example">Her house has many rooms.</p>
		<p class="translation">彼女の家には部屋が沢山あります。</p>

		<h2>few</h2>

		<p><span class="inline">few</span>も可算名詞の複数形に使います。<span class="inline">a few</span>だと”少し”、<span class="inline">few</span>だと”少ししか”という意味になります。</p>

		<p>例</p>

	  <p class="example">Don't worry. I have a few days to prepare for the presentation.</p>
		<p class="translation">心配しないで。私はプレゼンテーションの準備をするのに数日ある。</p>
	  <p class="example">Oh my god. I have few days to prepare for the presentation.</p>
		<p class="translation">どうしよう。私はプレゼンテーションの準備をするのに数日しかない。</p>

		<h2>several</h2>

		<p><span class="inline">several</span>も可算名詞の複数形に使います。<span class="inline">many</span>よりは少ないけど<span class="inline">few</span>よりは多いといったイメージです。</p>

		<p>例</p>

	  <p class="example">Several people called me.</p>
		<p class="translation">何人かが電話してきました。</p>

		<h2>a lot of/lots of/plenty of</h2>

		<p><span class="inline">a lot of</span>/<span class="inline">lots of</span>/<span class="inline">plenty of</span>は不可算名詞にも複数形にも使えます。<span class="inline">a lot of</span>と<span class="inline">lots of</span>は"沢山の"という意味です。<span class="inline">plenty of</span>は”十分な”という意味です。</p>

		<p>例</p>

	  <p class="example">There were lots of people in the bathroom. </p>
		<p class="translation">トイレには沢山の人がいました。</p>
	  <p class="example">We have a lot in common.</p>
		<p class="translation">私達には共通点が沢山あります。</p>
		<p><span class="inline">have ~ in common</span>で”共通点がある”という意味になります。<span class="inline">What do they have in common?</span>(彼らの共通点は何？)のように疑問文で使われることが多いです。</p>

		<hr>
	  <p class="example">We have plenty of food.</p>
		<p class="translation">十分な食べ物があります。</p>

		<h2>much</h2>

		<p><span class="inline">much</span>は不可算名詞に使います。<span class="inline">much</span>は主に否定文で使われます。肯定文には<span class="inline">a lot of/lots of</span>を使いましょう。<span class="inline">much</span>には<span class="inline">Thank you so much</span>(本当にありがとう)などの別の使われ方がありますが、ここではあくまで代名詞としての使われ方に絞っています。</p>

		<p>例</p>

	  <p class="example">We don't have much time.</p>
		<p class="translation">私達にはあまり時間がない。</p>
	  <p class="example">× We have much time.<br>We have a lot of time.</p>
		<p class="translation">私達には時間が沢山ある。</p>

		<h2>little</h2>

		<p><span class="inline">little</span>は不可算名詞に使います。<span class="inline">few</span>と同じく、<span class="inline">a little</span>だと”少し”、<span class="inline">little</span>だと”少ししか”という意味になります。</p>

		<p>例</p>

	  <p class="example">I have little money.</p>
		<p class="translation">私は少ししかお金を持っていません。</p>
	  <p class="example">I have a little money.</p>
		<p class="translation">私は少しはお金をお金を持っています。</p>
		<p><span class="inline">little</span>は副詞や形容詞としても使われます。特に形容詞は代名詞と同じく名詞の前に付くので混乱するかもしれませんが、形容詞の場合は可算名詞に付くことが多いので見分けられると思います。</p>

		<p class="vocabulary">a little girl(少女)</p>
		<p class="vocabulary">a little house(小さな家)</p>

  </div>
</div>

{% endblock %}
