{% extends "base.html" %}
{% block body %}

<div id="main">
  <div class="header">
      <h1>最上級</h1>
  </div>

  <div class="content">

  	<p>最上級は名前の通り一番のものを表現する時に使われます。</p>

    <h2>単語の変化</h2>

    <p>比較級と同じく、最上級の形も主に２種類あります。短い単語には語尾に<span class="inline">est</span>を付けます。</p>

    <table class="indented-table">
      <tbody>
      <tr>
        <td>cheap（安い）</td>
        <td class="arrow">→</td>
        <td>cheapest</td>
      </tr>
      <tr>
        <td>fast（早い）</td>
        <td class="arrow">→</td>
        <td>fastest</td>
      </tr>
      <tr>
        <td>small（小さい）</td>
        <td class="arrow">→</td>
        <td>smallest</td>
      </tr>
      <tr>
        <td>smart（賢い）</td>
        <td class="arrow">→</td>
        <td>smartest</td>
      </tr>
      </tbody>
    </table>

    <p>語尾が若干変化するものもあります。</p>

    <table class="indented-table">
      <tbody>
      <tr>
        <td>big（大きい）</td>
        <td class="arrow">→</td>
        <td>biggest</td>
      </tr>
      <tr>
        <td>large（大きい）</td>
        <td class="arrow">→</td>
        <td>largest</td>
      </tr>
      <tr>
        <td>easy（簡単）</td>
        <td class="arrow">→</td>
        <td>easiest</td>
      </tr>
      <tr>
        <td>funny（面白い）</td>
        <td class="arrow">→</td>
        <td>funniest</td>
      </tr>
      </tbody>
    </table>

    <p>長い単語には<span class="inline">most</span>を使います。</p>

    <table class="indented-table">
      <tbody>
      <tr>
        <td>creative（クリエイティブな）</td>
        <td class="arrow">→</td>
        <td>most creative</td>
      </tr>
      <tr>
        <td>beautiful（美しい）</td>
        <td class="arrow">→</td>
        <td>most beautiful</td>
      </tr>
      <tr>
        <td>popular（有名な）</td>
        <td class="arrow">→</td>
        <td>most popular</td>
      </tr>
      </tbody>
    </table>

    <p>中には例外も存在します。</p>

    <table class="indented-table">
      <tbody>
      <tr>
        <td>good</td>
        <td class="arrow">→</td>
        <td>best</td>
      </tr>
      <tr>
        <td>bad</td>
        <td class="arrow">→</td>
        <td>worst</td>
      </tr>
      </tbody>
    </table>

    <p>例</p>

    <p>所有格を使う以外は最上級の前には<span class="inline">the</span>を付けます。</p>

    <div class="set">
		  <p class="example">What is the <strong>easiest</strong> way to learn English?</p>
			<p class="translation">最も簡単に英語を学ぶ方法は何ですか？</p>
		</div>
    <div class="set">
		  <p class="example">He is my <strong>best</strong> friend.</p>
			<p class="translation">彼は私の親友です。</p>
		</div>

		<h2>in</h2>

		<p>場所や特定の集団を指定する場合は<span class="inline">in</span>を使います。</p>

		<p>例</p>

    <div class="set">
		  <p class="example">Russia is the <strong>largest</strong> country in the world.</p>
			<p class="translation">ロシアは世界で一番大きな国です。</p>
		</div>
    <div class="set">
		  <p class="example">She is the <strong>best</strong> player in the team.</p>
			<p class="translation">彼女はチームの中で一番上手い選手です。</p>
		</div>

		<h2>of</h2>

		<p>時間を指定する場合は<span class="inline">of</span>を使います。</p>

		<p>例</p>

    <div class="set">
		  <p class="example">Many people think Star Wars is the <strong>best</strong> movie of all time.</p>
			<p class="translation">Start Warsが史上最高の映画だと多くの人は思っています。</p>
		</div>

		<h2>ever</h2>

		<p>最上級の後に完了形を使うことがよくあります。</p>

		<p>例</p>

    <div class="set">
		  <p class="example">That is the <strong>most creative</strong> idea I've ever heard.</p>
			<p class="translation">それは私が今まで聞いた中で最もクリエイティブなアイディアです。</p>
		</div>
    <div class="set">
		  <p class="example">This is the <strong>most beautiful</strong> thing I've ever seen.</p>
			<p class="translation">これは今まで見た中で最も美しいものです。- Blu, <a href="https://en.wikipedia.org/wiki/Rio_(2011_film)" target="_blank">Rio</a></p>
		</div>

		<h2>one of the</h2>

		<p>時には一番と言い切れないことがよくあります。そういった場面で<span class="inline">one of the</span>を使うことが多いです。<span class="inline">one of the</span>の後は複数形なので注意しましょう。</p>

		<p>例</p>

    <div class="set">
		  <p class="example">He is one of the <strong>funniest</strong> people I know.</p>
			<p class="translation">彼は僕の知ってる中で最も面白い人の一人です。</p>
		</div>
    <div class="set">
		  <p class="example">Twitter is one of the <strong>most popular</strong> apps in the world.</p>
			<p class="translation">Twitterは世界で最も有名なアプリの一つです。</p>
			<p class="explanation"><i class="fa fa-info-circle"></i>アプリというのはアプリケーションの略ですが、英語では<span class="inline">applicatioin</span>を<span class="inline">app</span>と略します。（複数形は<span class="inline">apps</span>）</p>
		</div>

  </div>
</div>

{% endblock %}