{% extends "base.html" %}
{% block body %}

<div id="main">
  <div class="header">
      <h1>比較級２</h1>
  </div>

  <div class="content">

  	<h2>The ~ the ~</h2>

  	<div class="set">
	  <p class="example">The sooner you decide your major, the sooner you will be able to graduate.</p>
		<p class="translation">早く専攻を決めれば決めるほど早く卒業出来ます。</p>
		</div>
		<div class="set">
	  <p class="example">The more you know, the more you know you don't know.</p>
		<p class="translation">知れば知るほど、知らないことがあるということを知る。- Aristotle</p>
		</div>
		<div class="set">
	  <p class="example">The more I learn, the more I realize how much I don't know.</p>
		<p class="translation">学べば学ぶほど、自分がどれだけ知らないかに気づく。- Albert Einstein</p>
		</div>
		<div class="set">
	  <p class="example">The more that you read, the more things you will know.</p>
		<p class="translation">読めば読むほど、より多くのことを知る。 - Dr. Seuss</p>
		</div>

		<h2>as ~ as</h2>

		<div class="set">
		  <p class="example">Please reply as soon as possible.</p>
			<p class="translation">出来るだけ早く返信して下さい。</p>
			<p class="explanation"><i class="fa fa-info-circle"></i><span class="inline">as soon as possible</span>は<span class="inline">ASAP</span>と略されることもあります。</p>
		</div>

		<div class="set">
	  <p class="example">I want to spend as much time with my kids as possible.</p>
		<p class="translation">私は出来るだけ多くの時間を自分の子供と過ごしたいです。</p>
		</div>

		<h2>twice as ~ as</h2>

		<div class="set">
	  <p class="example">We have twice as many employees as we had 9 months ago.</p>
		<p class="translation">私達（の会社）は９ヶ月と比べて２倍の従業員を抱えています。</p>
		</div>

		<h2>not as ~ as</h2>

		<div class="set">
	  <p class="example">I am not as smart as him.</p>
		<p class="translation">私は彼ほど頭が良くありません。(He is smarter than me.)</p>
	  </div>
	  <div class="set">
	  <p class="example">He doesn't make as many mistakes as he used to.</p>
		<p class="translation">彼は昔よりもミスをしなくなった。</p>
	  </div>

		<h2>the same as</h2>

		<div class="set">
	  <p class="example">Laura is the same age as me.</p>
		<p class="translation">Lauraは私と同い年です。</p>
	  </div>
	  <div class="set">
	  <p class="example">Your watch is the same as mine.</p>
		<p class="translation">あなたの時計は私と同じです。</p>
		</div>

  </div>
</div>

{% endblock %}