{% extends "base.html" %}
{% block body %}

<div id="main">
  <div class="header">
      <h1>比較級</h1>
  </div>

  <div class="content">

  	<p>「より〜」、「もっと〜」などの表現を比較級といいます。比較級は形容詞と副詞に使われます。</p>

    <h2>単語の変化</h2>

    <p>比較級の形は主に２種類あります。短い単語には語尾に<span class="inline">er</span>を付けます。</p>

    <table class="indented-table">
      <tbody>
      <tr>
        <td>cheap（安い）</td>
        <td class="arrow">→</td>
        <td>cheaper</td>
      </tr>
      <tr>
        <td>fast（早い）</td>
        <td class="arrow">→</td>
        <td>faster</td>
      </tr>
      <tr>
        <td>small（小さい）</td>
        <td class="arrow">→</td>
        <td>smaller</td>
      </tr>
      <tr>
        <td>smart（賢い）</td>
        <td class="arrow">→</td>
        <td>smarter</td>
      </tr>
      </tbody>
    </table>

    <p>語尾が若干変化するものもあります。</p>

    <table class="indented-table">
      <tbody>
      <tr>
        <td>big（大きい）</td>
        <td class="arrow">→</td>
        <td>bigger</td>
      </tr>
      <tr>
        <td>large（大きい）</td>
        <td class="arrow">→</td>
        <td>larger</td>
      </tr>
      <tr>
        <td>nice（素敵）</td>
        <td class="arrow">→</td>
        <td>nicer</td>
      </tr>
      <tr>
        <td>easy（簡単）</td>
        <td class="arrow">→</td>
        <td>easier</td>
      </tr>
      </tbody>
    </table>    

    <p>長い単語には<span class="inline">more</span>を使います。</p>

    <table class="indented-table">
      <tbody>
      <tr>
        <td>expensive（値段が高い）</td>
        <td class="arrow">→</td>
        <td>more expensive</td>
      </tr>
      <tr>
        <td>important（重要）</td>
        <td class="arrow">→</td>
        <td>more important</td>
      </tr>
      <tr>
        <td>difficult（難しい）</td>
        <td class="arrow">→</td>
        <td>more difficult</td>
      </tr>
      </tbody>
    </table>

    <p>中には例外も存在します。</p>

    <table class="indented-table">
      <tbody>
      <tr>
        <td>good（良い）</td>
        <td class="arrow">→</td>
        <td>better</td>
      </tr>
      <tr>
        <td>bad（悪い）</td>
        <td class="arrow">→</td>
        <td>worse</td>
      </tr>
      </tbody>
    </table>

    <p>例</p>

	  <div class="set">
    <p class="example">I want a bigger TV.</p>
		<p class="translation">私はもっと大きなテレビが欲しいです。</p>
    </div>
	  <div class="set">
    <p class="example">If I had asked people what they wanted, they would have said faster horses.</p>
		<p class="translation">もし彼らに何が欲しいか聞いたら、より速い馬が欲しいと言っただろう。 - Henry Ford</p>
    </div>

		<h2>than</h2>

		<p>上記の例は比較対象が明確であるため文の中に含まれていません。特に会話ではその傾向が強いです。しかし基本的には何と比べているのかをはっきり示す必要があります。その場合<span class="inline">than</span>を使って２つのものを比較します。<span class="inline">than</span>の後には単語、フレーズ、節が使えます。</p>

		<p>例</p>

	  <div class="set">
    <p class="example">Android is cheaper than iPhone.</p>
		<p class="translation">AndroidはiPhoneより安いです。</p>
    </div>

		<p>thanの後に人が来る場合は２通りの言い方があります。</p>
	  <div class="set">
    <p class="example">Bob is smarter than me. <strong>or</strong><br>Bob is smarter than I am.</p>
		<p class="translation">Bobは私より頭が良いです。</p>
    </div>
    <div class="set">
    <p class="example">I can cook better than my husband. <strong>or</strong><br>I can cook better than my husband can.</p>
		<p class="translation">私は夫より料理が上手いです。</p>
    </div>

    <p><span class="inline">much</span>あるいは<span class="inline">so much</span>を比較級の前に使うと比較級を更に強調することが出来ます。</p>

    <div class="set">
    <p class="example">This couch is so much better than what we had before.</p>
    <p class="translation">このソファは前のより断然良いです。</p>
    </div>
    
		<h2>自分の想像との比較</h2>

		<p>比較級で多い表現が自分や相手の想像との比較です。<span class="inline">think</span>,<span class="inline">expect</span>,<span class="inline">imagine</span>などがよく使われる動詞です。</p>

		<p>例</p>

	  <div class="set">
    <p class="example">Programming is easier than you might think.</p>
		<p class="translation">プログラミングはあなたが思ってるより簡単かもしれないです。</p>
	  </div>
    <div class="set">
    <p class="example">My colleagues are nicer than I imagined.</p>
		<p class="translation">私の同僚は想像していたより良い人達です。</p>
	  </div>
    <div class="set">
    <p class="example">Your room is bigger than I expected.</p>
		<p class="translation">君の部屋は私が予想してたより大きいね。</p>
	  </div>
    <div class="set">
    <p class="example">The test was more difficult than I thought.</p>
		<p class="translation">テストは私が思っていたより難しかったです。</p>
    </div>

		<p><span class="inline">than I thought it would be</span>はよく使われます。意味は同じです。</p>
	  <div class="set">
    <p class="example">The test was more difficult than I thought it would be.</p>
    </div>

  </div>
</div>

{% endblock %}