


比較級


「より〜」、「もっと〜」などの表現を比較級といいます。比較級は形容詞と副詞に使われます。


単語の変化

比較級にする方法は主に２種類あります。短い単語には語尾にerを付けます。

cheap/cheaper
fast/faster
small/smaller
smart/smarter

語尾が若干変化するものもあります。

big/bigger
large/larger
nice/nicer
easy/easier

長い単語にはmoreを使います。

expensive/more expensive
important/more important
difficult/more difficult

中には例外も存在します。

good,well/better
bad,badly/worse




I want a bigger TV.

私はもっと大きなテレビが欲しいです。

If I had asked people what they wanted, they would have said faster horses.

もし彼らに何が欲しいか聞いたら、より速い馬が欲しいと言っただろう。 - Henry Ford







than


比較級を使う時はthanを使って２つのものを比較します。thanの後には単語、フレーズ、節が使えます。

例


Android is cheaper than iPhone.

AndroidはiPhoneより安いです。


thanの後に人が来る場合は２通りの言い方があります。

Bob is smarter than me.Bob is smarter than I am.

Bobは私より頭が良いです。

I can cook better than my husband. I can cook better than my husband can.

私は夫より料理が上手いです。



自分の想像との比較

比較級で多い表現が自分や相手の想像との比較です。think,expect,imagineなどがよく使われる動詞です。



Programming is easier than you might think.

プログラミングはあなたが思ってるより簡単かもしれないですよ。

My colleagues are nicer than I imagined.

私の同僚は想像していたよりナイスです。

Your room is bigger than I expected.

君の部屋は私が予想してたより大きいね。


The test was more difficult than I thought.

テストは私が思っていたより難しかったです。

than I thought it would beはよく使われます。

The test was more difficult than I thought it would be.

意味は同じです。
