{% extends "base.html" %}
{% block body %}

<div id="main">
  <div class="header">
      <h1>比較級２</h1>
  </div>

  <div class="content">

  	<p>比較級には色んな形があります。</p>

  	<h2>The ~ the ~</h2>

  	<div class="set">
	  <p class="example"><strong>The</strong> sooner you decide your major, <strong>the</strong> sooner you will be able to graduate.</p>
		<p class="translation">早く専攻を決めれば決めるほど早く卒業出来ます。</p>
		</div>
		<div class="set">
	  <p class="example"><strong>The</strong> more you know, <strong>the</strong> more you know you don't know.</p>
		<p class="translation">知れば知るほど、知らないことがあるということを知る。- Aristotle</p>
		</div>
		<div class="set">
	  <p class="example"><strong>The</strong> more I learn, <strong>the</strong> more I realize how much I don't know.</p>
		<p class="translation">学べば学ぶほど、自分がどれだけ知らないかに気づく。- Albert Einstein</p>
		</div>
		<div class="set">
	  <p class="example"><strong>The</strong> more that you read, <strong>the</strong> more things you will know.</p>
		<p class="translation">読めば読むほど、より多くのことを知る。 - Dr. Seuss</p>
		</div>

		<h2>as ~ as</h2>

		<div class="set">
		  <p class="example">Please reply <strong>as</strong> soon <strong>as</strong> possible.</p>
			<p class="translation">出来るだけ早く返信して下さい。</p>
			<p class="explanation"><i class="fa fa-info-circle"></i><span class="inline">as soon as possible</span>は<span class="inline">ASAP</span>と略されることもあります。</p>
		</div>

		<div class="set">
	  <p class="example">I want to spend <strong>as</strong> much time with my kids <strong>as</strong> possible.</p>
		<p class="translation">私は出来るだけ多くの時間を自分の子供と過ごしたいです。</p>
		</div>

		<h2>twice as ~ as</h2>

		<div class="set">
	  <p class="example">We have twice <strong>as</strong> many employees <strong>as</strong> we had 9 months ago.</p>
		<p class="translation">私達（の会社）は９ヶ月前と比べて２倍の従業員を抱えています。</p>
		</div>

		<h2>not as ~ as</h2>

		<div class="set">
	  <p class="example">I am not <strong>as</strong> smart <strong>as</strong> him.</p>
		<p class="translation">私は彼ほど頭が良くありません。(He is smarter than me.)</p>
	  </div>
	  <div class="set">
	  <p class="example">He doesn't make <strong>as</strong> many mistakes <strong>as</strong> he used to.</p>
		<p class="translation">彼は昔よりもミスをしなくなった。</p>
	  </div>

		<h2>the same as</h2>

		<div class="set">
	  <p class="example">Laura is <strong>the same</strong> age <strong>as</strong> me.</p>
		<p class="translation">Lauraは私と同い年です。</p>
	  </div>
	  <div class="set">
	  <p class="example">Your watch is <strong>the same as</strong> mine.</p>
		<p class="translation">あなたの時計は私と同じです。</p>
		</div>

  </div>
</div>

{% endblock %}