{% extends "base.html" %}
{% block body %}

<div id="main">
  <div class="header">
      <h1>現在形を使った未来形(I am doing/I do)</h1>
  </div>

  <div class="content">

  	<p>未来を表す方法として<span class="inline">going to</span>と<span class="inline">will</span>をご紹介しましたが、実は現在進行形や現在形を使うこともあります。</p>

  	<p>例</p>

	  <div class="set">
	  <p class="example">We are having dinner tonight with my friends.</p>
		<p class="translation">今夜友達と夕食を食べます。</p>
		</div>
	  <div class="set">
	  <p class="example">What are you doing this weekend?</p>
		<p class="translation">今週末何をしていますか？</p>
		</div>
	  
	  <p>現在形を使ってタイムスケジュールなどについて話すことが出来ます。</p>

	  <p>例</p>

	  <div class="set">
	  <p class="example">What time does your flight leave?</p>
		<p class="translation">何時にあなたの飛行機が出るんですか？</p>
		</div>
	  <div class="set">
	  <p class="example">My flight leaves at 11pm.</p>
		<p class="translation">私の飛行機は夜１１時に出ます。</p>
		</div>
	  <div class="set">
	  <p class="example">The football game starts at 4pm tomorrow.</p>
		<p class="translation">フットボールの試合が明日午後４時に始まります。</p>
		</div>

  </div>
</div>

{% endblock %}