{% extends "base.html" %}
{% block body %}

<div id="main">
  <div class="header">
      <h1>現在完了形２(I have done)</h1>
  </div>

  <div class="content">

  	<p>現在完了形にはもう一つの使い方があります。それが経験を表す表現です。</p>

    <h2>肯定文</h2>

    <div class="grammar"><p align="center">名詞　＋　have/has　＋　過去分詞</p></div>

    <p>例</p>

	  <div class="set">
	  <p class="example">I have read Harry Potter.</p>
		<p class="translation">私はハリーポッターを読んだことがあります。</p>
		</div>
	  <div class="set">
	  <p class="example">She has been to the states twice.</p>
		<p class="translation">彼女はアメリカに２回行ったことがあります。</p>
		<p class="explanation"><i class="fa fa-info-circle"></i><span class="inline">been to</span>は「行ったことがある」という意味です。</p>
		</div>

		<h2>否定文</h2>

		<div class="grammar"><p align="center">名詞　＋　have/has　＋　not　＋　過去分詞　＋　(期間を表すフレーズ)</p></div>

		<p>期間を表すフレーズは沢山あります。</p>

		<p><span class="inline">for</span>は「これくらいの間」という意味です。</p>

		<p class="vocabulary">for 5 years(５年間)</p>
		<p class="vocabulary">for 2 weeks(２週間)</p>
		<p class="vocabulary">for a long time(長い間)</p>

		<p><span class="inline">since</span>は「〜以来」という意味です。</p>

		<p class="vocabulary">since this morning(今朝以来)</p>
		<p class="vocabulary">since 2010(２０１０年以来)</p>
		<p><span class="inline">since</span>の後に節を使うことが出来ます。</p>
		<p class="vocabulary">since I was 12 years old(私が１２歳の時以来)</p>

		<p>例</p>

	  <div class="set">
	  <p class="example">I haven't seen my brother for a long time.</p>
		<p class="translation">私は兄に長い間会っていません。</p>
		</div>
	  <div class="set">
	  <p class="example">I haven't played the piano since I was 12 years old.</p>
		<p class="translation">１２歳の時以来私はピアノを弾いたことがありません。</p>
		</div>

		<h2>neverを使った否定文</h2>

		<p>「一度も〜をしたことがない」という表現には<span class="inline">never</span>を使います。</p>

		<div class="grammar"><p align="center">名詞　＋　have/has　＋　never　＋　過去分詞</p></div>

		<p>例</p>

	  <div class="set">
	  <p class="example">I have never seen this movie before.</p>
		<p class="translation">私は今までこの映画を見たことがありません。</p>
		</div>
	  <div class="set">
	  <p class="example">I have never been to Disneyland.</p>
		<p class="translation">私はディズニーランドに行ったことがありません。</p>
		</div>
	  <div class="set">
	  <p class="example">I have never heard of it.</p>
		<p class="translation">私はそれを聞いたことがありません。（初めて聞きました。）</p>
		</div>

		<h2>疑問文</h2>

		<div class="grammar"><p align="center">Have/Has　＋　名詞　＋　(ever)　＋　過去分詞 ?</p></div>

		<p>例</p>

	  <div class="set">
	  <p class="example">Have you played the piano?</p>
		<p class="translation">ピアノを弾いたことがありますか？</p>
		</div>
	  <div class="set">
	  <p class="example">Yes, I have.</p>
		<p class="translation">はい、弾いたことがあります。</p>
		</div>
	  <div class="set">
	  <p class="example">No, I haven't.</p>
		<p class="translation">いいえ、弾いたことがありません。</p>
		</div>
	  <div class="set">
	  <p class="example">No, this is the first time I have played the piano.</p>
		<p class="translation">いいえ、ピアノを弾くのは今回が初めてです。</p>
		</div>
	  <div class="set">
	  <p class="example">Have you ever been to China before?</p>
		<p class="translation">今まで中国に行ったことはありますか？</p>
		</div>

		<h2>他の疑問文の形</h2>

	  <div class="set">
	  <p class="example">How many times have you been to China?</p>
		<p class="translation">何回中国に行ったことがありますか？</p>
		</div>
	  <div class="set">
	  <p class="example">I've been to China for 3 times.</p>
		<p class="translation">中国には３回行ったことがあります。</p>
		</div>

  </div>
</div>

{% endblock %}