{% extends "base.html" %}
{% block body %}

<div id="main">
  <div class="header">
      <h1>現在形(I do)</h1>
  </div>

  <div class="content">

  	<p>現在形は、一般的な事実について表現する時に使われます。</p>

    <h2>肯定文</h2>

    <div class="grammar">
    	<p align="center">名詞　＋　動詞</p>
    </div>

    <p>三人称単数の時には動詞にsを付けましょう。</p>

	  <p class="example">I work for Google.</p>
		<p class="translation">私はGoogleの従業員です。（私はGoogleで働いています。）</p>
	  <p class="example">He likes Sushi.</p>
		<p class="translation">彼は寿司が好きです。</p>
	  <p class="example">I live in NY.</p>
		<p class="translation">私はニューヨークに住んでいます。</p>

		<h2>否定文</h2>

    <div class="grammar">
    	<p align="center">名詞　＋　do not/does not　＋　動詞原型</p>
    </div>		

    <p><span class="inline">do not</span>は<span class="inline">don't</span>に、<span class="inline">does not</span>は<span class="inline">doesn't</span>に省略出来ます。肯定文と違い、動詞は原型のままです。</p>

	  <p class="example">I don't want to go to work.</p>
		<p class="translation">私は仕事に行きたくありません。</p>
	  <p class="example">He doesn't like Sushi.</p>
		<p class="translation">彼は寿司が好きではありません。</p>
	  <p class="example">I don't know her.</p>
		<p class="translation">私は彼女のことを知りません。</p>

		<h2>疑問文</h2>

    <div class="grammar">
    	<p align="center">Do/Does　＋　名詞　＋　動詞原型　？</p>
    </div>

    <p>否定文と同じく、動詞は原型のままです。</p>

	  <p class="example">Do you work for Google?</p>
		<p class="translation">あなたはGoogleで働いているんですか？</p>
	  <p class="example">Does he like Sushi?</p>
		<p class="translation">彼は寿司が好きですか？</p>
	  <p class="example">Do you live in NY?</p>
		<p class="translation">あなたはニューヨークに住んでいるんですか？</p>

		<h2>他の疑問文の形</h2>

	  <p class="example">What do you mean?</p>
		<p class="translation">どういう意味ですか？</p>
	  <p class="example">How do you know John?</p>
		<p class="translation">Johnとはどういう知り合いですか？</p>
	  <p class="example">Why does he like Sushi?</p>
		<p class="translation">何故彼は寿司が好きなんですか？</p>
	  <p class="example">Who do you like?</p>
		<p class="translation">誰のことが好きですか？</p>
		<p>これはWhoが目的語として使われています。</p>

	  <p class="example">Who wants to go to the dining hall?</p>
		<p class="translation">誰がダイニングホールに行きたいですか？</p>
		<p>これはWhoが主語として使われています。この場合動詞に s を付ける必要があります。</p>

  </div>
</div>

{% endblock %}