{% extends "base.html" %}
{% block body %}

<div id="main">
  <div class="header">
      <h1>現在完了形１(I have done)</h1>
  </div>

  <div class="content">

  	<p>現在完了形は過去形と似ていますが、過去形が一時の出来事を表現するのに比べ、現在完了形は最近起こった事や、現在までの関連性を表現する時に使われます。</p>

    <h2>肯定文</h2>

    <div class="grammar"><p align="center">名詞　＋　have/has　＋　過去分詞</p></div>

    <p><span class="inline">have</span>と<span class="inline">has</span>を完了形で使う場合は省略が可能です。</p>

    <table class="indented-table">
      <tbody>
      <tr>
        <td>I have</td>
        <td class="arrow">→</td>
        <td>I've</td>
      </tr>
      <tr>
        <td>she has</td>
        <td class="arrow">→</td>
        <td>she's</td>
      </tr>
      </tbody>
    </table>

		<p>例</p>

	  <div class="set">
	  <p class="example">I have lost my key.</p>
		<p class="translation">私は私の鍵を無くしてしまった。（まだ見つかっていない）</p>
		</div>
	  <div class="set">
	  <p class="example">He has forgotten my name.</p>
		<p class="translation">彼は私の名前を忘れてしまった。（まだ思い出していない）</p>
	  </div>
	  <div class="set">
	  <p class="example">She has already gone to France.</p>
		<p class="translation">彼女は既にフランスに行ってしまった。（まだ帰って来ていない）</p>
		<p class="explanation"><i class="fa fa-info-circle"></i>肯定文の現在完了形にはよく<span class="inline">already</span>を使い、「既に」というのを強調することがあります。</p>
		</div>

		<h2>否定文</h2>

    <div class="grammar"><p align="center">名詞　＋　have/has　＋　not　＋　過去分詞</p></div>

		<p><span class="inline">have not</span>は<span class="inline">haven't</span>に、<span class="inline">has not</span>は<span class="inline">hasn't</span>に省略することが出来ます。</p>

		<p>例</p>

	  <div class="set">
	  <p class="example">He hasn't forgotten my name. (He still remembers my name).</p>
		<p class="translation">彼は私の名前を忘れていない。（彼はまだ私の名前を覚えている）</p>
		</div>
	  <div class="set">
	  <p class="example">I haven't finished my homework yet.</p>
		<p class="translation">私はまだ宿題を終わらせていない。</p>
		<p class="explanation"><i class="fa fa-info-circle"></i>否定文の現在完了形にはよく<span class="inline">yet</span>を使い、「まだ」というのを強調することがあります。</p>
		</div>

		<h2>疑問文</h2>

    <div class="grammar"><p align="center">Have/Has　＋　名詞　＋　過去分詞 ?</p></div>

		<p>例</p>

	  <div class="set">
	  <p class="example">Have you seen Elizabeth?</p>
		<p class="translation">Elizabethを見ましたか？（今Elizabethがどこにいるか知っていますか？）</p>
		<p>Did you see Elizabeth? ではないので注意しましょう。</p>
		</div>
	  <div class="set">
	  <p class="example">Have you sent an email to Kim?</p>
		<p class="translation">Kimにメールを送りましたか？</p>
		</div>
	  <div class="set">
	  <p class="example">Yes, I have.</p>
		<p class="translation">はい、もう送りました。</p>
		</div>
	  <div class="set">
	  <p class="example">No, I haven't.</p>
		<p class="translation">いえ、まだ送ってません。</p>
		</div>
	  <div class="set">
	  <p class="example">Not yet.</p>
		<p class="translation">まだです。</p>
		<p class="explanation"><i class="fa fa-info-circle"></i><span class="inline">Not yet</span>というのはよく使われます。</p>
		</div>

  </div>
</div>

{% endblock %}