{% extends "base.html" %}
{% block body %}

<div id="main">
  <div class="header">
      <h1>現在完了進行形(I have been doing)</h1>
  </div>

  <div class="content">

  	<p>現在完了進行形はある時から現在まで継続的に行われていることや、今ちょうど終わったことについて表現する時に使われます。</p>

    <h2>肯定文</h2>

    <div class="grammar"><p align="center">名詞　＋　have/has　＋　been　＋　動詞+ing</p></div>

    <p>例</p>

	  <div class="set">
	  <p class="example">I've been working all day.</p>
		<p class="translation">私は一日中働いています。</p>
		</div>
	  <div class="set">
	  <p class="example">She has been learning English for 2 years.</p>
		<p class="translation">彼女は２年間英語を学んでいます。</p>
		</div>
	  <div class="set">
	  <p class="example">It has been raining since last night.</p>
		<p class="translation">昨夜からずっと雨が降っています。</p>
		</div>

		<h2>疑問文</h2>

    <div class="grammar"><p align="center">Have/Has　＋　名詞　＋　been　＋　動詞+ing ?</p></div>

    <p>例</p>

	  <div class="set">
	  <p class="example">Have you been working out?</p>
		<p class="translation">今までエクササイズしていましたか？</p>
		<p class="explanation"><i class="fa fa-info-circle"></i>work out = エクササイズ、筋トレ<br>この文には期間の指定がないので、１日とも１年とも解釈することが出来ます。</p>
		</div>

	  <div class="set">
	  <p class="example">Have you been studying since this morning?</p>
		<p class="translation">今朝からずっと勉強しているんですか？</p>
		</div>

		<h2>他の疑問文の形</h2>

	  <div class="set">
	  <p class="example">What has been holding you back?</p>
		<p class="translation">何があなたのことを躊躇させているんですか？</p>
		</div>

  </div>
</div>

{% endblock %}