{% extends "base.html" %}
{% block body %}

<div id="main">
  <div class="header">
      <h1>現在進行形(I'm doing)</h1>
  </div>

  <div class="content">

  	<p>現在進行形は時制の一つで、現在行われていることを表現する時に使います。</p>

    <h2>肯定文</h2>

    <div class="grammar">
    	<p align="center">文　＝　名詞　＋　be動詞　＋　動詞＋ing</p>
    </div>

    <p>ほとんどの動詞は<span class="inline">ing</span>を付けるだけで大丈夫ですが、中には例外も存在します。辞書に載っているので分からない場合は確かめましょう。</p>

    <table class="pure-table pure-table-bordered">
      <thead>
      <tr>
        <th>動詞</th>
        <th>動詞＋ing</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>cut</td>
        <td>cut<strong>ting</strong></td>
      </tr>
      <tr>
        <td>have</td>
        <td>hav<strong>ing</strong></td>
      </tr>
      </tbody>
    </table>

    <p>例</p>
	  
    <div class="set">
	  <p class="example">He's working.</p>
		<p class="translation">彼は働いています。</p>
		</div>
		<div class="set">
		<p class="example">I'm studying.</p>
		<p class="translation">私は勉強しています。</p>
		</div>
		<div class="set">
		<p class="example">We're having lunch.</p>
		<p class="translation">私たちはランチを食べています。</p>
		</div>

    <h2>否定文</h2>

    <div class="grammar">
    	<p align="center">文　＝　名詞　＋　be動詞　＋　not　＋　動詞＋ing</p>
    </div>


		
    <div class="set">
		<p class="example">He's not working.</p>
		<p class="translation">彼は働いていません。</p>
		</div>
		<div class="set">
		<p class="example">I'm not studying.</p>
		<p class="translation">私は勉強していません。</p>
		</div>
		<div class="set">
		<p class="example">We're not having lunch.</p>
		<p class="translation">私たちはランチを食べていません。</p>
		</div>

    <h2>疑問文</h2>

    <div class="grammar">
    	<p align="center">文　＝　be動詞　＋　名詞　＋　動詞＋ing ?</p>
    </div>

		
    <div class="set">
		<p class="example">Is he working?</p>
		<p class="translation">彼は働いていますか？</p>
		</div>
		<div class="set">
		<p class="example">Yes, he is.</p>
		<p class="translation">はい、彼は働いています。</p>
		</div>
		<div class="set">
		<p class="example">No, he's not. (No, he isn't.)</p>
		<p class="translation">いいえ、彼は働いていません。</p>
		</div>

		<h2>他の疑問文の形</h2>


		
		<div class="set">
		<p class="example">(Jennifer) What are they doing?</p>
		<p class="translation">彼らは何をしているんですか？</p>
		</div>
		<div class="set">
		<p class="example">(John) They are learning English.</p>
		<p class="translation">彼らは英語を勉強しています。</p>
		</div>
		<div class="set">
		<p class="example">(Bill) Who are you talking about?</p>
		<p class="translation">誰のことを話しているんですか？</p>
		</div>
		<div class="set">
		<p class="example">(Tom) We are talking about our English teacher.</p>
		<p class="translation">私たちは私たちの英語の先生について話しています。</p>
		</div>

  </div>
</div>




{% endblock %}