{% extends "base.html" %}
{% block body %}

<div id="main">
  <div class="header">
      <h1>現在完了形１(I have done)</h1>
  </div>

  <div class="content">

  	<p>現在完了形は過去形と似ていますが、過去形が一時の出来事を表現するのに比べ、現在完了形は最近起こった事や、現在までの関連性を表現する時に使われます。</p>

    <h2>肯定文</h2>

    <div class="grammar"><p align="center">名詞　＋　have/has　＋　動詞過去完了形</p></div>

    <p><span class="inline">have</span>と<span class="inline">has</span>を完了形で使う場合は省略が可能です。</p>

		<p class="vocabulary">I have -> I've</p>
		<p class="vocabulary">She has -> She's</p>

		<p>例</p>

	  <p class="example">I have lost my key.</p>
		<p class="translation">私は私の鍵を無くしてしまった。（まだ見つかっていない）</p>
	  <p class="example">He has forgotten my name.</p>
		<p class="translation">彼は私の名前を忘れてしまった。（まだ思い出していない）</p>
	  <p class="example">She has already gone to France.</p>
		<p class="translation">彼女は既にフランスに行ってしまった。（まだ帰って来ていない）</p>
		<p>肯定文の現在完了形にはよくalreadyを使い、”既に”というのを強調することがあります。</p>

		<h2>否定文</h2>

    <div class="grammar"><p align="center">名詞　＋　have/has　＋　not　＋　動詞過去完了形</p></div>

		<p><span class="inline">have not</span>は<span class="inline">haven't</span>に、<span class="inline">has not</span>は<span class="inline">hasn't</span>に省略することが出来ます。</p>

		<p>例</p>

	  <p class="example">He hasn't forgotten my name. (He still remembers my name).</p>
		<p class="translation">彼は私の名前を忘れていない。（彼はまだ私の名前を覚えている）</p>
	  <p class="example">I haven't finished my homework yet.</p>
		<p class="translation">私はまだ宿題を終わらせていない。</p>
		<p>否定文の現在完了形にはよくyetを使い、”まだ”というのを強調することがあります。</p>

		<h2>疑問文</h2>

    <div class="grammar"><p align="center">Have/Has　＋　名詞　＋　動詞過去完了形 ?</p></div>

		<p>例</p>

	  <p class="example">Have you seen Elizabeth?</p>
		<p class="translation">エリザベスを見ましたか？（今エリザベスがどこにいるか知っていますか？）</p>
		<p>Did you see Elizabeth? ではないので注意しましょう。</p>
	  <p class="example">Have you sent an email to Kim?</p>
		<p class="translation">キムにメールを送りましたか？</p>
	  <p class="example">Yes, I have.</p>
		<p class="translation">はい、もう送りました。</p>
	  <p class="example">No, I haven't.</p>
		<p class="translation">いえ、まだ送ってません。</p>
	  <p class="example">Not yet.</p>
		<p class="translation">まだです。</p>
		<p><span class="inline">Not yet</span>というのはよく使われます。</p>

  </div>
</div>

{% endblock %}