{% extends "base.html" %}
{% block body %}

<div id="main">
  <div class="header">
      <h1>過去完了形(I had done)</h1>
  </div>

  <div class="content">

  	<p>過去完了形は簡単に言ってしまえば現在完了形の過去形です。</p>

    <h2>肯定文</h2>

    <div class="grammar"><p align="center">名詞　＋　had　＋　動詞過去完了形</p></div>

    <p>例</p>

    <p>まず現在完了形から見てみましょう。</p>

	  <p class="example">Today, I could not get into my apartment because I have lost my key.</p>
		<p class="translation">鍵を無くしてしまったので今日私はアパートに入れませんでした。</p>

		<p>翌日鍵を見つけたとしましょう。そして３日後に同じ出来事を話すと以下のようになります。</p>

	  <p class="example">3 days ago, I could not get into my apartment because I had lost my key.</p>
		<p class="translation">鍵を無くしてしまったので三日前私はアパートに入れませんでした。</p>
		<p><span class="inline">I had lost</span>と言っているので、３日前の時点では無くしていたが、今は見つかったという意味です。もしここで<span class="inline">I have lost</span>を使うと、まだ鍵が見つかっていないということになります。</p>

	  <p class="example">When I got home last Friday, my wife had already had dinner.</p>
		<p class="translation">先週の金曜、私が家に着いた時には、妻は既に夕食を食べ終わっていた。</p>
	  
		<h2>否定文</h2>

    <div class="grammar"><p align="center">名詞　＋　had not　＋　動詞過去完了形</p></div>

    <p><span class="inline">had not</span>は<span class="inline">hadn't</span>に省略することが出来ます。</p>

    <p>例</p>

	  <p class="example">Last weekend, I went to Disneyland for the first time.<br>
	  									 I was very excited because I had never been to Disneyland.</p>
		<p class="translation">先週末私は初めてディズニーランドに行きました。<br>
													 一度もディズニーランドに行ったことがなかったのでとても興奮しました。</p>

	  <p class="example">I didn't go to the party last night because I had not finished my homework.</p>
		<p class="translation">まだ宿題が終わっていなかったので、昨夜私はパーティに行きませんでした。</p>

  </div>
</div>

{% endblock %}







