{% extends "base.html" %}
{% block body %}

<div id="main">
  <div class="header">
      <h1>過去形(I did)</h1>
  </div>

  <div class="content">

  	<p>過去形は過去に起こったことについて話す時に使われます。</p>

    <h2>肯定文</h2>

    <div class="grammar">
    	<p align="center">名詞　＋　動詞過去形</p>
    </div>

    <p>動詞過去形は一種類しかないので、名詞によって変わることはありません。</p>

	  
    <div class="set">
	  <p class="example">I went to San Francisco last year.</p>
		<p class="translation">私は去年サンフランシスコに行きました。</p>
	  </div>
		<div class="set">
	  <p class="example">I watched TV last night.</p>
		<p class="translation">私は昨晩テレビを見ました。</p>
	  </div>
		<div class="set">
	  <p class="example">I studied English yesterday.</p>
		<p class="translation">私は昨日英語を勉強しました。</p>
		</div>

		<h2>否定文</h2>

    <div class="grammar">
    	<p align="center">名詞　＋　did not　＋　動詞原型</p>
    </div>

    <p><span class="inline">did not</span> は <span class="inline">didn't</span> に省略出来ます。</p>

	  
    <div class="set">
	  <p class="example">I didn't know that.</p>
		<p class="translation">それは知りませんでした。</p>
	  </div>
		<div class="set">
	  <p class="example">I didn't watch TV last night.</p>
		<p class="translation">私昨晩テレビを見ませんでした。</p>
	  </div>
		<div class="set">
	  <p class="example">I did not study English yesterday.</p>
		<p class="translation">私は昨日英語を勉強しませんでした。</p>
		</div>

		<h2>疑問文</h2>

    <div class="grammar">
    	<p align="center">Did　＋　名詞　＋　動詞原型　？</p>
    </div>

    <p>否定文と同様、動詞は原型です。</p>

	  
    <div class="set">
	  <p class="example">Did you go to San Francisco last year?</p>
		<p class="translation">去年サンフランシスコに行きましたか？</p>
	  </div>
		<div class="set">
	  <p class="example">Did you watch TV last night?</p>
		<p class="translation">昨晩テレビを見ましたか？</p>		
	  </div>
		<div class="set">
	  <p class="example">Did you study English yesterday?</p>
		<p class="translation">昨日英語を勉強しましたか？</p>
		</div>
		
		<h2>他の疑問文の形</h2>

	  
		<div class="set">
	  <p class="example">Why did you go to San Francisco last year?</p>
		<p class="translation">何で去年サンフランシスコに行ったんですか？</p>
	  </div>
		<div class="set">
	  <p class="example">Who went to San Francisco last year?</p>
		<p class="translation">誰が去年サンフランシスコに行きましたか？</p>
	  </div>
		<div class="set">
	  <p class="example">When did you move to Japan?</p>
		<p class="translation">いつ日本に引っ越したんですか？</p>
	  </div>
		<div class="set">
	  <p class="example">Where did you find my wallet?</p>
		<p class="translation">どこで私の財布を見つけましたか？</p>
		</div>
  </div>
</div>

{% endblock %}