{% extends "base.html" %}
{% block body %}

<div id="main">
  <div class="header">
      <h1>過去完了進行形(I had been doing)</h1>
  </div>

  <div class="content">

  	<p>過去完了進行形は現在完了進行形の過去形です。</p>

    <h2>肯定文</h2>

    <div class="grammar"><p align="center">名詞　＋　had been　＋　動詞+ing</p></div>

    <p>例</p>

	  <p class="example">She looked tired yesterday because she had been studying all day.</p>
		<p class="translation">昨日彼女は一日中勉強していたので、疲れて見えた。</p>
	  <p class="example">I had been waiting for Tom for half an hour when he got to the cafe.</p>
		<p class="translation">Tomがカフェに着いた時、私は彼を３０分待っていた。</p>

  </div>
</div>

{% endblock %}