{% extends "base.html" %}
{% block body %}

<div id="main">
  <div class="header">
      <h1>過去進行形(I was doing)</h1>
  </div>

  <div class="content">

  	<p>過去進行形は過去に行われていたことを表現する時に使われます。</p>

    <h2>肯定文</h2>

    <div class="grammar"><p align="center">名詞　＋　was/were　＋　動詞+ing</p></div>

    <p><span class="inline">was</span>は<span class="inline">is</span>と<span class="inline">am</span>の過去形、<span class="inline">were</span>は<span class="inline">are</span>の過去形です。</p>

	  
    <div class="set">
	  <p class="example">I was looking for you an hour ago.</p>
		<p class="translation">一時間前私はあなたのことを探していました。</p>
	  </div>
		<div class="set">
	  <p class="example">We were playing tennis yesterday at 2pm.</p>
		<p class="translation">私達は昨日の午後２時にテニスをしていました。</p>
	  </div>
		<div class="set">
	  <p class="example">We were just talking about you.</p>
		<p class="translation">私達はちょうどあなたのことを話していました。</p>
		</div>
		
		<h2>否定文</h2>

    <div class="grammar"><p align="center">名詞　＋　were/was　＋　not　＋　動詞+ing</p></div>

    <p><span class="inline">was not</span>は<span class="inline">wasn't</span>に、<span class="inline">were not</span>は<span class="inline">weren't</span>に省略出来ます。</p>

	  
    <div class="set">
	  <p class="example">I was not looking for you an hour ago.</p>
		<p class="translation">一時間前私はあなたのことを探していませんでした。</p>
	  </div>
		<div class="set">
	  <p class="example">She wasn't eating lunch at noon.</p>
		<p class="translation">彼女は正午にランチを食べていませんでした。</p>
		</div>
		
		<h2>疑問文</h2>

    <div class="grammar"><p align="center">Was/Were　＋　名詞　＋　動詞+ing ?</p></div>

    <p>現在進行形と同じパターンです。</p>

	  
    <div class="set">
	  <p class="example">Were you playing tennis yesterday at 2pm?</p>
		<p class="translation">昨日の午後２時にテニスをしていましたか？</p>
	  </div>
		<div class="set">
	  <p class="example">Were you looking for me 30 minutes ago?</p>
		<p class="translation">３０分前あなたは私のことを探していましたか？</p>
		</div>
		
		<h2>他の疑問文の形</h2>

	  
		<div class="set">
	  <p class="example">What were you doing this morning?</p>
		<p class="translation">今朝何をしていましたか？</p>
	  </div>
		<div class="set">
	  <p class="example">Who were you talking to?</p>
		<p class="translation">誰と話していましたか？</p>
		</div>
  </div>
</div>

{% endblock %}