<template name="/i/">
{{#markdown}}

#i

meet
read
leave
speak



#ɪ

sit
give
quit
live
drink


#eɪ

take
play
save
say
stay
day


#e

get
next
sell
tell
end

#æ

bad
man
last
sad

=================
#ɑ

hot
stop
want
job

#ɔ

small
tall
dog
long
=================

#ə

fun
come
love
but
one



#oʊ

no
know
home
slow
open
old
cold

#ʊ

good
look
push
book
cook

#u


do
new
two
choose


#ər

learn
word
first
work

#ɑɪ

nice
kind
try
high
night
time


#ɑʊ

now
down
house
out

#ɔɪ

join
avoid
enjoy
boy
















{{/markdown}}
</template>