<template name="/i/">
{{#markdown}}

#i

meet
read
leave
speak



#ɪ

sit
give
quit
live
drink



#eɪ

take
play
say
stay
day


save


#e

get
next
sell
tell
end



#æ

bad
man
last
sad
angry

=================
#ɑ

hot
stop
want
job

#ɔ

small
tall
dog
long
=================

#ə

fun
come
love
but
one

rent
lend
well

#u


do
new
two
choose

#ʊ

good
look
push
book
cook











#oʊ

no
know
home
slow
open
old
cold


#ɑɪ

nice
kind
try
high
night
time

#ɑʊ

now
down
house
out

#ɔɪ

join
enjoy
boy
avoid

#ər

learn
word
first
work




















{{/markdown}}
</template>