{% extends "englishCorner/ecBase.html" %}
{% block body %}


	<div id="main">
	  <div class="header">
	      <h1>Session2(June 25)</h1>
	  </div>

	  <div class="content">

	  <h2>Next session</h2>

	  <p>Date: Tuesday, June 30, at 3:30 PM</p>
	  <p>Bring your <strong>laptop</strong> and <strong>earphones</strong>. If you really don't want to bring your laptop because it's heavy, you do not have to. You can use your phone instead. But you will be watching some videos, so make sure your phone has enough battery. If you don't have earphones, that's fine.</p>


	  <h2>Homework2 (due: Sunday, June 28, at 11:58 PM)</h2>

	  <h4>Part 1</h4>

	  <p>Find at least 10 courses on <a href="https://www.coursera.org" target="_blank">Coursera</a> and <a href="https://www.edx.org" target="_blank">edX</a> that you found interesting. Put the URLs of those courses into an email. The following is an example.</p>

  	<div class="sampleEmail">
  		<p>https://www.coursera.org/course/wrongfulconviction<br>
  		https://www.edx.org/course/user-innovation-path-entrepreneurship-mitx-uinov8x<br>
  		...</p>
	  </div>

	  <p>After the deadline, I will put the URLs that you submitted on my website so that everyone can see what courses the other students are interested in.</p>

	  <h4>(Optional)</h4>

	 	<p>For each course, try to find an equivalent course at your college. If you find it, write the name of the course under the URL of the course you found on MOOCs. Note that you will unlikely to find an equivalent course with exactly the same name. For example, suppose you are interested in "<a href="https://www.edx.org/course/introduction-computer-science-harvardx-cs50x" target="_blank">Introduction to computer science</a>" on edX. But the equivalent course at Washburn university is called "Intro to structured programming".</p>

 <!-- Moreover, many of the courses on Coursera and edX are not offered at your university at all. But don't be sad. -->

	  <h4>Part 2</h4>

	  <p>Read from <a href="{{ url_for('post', name='can', _external=True)}}" target="_blank">can</a> to <a href="{{ url_for('post', name='動名詞', _external=True)}}" target="_blank">動名詞</a> on <a href="{{ url_for('index') }}" target="_blank">Kenzoの英語コース</a>（27 units）</p>

	  <p>Answer the following questions.</p>

	  <ol>
	  	<li>What were the 3 most useful units?</li>
	  	<li>Was there anything confusing? If so, which part(s)?(You can write in Japanese if you want)</li>
	  </ol>

	  <h4>Part 3</h4>

	  <p><span class="inline">The purpose of this assignment is to better understand the usage of modal verbs(助動詞). Modal verbs are explained on my website. Therefore, you should complete part 2 before moving on to part 3.</span></p>

	  <p>Pick your favorite American movie. Go to <a href="http://www.springfieldspringfield.co.uk/movie_scripts.php" target="_blank">Springfield! Springfield!</a> and search for the movie. If you can't find it, pick a different movie. For each modal verb(can, could, will, would, should, must, may, might), find every sentence in the movie that contains it. The following is an example.</p>

  	<div class="sampleEmail">
  		<p>Movie: Tangled</p>

  		<h4>can</h4>

  		<p>Why can't I go outside?<br>
  		Can't you picture me in a castle of my own?<br>
  		...</p>

  		<h4>will</h4>

  		<p>When will my life begin?<br>
  		Tomorrow night, the lights will appear.<br>
  		...</p>

  		<h4>could</h4>
  		<p>...</p>

  		<p>...</p>

	  </div>

	  <p>Don't just copy & paste the sentences from the webpage. Type them.</p>

	  <p>To complete this assignment, you could read the script fron the beginnig to the end. But there is an easier way to do it. Every browser has a <strong>find bar</strong>, which allows you to locate a specific word or phrase on a webpage. You can use the keyboard shortcuts <strong>Ctrl+F</strong> (Windows) and <strong>⌘-F</strong> (Mac) to open the find bar. If you use this method, keep in mind that modal verbs have short forms.</p>

	  <h4>How to submit the homework</h4>

	  <p>Email all of the assignments to <strong>kenzotakahashi2@gmail.com</strong>. If you have a comment, write it at the end of the email. The title of the email must be "Homework2, (your name)". DO NOT send three separate emails for each assignment. Include all of them in one email.</p>


	  <h2>Activity for today</h2>

	  Do any of the three homework.


	  </div>
	</div>

{% endblock %}