{% extends "englishCorner/ecBase.html" %}
{% block body %}


	<div id="main">
	  <div class="header">
	      <h1>Session3(June 30)</h1>
	  </div>

	  <div class="content">

	  <h2>Next session</h2>

	  <p>Date: Tuesday, July 7, at 1:30 PM</p>
	  <p>Bring your <strong>laptop</strong> and <strong>earphones</strong>. If you really don't want to bring your laptop because it's heavy, you do not have to. You can use your phone instead. But you will be watching some videos, so make sure your phone has enough battery. If you don't have earphones, that's fine.</p>


	  <h2>Homework3 (due: Sunday, July 5, at 11:58 PM)</h2>

	  Log in to <a href="http://www.netflix.com" target="_blank">Netflix</a>. Watch a movie that has the script available at <a href="http://www.springfieldspringfield.co.uk/movie_scripts.php" target="_blank">Springfield! Springfield!</a>. <strong>Choose a differnt movie from the one you used in today's activity.</strong> Then read the entire script. Write every sentence that you didn't understand. Make sure you also write what movie you watched. The following is an example.

  	<div class="sampleEmail">
  		<p>Movie: How to Train Your Dragon2</p>

  		<p>And this is a good thing to be done, because the viking along with the dragon.<br>
  		And this is the problem, not all people appreciate all that we do.<br>
  		...</p>

	  </div>

	  <p>Netflix's premium plan allows us to use up to 4 devices at the same time. The following table shows who can log in to Netflix each day. You may watch a movie with somebody else if you want. You can also negotiate the schedule with other students.</p>

    <table class="pure-table pure-table-bordered">
      <thead>
      <tr>
        <th>6/30(Tue)</th>
        <th>7/1(Wed)</th>
        <th>7/2(Thur)</th>
        <th>7/3(Fri)</th>
        <th>7/5(Sun)</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Kotaro</td>
        <td>Yuri</td>
        <td>Shun</td>
        <td>Nozomi</td>
        <td>Yutori</td>
      </tr>
      <tr>
        <td>Asuka</td>
        <td>Sayaka</td>
        <td>Misato</td>
        <td>Ko</td>
        <td>Susumu</td>
      </tr>
      <tr>
        <td>Saki</td>
        <td>Kodai</td>
        <td>Dai</td>
        <td>Miku</td>
        <td>Aoi</td>
      </tr>
      <tr>
        <td>Maki</td>
        <td>Yujiro</td>
        <td>Lila</td>
        <td></td>
        <td></td>
      </tr>
      </tbody>
    </table>

    <p>On Saturday afternoon, we have an activity. If you want to use Netflix on Saturday morning, you can. It will be first-come, first-served.</p>


	  <h4>How to submit the homework</h4>

	  <p>Email the assignment to <strong>kenzotakahashi2@gmail.com</strong>. If you have a comment, write it at the end of the email. The title of the email must be "Homework3, (your name)".</p>


	  <h2>Activity for today</h2>

	  Pick your favorite American movie. You can choose the same movie as the one you used for the last assignment if you want. Go to <a href="http://www.springfieldspringfield.co.uk/movie_scripts.php" target="_blank">Springfield! Springfield!</a> and search for the movie. If you can't find it, pick a different movie. Read the entire script. If you run into a sentence that you don't understand, ask me.


	  </div>
	</div>

{% endblock %}