{% extends "englishCorner/ecBase.html" %}
{% block body %}


	<div id="main">
	  <div class="header">
	      <h1>Session4(July 9)</h1>
	  </div>

	  <div class="content">

	  <h2>Homework4</h2>

    <h3>Part 1 (due: Thursday, July 9, at 11:57 PM)</h3>

    <p>Watch all the videos on <a href="{{ url_for('pronunciation') }}" target="_blank">Kenzoの英語コース</a>(16 videos). Give me feedback. What was helpful? What was confusing? How can I make them better? Please be honest. You can write it in Japanese if you want.</p>

    <p>Email it to <strong>kenzotakahashi2@gmail.com</strong>. The title of the email must be "Homework4, (your name)".</p>

    <h3>Part 2 (due: Monday, July 13, at 11:58 PM)</h3>

    <p>The goal of this assignment is to improve your pronunciation of vowel sounds. You are not going to lose your Japanese accent unless you are aware of it. Recording your voice is a great way to be aware of your accent and correct it. For recording, we use a third-party application called Clyp. Then you are going to submit your audio to my app called Pronounceit.</p>

    <h4>Instruction</h4>

    <p>1. Go to <a href="https://pronounceit.meteor.com" target="_blank">Pronounceit</a> and create an account.</p>

    <p>2. Go to <a href="https://clyp.it" target="_blank">Clyp</a> and create an account. Record audio.</p> 

    <p>3. Once you recorded it, click on "Advanced" tag on the right, and copy "Embed Widget".</p>

    <p>4. Go back to Pronounceit and go to Dashboard page. Click on "Submit Audio" button under the correspoinding vowel. Paste the embed widget code and submit it.</p>

    <p>Do not just record once and submit it. Record over and over again until you can make the correct sound.</p>

    <h4>How to record audio</h4>

    <p>There are several ways to record audio. Choose the one that suits you best.</p>

    <h4>1. Record on Clyp mobile app (iOS)</h4>

    <p>Clyp has the <a href="https://itunes.apple.com/us/app/clyp/id844687108?ls=1&mt=8" target="_blank">iOS app</a>. Clyp also has the <a href="https://play.google.com/store/apps/details?id=it.clyp" target="_blank">Android app</a>, but it has many bugs, so I do not recommend it.</p>

    <h4>2. Record on mobile app (Android)</h4>

    For Android users, you can record your voice using a voice recorder app. Then share it to Google Drive, and upload it to Clyp. This is a complecated method. But if you don't have either Mac or iPhone and your PC does not have a microphone, this is the only way. There are several voice recorder apps available on Android. I tried <a href="https://play.google.com/store/apps/details?id=com.andrwq.recorder&hl=en" target="_blank">Smart voice recorder</a>, and it worked fine.

    <h4>2. Record on your computer</h4>

    <p>Launch QuickTime Player(Mac) or Sound Recorder(Windows). Record audio and save it. Upload it to Clyp.</p>

    <h4>3. Record on Clyp web app</h4>

    <p>You can record audio directly on Clyp. But it only supports Firefox, and Opera. It does not support Chrome, Internet Explorer, Safari, or any mobile browsers.</p>


	  <h2>Activity for today</h2>

    <p>1. Record and submit sample audio to Pronounceit to make sure you know how to do it.</p>

    <p>2. Look up the word "car" in your dictionary. If the pronunciation of car is /kɑː/, it is a British English dictionary. If it is /kɑːr/, it is an American English dictionary. Many dictionaries include both. Just know which dictionary you are using.</p>

    <p>3. Watch some TV shows on Netflix!</p>   

	  </div>
	</div>

{% endblock %}