{% extends "englishCorner/ecBase.html" %}
{% block body %}


	<div id="main">
	  <div class="header">
	      <h1>Session5(July 16)</h1>
	  </div>

	  <div class="content">

    <h2>Resource</h2>

      <div><a href="https://www.dropbox.com/" target="_blank">Dropbox</a></div>
      <div><a href="https://www.google.com/drive/" target="_blank">Google Drive</a></div>

	  <h2>Homework5</h2>

    <h3>Part 1 (due: Tuesday, July 21, at 11:58 PM)</h3>

      <p>Watch all the videos on consonants on <a href="{{ url_for('pronunciation') }}" target="_blank">Kenzoの英語コース</a>(24 videos).

      <p>Do the same thing as the last time. Record your voice, upload it to Clyp, and submit it to Pronounceit. Please record in a quiet room. No background music allowed.</p>

      <div><a href="https://pronounceit.meteor.com" target="_blank">Pronounceit</a></div>
      <div><a href="https://clyp.it" target="_blank">Clyp</a></div>

    <h3>Part 2 (due: Tuesday, July 21, at 11:58 PM)</h3>

    <p>I tried many new things in this class. Some of them might have been more helpful than others. Which activity or homework did like? Which one(s) did you not like? Email your feedback to <strong>kenzotakahashi2@gmail.com</strong>. You can write it in Japanese if you want. The title of the email must be "Homework5, (your name)".</p>


	  <h2>Activity for today</h2>

      <p>Some of you still consume Japanese content. It is time to stop doing that. If you continue using Japanese all the time, your English is not going to improve very much. Change your habit by changing what you watch. Like Netflix, YouTube is a fantastic resource for learning English. </p>

      <p>Go to <a href="https://www.youtube.com/channels" target="_blank">https://www.youtube.com/channels</a> and subscribe to at least 10 channels. You do not have to report it to me.</p>

      <p><a href="https://adblockplus.org" target="_blank">Adblock Plus</a> blocks YouTube ads. It's available on most browsers.</p>

	  </div>
	</div>

{% endblock %}