{% extends "englishCorner/ecBase.html" %}
{% block body %}


    <div id="main">
      <div class="header">
      <h1>Session7(July 28)</h1>
      </div>

      <div class="content">

    <p>You can talk about anything you want. If you have trouble coming up with a topic, try the topics below.</p>

    <h2>Conversation Topics</h2>

    <p>Do you have brothers or sisters?</p>
    <p>What do your parents do for their living?</p>
    <p>What is your major?</p>
    <p>What is your dream job?</p>
    <p>What is your passion?</p>
    <p>What do you like to do in your free time?</p>
    <p>What type of music do you like to listen to?</p>
    <p>What type of movies do you like to watch?</p>
    <p>How many apps do you have on your phone?</p>
    <p>Do you speak any other languages?</p>
    <p>Have you traveled to any foreign countries?</p>
    <p>Which country would you like to visit?</p>

      </div>
    </div>

{% endblock %}