{% extends "englishCorner/ecBase.html" %}
{% block body %}


    <div id="main">
      <div class="header">
        <h1>Session8(July 30)</h1>
      </div>

      <div class="content">

    <h2>Driverless Cars</h2>

    <p>Watch <a href="https://www.youtube.com/watch?v=P1tfOeChenQ" target="_blank">this video </a> and discuess it in your group. It is a free discussion, but the following questions might help you get started.</p>

    <h4>Questions</h4>

    <p>How do you feel about the fact that driverless cars can drive better than humans?</p>

    <p>When driverless cars become available, would you still drive or use a traditional taxi?</p>

    <p>What happens to the jobs of those drivers who are going to be replaced by driverless cars? Do you think automobile companies are responsible for the loss of those jobs?</p>

    <p>Do you think driverless cars will be good for society?</p>

    <h2>Sociel Media</h2>

    <p>Watch <a href="https://www.youtube.com/watch?v=CkMh6xdJNeM" target="_blank">this video </a> and discuess it in your group. It is a free discussion, but the following questions might help you get started.</p>

    <h4>Questions</h4>

    <p>What social media do you use and how do you use them?</p>

    <p>How many text messages do you send per day?</p>

    <p>Is social media replacing your relationships or adding to them?</p>

      </div>
    </div>

{% endblock %}