body {
	font-family: Helvetica, Verdana, sans-serif;
}

h1, h2, .pure-menu {
	font-family: Helvetica, Verdana, sans-serif;
}

h1, h2 {
    margin: 50px 0 20px 0;
    font-weight: 600;
}

h2 {
	font-size: 1.3em;
}

.set {
	margin-left: 2em;
}

.example {
	margin-bottom: 0;
}

.translation {
	margin-top: 0;
	margin-bottom: 0;
}

.explanation {
	margin-top: .3em;
	/*background-color: #f1f9f7;*/
/*	border-color: #e0f1e9;
	border-style: solid;
	border-width: 1px;*/
	/*color: #1d9d74;*/
}

.fa-info-circle {
	color: #1d9d74;
	padding-right: .5em;
}

.grammar {
	background-color: #efeef0;
}

.grammar > p {
	padding: 20px;
}

.vocabulary {
	margin: 0 0 0 2em;
}

.inline {
	background-color: #f1f9f7;
	border-color: #e0f1e9;
	color: #1d9d74;
	padding: 3px;
}

table.indented-table {
	margin-left: 2em;
}

td.arrow {
	padding: 0 1em 0 1em;
}

a {
    color: #3b8bba; /* block-background-text-normal */
    text-decoration: none;
}

a:visited {
    color: #265778; /* block-normal-text-normal */
}

a:hover {
	text-decoration: underline;
}

hr {
	color: #3b8bba;
}

footer {
	background-color: #efeef0;
	padding: 10px;
}