{% extends "base.html" %}
{% block body %}

<div id="main">
  <div class="header">
      <h1></h1>
  </div>

  <div class="content">

  	<p></p>

    <h2></h2>

    <div class="grammar"><p align="center"></p></div>

    <div class="set">
		  <p class="example"></p>
			<p class="translation"></p>
		</div>
    <div class="set">
		  <p class="example"></p>
			<p class="translation"></p>
		</div>
    <div class="set">
		  <p class="example"></p>
			<p class="translation"></p>
		</div>
    <div class="set">
		  <p class="example"></p>
			<p class="translation"></p>
		</div>
    <div class="set">
		  <p class="example"></p>
			<p class="translation"></p>
		</div>
    <div class="set">
		  <p class="example"></p>
			<p class="translation"></p>
		</div>
    <div class="set">
		  <p class="example"></p>
			<p class="translation"></p>
		</div>

		<p class="vocabulary"></p>
		<p class="vocabulary"></p>
		<p class="vocabulary"></p>
		<p class="vocabulary"></p>
		<p class="vocabulary"></p>

		<span class="inline">

  </div>
</div>

{% endblock %}