{% extends "base.html" %}
{% block body %}

<div id="main">
  <div class="header">
    <h1>Kenzoの英語コース</h1>
    <h2>実践で使える英語を分かり易く説明しています。</h2>
  </div>

  <div class="content">

  <iframe width="640" height="360" src="https://www.youtube.com/embed/Ugm53uSdAb0?rel=0" frameborder="0" allowfullscreen></iframe>

  <h2>New Units!</h2>

  <p>6/22 <a href="{{ url_for('post', name='動詞の形容詞的活用', _external=True)}}">動詞の形容詞的活用</a></p>
  <p>6/21 <a href="{{ url_for('post', name='不定詞', _external=True)}}">不定詞</a></p>
  <p>6/19 <a href="{{ url_for('post', name='形容詞節４', _external=True)}}">形容詞節４</a></p>
  <p>6/19 <a href="{{ url_for('post', name='形容詞節３', _external=True)}}">形容詞節３</a></p>
  <p>6/18 <a href="{{ url_for('post', name='must,have_to', _external=True)}}">mustとhave toの違い</a></p>
  <p>6/14 <a href="{{ url_for('post', name='形容詞節２', _external=True)}}">形容詞節２</a></p>
  <p>6/14 <a href="{{ url_for('post', name='形容詞節', _external=True)}}">形容詞節（関係代名詞）</a></p>
  <p>6/14 <a href="{{ url_for('post', name='動名詞', _external=True)}}">動名詞</a></p>

  <h2>ゴール</h2>

  <p>
    このサイトのゴールは、”辞書を引きながらなら、英語を読んだり聞いたり出来るようになること”です。”何だ、話せるようにならないのか”と思った方、がっかりしないで下さい。話せるようになるには英語を大量に聞いたり読んだりする必要があります。そして英語を理解する為には文法、発音、そして語彙が必要です。このサイトでは主に文法と発音を教えます。例文には使用頻度の高い単語を使っているので、文法と発音を学びながら同時に必要な単語も学べるようになっています。
  </p>

  <p>
    英語は世の中に溢れています。面白い洋画は沢山ありますし、YouTube動画やブログも山ほどあります。誰かが作った味気のない教材より、自分の興味のあるもので勉強した方が断然早く上達しますし、単語も日本語に訳すことなく覚えることが出来ます。
  </p>

  <h2>このサイトの使い方</h2>

  <p>
    サイドメニューにユニットが表示されています。それぞれのユニットは、それ以前のユニットを知っていることを前提として書かれています。学校で習った英語は全部忘れてしまったという方は、一番始めのユニットから順に進んでいって下さい。基礎の基礎から教えていますので、アルファベットさえ知っていれば大丈夫です。簡単な文なら作れるという方も、始めから流し読みすることをオススメします。学校での教え方とは違うところが多々あるので新しい発見があるかもしれません。
  </p>

  <h2>今後の方針</h2>

  <ol>
    <li>現在５０近くのユニットがありますが、まだまだ必要な英文法が欠けています。全部で約１００ユニット書く予定です。</li>
    <li>動画の方が勉強し易いという方は沢山いるので、それぞれのユニットの動画を作成する予定です。</li>
    <li>文法と同じくらい重要なのが発音です。基礎の発音に関しては文法より先に学ぶ必要があります。発音についての動画シリーズを作成する予定です。</li>
  </ol>


<!--     <div class="pure-g">
      <div class="pure-u-1-3"><p>Thirds</p></div>
      <div class="pure-u-1-3"><p>Thirds</p></div>
      <div class="pure-u-1-3">
          <img class="pure-img-responsive" src="{{ url_for('static', filename = 'images/profile.jpg')}}">
      </div>
  </div> -->

  </div>
</div>

{% endblock %}
