{% extends "base.html" %}
{% block body %}

<div id="main">
  <div class="header">
      <h1>その他</h1>
  </div>

  <div class="content">

    <p>このページは主に僕が講師をしている栄陽子留学研究所の生徒の為のものです。</p>

    <h2>Seminar Schedule</h2>

    <p>Seminarは文法のページの上から順に進んでいきます。もし来れないセミナーがある場合はその部分を読んでから次回以降のセミナーに来て下さい。</p>

    <ul>
      <li>Seminar 2 - <a href="{{ url_for('post', name='名詞１', _external=True)}}">名詞１</a> ~ <a href="{{ url_for('post', name='現在進行形', _external=True)}}">現在進行形</a> (9 units)</li>
      <li>Seminar 3 - <a href="{{ url_for('post', name='be動詞', _external=True)}}">be動詞</a> ~ <a href="{{ url_for('post', name='現在完了形２', _external=True)}}">現在完了形２</a> (9 units)</li>
      <li>Seminar 4 - <a href="{{ url_for('post', name='現在完了進行形', _external=True)}}">現在完了進行形</a> ~ <a href="{{ url_for('post', name='過去完了進行形', _external=True)}}">過去完了進行形</a> (8 units)</li>
      <li>Seminar 5 - <a href="{{ url_for('post', name='can', _external=True)}}">can</a> ~ <a href="{{ url_for('post', name='could', _external=True)}}">could</a> (9 units)</li>
      <li>Seminar 6 - <a href="{{ url_for('post', name='there_is', _external=True)}}">There (is)</a> ~ <a href="{{ url_for('post', name='ingとedで終わる形容詞', _external=True)}}">ingとedで終わる形容詞</a> (8 units)</li>
      <li>Seminar 7 - <a href="{{ url_for('post', name='形容詞節１', _external=True)}}">形容詞節１</a> ~ <a href="{{ url_for('post', name='動名詞', _external=True)}}">動名詞</a> (9 units)</li>
    </ul>


  	<h2>オススメ辞書</h2>

    <p>Longman Dictionary<br><a href="http://www.ldoceonline.com/" target="_blank">http://www.ldoceonline.com/</a></p>

    <h2>Movie Script</h2>

    <p>洋画のセリフが無料で見られる便利なサイトです。</p>

    <p>Springfield Springfield<br><a href="http://www.springfieldspringfield.co.uk/" target="_blank">http://www.springfieldspringfield.co.uk/</a></p>

    <h2>Exercise 1</h2>

    <p>以下の文を否定文、疑問文に変えてみましょう。</p>

    <p>He likes me.</p>
    <p>You are eating lunch.</p>
    <p>She is a student.</p>
    <p>You studied math.</p>
    <p>You were talking about me.</p>
    <p>You have finished your homework.</p>

    <h2>Exercise 2</h2>

    <p>以下の質問に最低３文で答えてみましょう。</p>

    <p>Tell me about your family. What do they do? Are you close to them?</p>

    <p>Tell me about your friends. What do they do? How do you know them(How did you meet them)? What do you like about them?</p>

    <p>Why do you want to study abroad?</p>

    <p>What do you want to study in college? Why?</p>

    <p>What do you do in your free time?</p>
  </div>

</div>

{% endblock %}