{% extends "base.html" %}
{% block body %}

<div id="main">
  <div class="header">
      <h1>その他</h1>
  </div>

  <div class="content">

    <p>このページは主に僕が講師をしている栄陽子留学研究所の生徒の為のものです。</p>

  	<h2>オススメ辞書</h2>

    <p>Longman Dictionary<br><a href="http://www.ldoceonline.com/">http://www.ldoceonline.com/</a></p>

    <h2>Exercise 1</h2>

    <p>以下の文を否定文、疑問文に変えてみましょう。</p>

    <p>He likes me.</p>

    <p>You are eating lunch.</p>

    <p>She is a student.</p>

    <p>You studied math.</p>

    <p>You were talking about me.</p>

    <p>You have finished your homework.</p>

    <h2>Exercise 2</h2>

    <p>以下の質問に最低３文で答えてみましょう。</p>

    <p>Tell me about your family. What do they do? Are you close to them?</p>

    <p>Tell me about your friends. What do they do? How do you know them(How did you meet them)? What do you like about them?</p>

    <p>Why do you want to study abroad?</p>

    <p>What do you want to study in college? Why?</p>

    <p>What do you do in your free time?</p>
  </div>

</div>

{% endblock %}