{% extends "base.html" %}
{% block body %}

<div id="main">
  <div class="header">
      <h1>その他</h1>
  </div>

  <div class="content">

  	<h2>オススメ辞書</h2>

    <p>Longman Dictionary<br><a href="http://www.ldoceonline.com/">http://www.ldoceonline.com/</a></p>

    <h2>Exercise</h2>

    <p>以下の文を否定文、疑問文に変えてみましょう。</p>

    <p>He likes me.</p>

    <p>You are eating lunch.</p>

    <p>She is a student.</p>

    <p>You studied math.</p>

    <p>You were talking about me.</p>

    <p>You have finished your homework.</p>
  </div>

</div>

{% endblock %}