{% extends "base.html" %}
{% block body %}

<div id="main">
  <div class="header">
      <h1>Your Life Is Tetris. Stop Playing It Like Chess.</h1>
  </div>

  <div class="content">

<h3>Instruction</h3>

<h3>Reading(25 min)</h3>

<p>Read <a href="https://medium.com/life-learning/your-life-is-tetris-stop-playing-it-like-chess-4baac6b2750d#.cpe03hpfi">Your Life Is Tetris. Stop Playing It Like Chess.</a>. Do not hesitate to use a dictionary. Do not rush. If you cannot read it in 25 minutes, that's OK. It's better to understand a few paragraphs completely than to understand the whole article only vaguely.</p>


<p>Answer the following questions as you read.</p>

<ul>
	<li>Identify the subject(主語) and the verb(動詞) of each clause(節).</li>
	<li>For each article(冠詞) or lack of thereof, think about why.</li>
</ul>


<p>Whenever you have trouble understanding a sentence or part of a sentence, ask me.</p>



<h3>Short lecture(5 min)</h3>

<p>I will go over the sentences, phrases, or words that many of you had trouble with. I will also touch on more advanced grammar appeared in the article that I did not cover in English Seminar 2-7.</p>


<h3>Writing(40 min)</h3>

<p>Answer the following questions. If you don't have time, you don't have to answer all of them. Please type it in a word processor.</p>

<ol>
<li>
	Suppose you want to tell your friends about this article, or you want to share it on facebook. How would you describe it?
</li>
<li>
	There are 4 points introduced in this article. Which point(s) do you agree the most? Why?
</li>
<li>
	Do you disagree with anything in the article?
</li>
<li>Write general comments about the article. Read the responses below the article to get some inspiration.</li>

</ol>

<h3>Feedback and Correction(15 min)</h3>

<p>I will give feedback and correct grammatical mistakes on your writing.</p>

<p>Email your work to <strong>kenzotakahashi2@gmail.com</strong> . I will compile all of your work and share it with you so that you can read your classmates' work. If you don't want to share a particular answer, write <strong>(private)</strong> at the beginning of the answer. But please share as many of them as possible.</p>

  </div>
</div>

{% endblock %}