{% extends "base.html" %}
{% block body %}

<article id="main">
  <header class="header">
      <h1>英文を構築するプロセス</h1>
  </header>

  <div class="content">
<p>英文法や単語について書かれた書籍は山ほど存在します。かくいう僕もこのサイトで文法について書いています。しかし、実際にどうやって自分の伝えたいことを英語というフォーマットに落とし込むか、つまりどうやって文を構築するかということに関してはあまり知られていない気がします。</p>

<p>現在英語を勉強している方の多くは、話せる人を見て漠然と「なんでそんなにペラペラと話せるんだろ…」と嘆いているかもしれません。学校で習う英語は問題無く理解出来るけど、簡単なことすら全く話せない。英語を話してる人の頭の中は一体どうなってるんだろうって疑問に思ったことありませんか？このポストでは僕が英文を作る時に具体的に何を考えているかを出来るだけ詳しく説明します。これは会話だけでなくライティングにも通用します。</p>

<p>英文を構築する方法は幾つか存在します。よくある間違いが、日本語を英語に訳すことです。「お腹減った=>"I’m hungry"」のように日本語で学んだ簡単な表現を使うのは結構ですし、「天気=>weather」のように単語を日本語で考えてから英語に直すのも初めのうちは問題ありません。</p>

<p>しかし、多くの表現は英訳することが不可能です。例えば、僕の生徒の一人が「それは初耳です」と英語で言いたかったらしく「first ear」と言っていました。問題は、こんな英語は存在しないこと以上に、自分が一回も聞いたことがない英語を正しい英語だと思ってしまうことです。ちなみにこの場合は</p>
    <div class="set">
	  <p class="example">I have never heard of it.</p>
		<p class="translation">私はそれを一度も聞いたことがありません</p>
	  </div>
<p>というのが正しい表現の一つです。</p>

<p>正しいアプローチは、自分が知ってる英語を駆使することです。ということは必然的に知ってる英語を増やす必要があります。次のセクションではその方法についてお話します。</p>

<h2>インプットの保存の仕方</h2>

<p>文を作る際に必要なものは２つだけです。それは「過去に聞いたことや読んだことがある英語（インプット）」と「文法」です。どちらかが欠けていてはダメです。</p>

<p>ここで重要なのが、インプットをどうやって脳に保存するかです。以下は間違った保存の仕方です。</p>

<p class="vocabulary"><strong>原文</strong> - I’ll never see him again.</p>
<p class="vocabulary"><strong>和訳</strong> - 私は彼に会うことは二度とないだろう。</p>

<p>仮にこの文を何の背景も無しに知ったとしましょう。唯一知っているのは原文と和訳だけです。それぞれの単語の意味は知りません。つまり「see」が「会う」という意味であることも「again」が「二度と」という意味であることも知りません。どういう場面で使われるかも知りません。想像してみて下さい。このインプットの使い道は、全く同じ文を話したい時だけです。それ以外に使い道が無いので、脳のデータベースの容量の無駄です。つまり覚えた労力に対して効果が低いです。もし「私は彼女に会うことは二度とないだろう。」と言いたい場合はどうしますか？どうしようもありません。これは極端な例ですが、それぞれの単語の意味も知らず、文法的な理解も無ければ、全く応用が利きませんし、どんなシチュエーションで使えるか知らなければニュアンスが掴めません。</p>

<p>以下が正しい保存の仕方です。</p>

<p class="vocabulary"><strong>原文</strong> - This is where we first met.</p>

<p class="vocabulary"><strong>単語、文法</strong> -<br>
This - ここ、名詞、主語<br>
is - be 動詞<br>
where we first met - 名詞節、補語<br>
where - 場所を表す<br>
we - 私達、名詞<br>
first - 初めて、副詞<br>
met - 会った、動詞、meetの過去形</p>

<p class="vocabulary"><strong>シチュエーション</strong></p>

<img class="vocabulary" src="{{ url_for('static', filename = 'images/titanic.png') }}" alt="Titanic"
width="422" height="214">

<p>ちなみにこれはタイタニックの１シーンです。ご覧の通り和訳はありません。それぞれの単語の意味を知っていて、文法的に解釈出来、どんなシチュエーションで使われているかが分かれば意味が分かります。文法に関しては当然決まったフォーマットなどはありません。押さえるポイントそれぞれの単語の品詞（名詞や動詞）、文中での働き（主語、補語、目的語）、そして時制です。この文で言えば、メインの文はbe動詞の形で主語がThis、動詞がis、補語が名詞節のwhere we first metです。名詞節の時制は過去形で、主語がwe、動詞がmet、そして副詞のfirstがmetを修飾しています。僕が英語を読んだり聞いたりしてる時はこれらの作業を無意識に行っています。</p>

<p>映画や実際の会話であれば、その時のシーンも一緒に記憶に残るでしょう。文章の場合は映像はありませんが、頭の中でシーンを想像しながら読むので、それが残ります。</p>

<p>この要領でどんどんインプットを増やしていきます。</p>

<h2>アウトプットの方法</h2>

<p>日本語で何かを話すという行為は大まかに２つのステップに分かれます。</p>

<p class="vocabulary">１　まず抽象的な考えが頭の中に浮かぶ</p>
<p class="vocabulary">２　それを自分の知ってる日本語で表現する</p>

<p>日本語を直訳するというのは以下のようになります。</p>

<p class="vocabulary">１　まず抽象的な考えが頭の中に浮かぶ</p>
<p class="vocabulary">２　それをまず自分の知ってる日本語で表現する</p>
<p class="vocabulary">３　その日本語を英語に訳す</p>

<p>でも実際英語を作るステップはこうです。</p>

<p class="vocabulary">１　まず抽象的な考えが頭の中に浮かぶ</p>
<p class="vocabulary">２　それを自分の知っている英語で表現する</p>

<p>日本語は使いません。ではステップ２を詳しく説明していきます。</p>

<h2>ケース１: 言いたい文を丸ごと知ってる</h2>

<p>例えば、What’s your name?という文を知っていて、それを使いたい場面がきたら、そのまま使えますよね。この場合は、「これは正しい英語だな」と自信を持って使えます。これだけで済めば楽ですが、当然そうはいきません。言語というのは無限の組み合わせが可能なので、このケースは会話の５％〜１０％くらいしかないでしょう。当然トピックが難しくなればなるほどこのパーセンテージは下がります。</p>

<h2>ケース２：言いたい文を丸ごと知らないが、断片は知っている</h2>

<p>多くの文はこのケースでしょう。このケースは更に細分化されます。</p>

<p>•単語の入れ替え</p>

<p>以下の２つのインプットがあるとします。</p>
<p class="vocabulary">I like apples - (I like + 名詞複数形)</p>
<p class="vocabulary">banana(appleと同じく名詞)</p>

<p>これらのインプットから</p>
<p class="vocabulary">I like bananas.</p>
<p>という文が作れます。I like bananas.という文は自分の脳のデータベースにないけど、I like apples.という文は正しいということは知っていて、更にbananaも知ってるので、単語を替えれば文が作れます。</p>

<p>•少し複雑な例</p>

<p>インプットは以下の通りです。</p>
    <div class="set">
		  <p class="example">I have a big brother.</p>
			<p class="translation">私には兄が一人います。</p>
		</div>
    <div class="set">
		  <p class="example">He is an architect.</p>
			<p class="translation">彼は建築家です。</p>
		</div>

<p>これらのインプットから</p>
    <div class="set">
		  <p class="example">I have a big brother who is an architect.</p>
			<p class="translation">私には建築家の兄が一人います。</p>
		</div>
<p>という文が作れます。２つの文を形容詞節（関係代名詞）で繋げた形です。当然形容詞節の使い方を知っている必要があります。このような複雑な例になると、正しい英語かどうかという自信がケース１に比べ落る場合もあります。また、ただデータベースから一つのデータを取り出してそのまま使えばいいケース１と違い、ケース２は複数のデータから断片を拾ってきてそれを文法というボンドを使ってくっ付ける作業が必要なので時間がかかります。</p>

<h2>ケース３：日本語で知ってる単語を知らない。</h2>

<p>例えば、尊敬する(respect)という単語を使いたいけど知らないとします。当然ライティングの場合は辞書で調べればいいのですが、和英辞書はあまりお勧めしません。会話の場合は辞書を引いてる時間などありません。こういう場合には、自分が知ってる意味の近い単語を使います。</p>

<p class="vocabulary">I respect him.<br>
=><br>
I like him.</p>
<p>尊敬と好きじゃ意味は違いますが、どちらもポジティブな意味なのでその場は凌げます。尊敬という単語が知らないというだけで何もしゃべれないよりはマシですよね。</p>

<p>勿論文の構造を変えても良いでしょう。</p>
<p class="vocabulary">He is nice.</p>

<p>もう一つ例を見てみましょう。同僚（co-worker）という単語が知らないとします。</p>

<p class="vocabulary">He is my co-worker.<br>
=><br>
We work together.<br>
We work at Google.</p>

<p>このように臨機応変に違う文の構造で表現出来ます。この場合は先ほどの例と違って意味の違いはありません。このような柔軟な思考回路は、主に英訳でしか文を作ったことがない人に欠けています。まず「彼は私の同僚です」という文を作ってその後に「He is my」まで訳せたとしましょう。でも同僚が分からないがために、そこで止まってしまい「He is my…. He is my ….. He is my …... Ahhhhhh!!!!!!」と最後に心の中で発狂しかねません。</p>

<h2>ケース４：言いたいことをどうやって文にしたらいいか分からない。</h2>

<p>これはおそらく一番難しいケースです。ケース３と違い、そもそもどうやって表現したら良いか分からないという場面です。実際そういう場面はよくあります。解決策はケース３と同じで、違う表現で同じ目的を達成します。</p>

<p>例えば、友達にその知り合いを紹介され、２人がどういう知り合いなのか聞きたいとしましょう。この場合</p>
<p class="vocabulary">How do you guys know each other?</p>
<p class="vocabulary">How do you know her?</p>
<p>といった表現が出来ます。でもこれを知らない場合でも、</p>
<div class="set">
<p class="example">Is she your classmate?</p>
<p class="translation">彼女はあなたのクラスメイトですか？</p>
</div>
<p>のように、質問の形式を変えることで、間接的に自分の聞きたいことを聞くことが出来ます。これで相手が</p>
<div class="set">
<p class="example">No, we are both involved in Computer club.</p>
<p class="translation">いえ、私達はどちらもコンピュータークラブに所属しています。</p>
</div>
<p>と言えば「あ〜コンピュータークラブで知り合ったのか」と分かりますよね。</p>

<p>インプットが少ない初心者はケース３とケース４に頻繁に遭遇するでしょう。十分なインプットがあれば大抵ケース１とケース２だけで済みます。しかし初心者というのは誰もが通る道なので、多くの英語を知らない中でも頭を絞って解決策を見つけるスキルが必要になってきます。</p>

<h2>まとめ</h2>

<p>「英語を話せるようになるには実践が必要」と言うのは簡単です。でもただボールを蹴っているだけでサッカー選手になれないのと同じように、ただしゃべってるだけではいつまで経っても英語を話せるようになりません。このポストが、どうやって英語を勉強していいか分からない人のお役に少しでも立てれば幸いです。</p>
  </div>
</article>

{% endblock %}